/*-----------------------------------
        ==Color css==
-----------------------------------*/
.switcher_box{
    z-index: 999;
}
.switcher_box{
    background: #222 none repeat scroll 0 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    right: -330px;
    top: calc(50%  - 100px);
    transform: translateY(-50%);
    width: 330px;
    transition: all .50s linear;
}
.switcher_box.open {
    right: 0;
}
.switcher_gearbox {
    background: #222 none repeat scroll 0 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 50px;
    left: -50px;
    position: absolute;
    text-align: center;
    top: 35%;
    transform: translateY(-50%);
    width: 50px;
    cursor: pointer;
}
.switcher_gearbox i{
    font-size: 20px;
    color: #fff;
    display: inline-block;
    line-height: 50px;
}

.color_changer ul li {
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 32px;
}
.color_changer ul li:last-child {
    margin-right: 0;
}
.color_changer {
    padding-left: 0px;
}
.swicher_part_title {
    color: #fff;
    font-weight: 700;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.switcher_box span{
    padding-bottom: 24px;
    display: inline-block;
}
.color_changer ul li {
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    margin-bottom: 20px;
    position: relative;
    margin-right: 20px;
    width: 32px;
}
.color_changer ul li span {
    left: 9px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transition: all 0.4s linear 0s;
    visibility: hidden;
}
.color_changer ul li span i {
    color: #ddd;
    font-size: 12px;
}
.color_changer ul li.active span {
    opacity: 1;
    visibility: visible;
}

.sticky_controller_box {
    background: #fff none repeat scroll 0 0;
    border-radius: 20px;
    height: 40px;
    position: relative;
    width: 154px;
}
.sticky_off_btn {
    background: #434343 none repeat scroll 0 0;
    border-radius: 20px;
    border-right: 1px solid #fff;
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    height: 86%;
    left: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 82px;
    transition: all .40s linear;
    z-index: 9;
    cursor: pointer;
}
.sticky_off_btn:focus{
    color: #fff;
}
.sticky_off_btn.inactive{
    background: #fff;
    color: #434343;
    left: 71px;
    z-index: 1;
}

.sticky_on_btn {
    background: #fff none repeat scroll 0 0;
    border-radius: 20px;
    border-right: 1px solid #fff;
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
    color: #434343;
    font-size: 14px;
    font-weight: 700;
    height: 86%;
    right: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 82px;
    transition: all .40s linear;
    z-index: 1;
    cursor: pointer;

}
.sticky_on_btn.active{
    right: 71px;
    color: #fff;
    z-index: 9;
}
.sticky_switcher_box{
    padding-top: 25px;
    padding-bottom: 35px;
}
/*--------------------------------------
        ==Primary color==
--------------------------------------*/
.primary10 .primary8_bg,
.primary10 .pricing_table2 .single_pricing_table.active .pricing_table_top,
.primary10 .fbtn.solid.green,
.primary10 .subscribe_field > input[type='submit'],
.primary10 .callt_action_area.primary2_bg,
.primary10 .call_to_action_area.primary9_bg,
.primary10  .primary9 .pricing_table_icon,
.primary10 .pricing_table3.primary9 .single_pricing_table.active .pricing_table_top,
.primary10 .fbtn.primary9_bg ,
.primary10 .work_process2.primary2_bg,
.primary10 .subscritbe_btn1.green,
.primary10 .banner_area .camera_prev span,
.primary10 .fair_tab9 .fair_tab_panel .active a,
.primary10 .fbtn.primary11_bg,
.primary10 .comming_soon_inner_content_bottom input[type='submit'],
.primary10 .carosuel2 .owl-dot.active,
.primary10 .call_to_action_area.primary2_bg ,
.primary10 .solid.blue,
.primary10 .container.primary2_bg,
.primary10 .primary2 .callt_action4.primary2_bg,
.primary10 .fair_tab1 .fair_tab_panel li a,
.primary10 .carousel5 .owl-dot.active,
.primary10 .sticky_on_btn.active,
.primary10  .testimonial4.primary2_bg,
.primary10 .service10 .service_icon,
.primary10 .subscritbe_btn1.green, .btn_type3.green,.primary10 .case_study_hoverable_content.green .read_more_btn::before,
.primary10 .banner11 .camera_next:hover span, .primary10 .banner11 .camera_prev:hover span,
.primary10 .service_features .service_features_content_area,
.primary10 .service7 .service_hover,
.primary10 .fair_tab .fair_tab_panel li.active a,
.primary10 .single_pricing_table.active .btn_type4,
.primary10 .btn_type4:hover,
.primary10 .pricing_table3 .single_pricing_table.active .pricing_table_top,
.primary10  .pricing_table3 .single_pricing_table.active .pricing_table_icon,
.primary10 .skill .progress-bar,
.primary10 .fbtn7.solid.blue,
.primary10 .fbtn6.blue.solid,
.primary10 .pagination2 ul li a:hover,
.primary10 .textContentSlider .owl-next:hover,.textContentSlider .owl-prev:hover,
.primary10 .carosuel3 .owl-prev:hover,
.primary10 .carosuel3 .owl-next:hover,
.primary10 .accordion4 .accordion_heading a::after,
.primary10 .accordion3 .accordion_heading a,
.primary10 .subscritbe_btn1.fair_blue,
.primary10 .banner_area .camera_next span,.primary10 .banner_area .camera_prev span,
.primary10 .banner_area4 .camera_next:hover span,.primary10 .banner_area4 .camera_prev:hover span,
.primary10 .btn_type2.fair_blue,
.primary10 .client_image::before,
.primary10 .go-top,
.primary10 .btn_type2 {
    background: #0482f8 none repeat scroll 0 0 !important;
}

.primary10 .project_container a h5:hover,
.primary10 .features5 .features_icon i,
.primary10 .form_container_bottom_area span a,
.primary10  .form4 .form_container_middle_area a,
.primary10 .pricing_table3 .pricing_table_top ul li,
.primary10 .pricing_table2 .pricing_table_top ul li,
.primary10 .menuzord.fair_green .menuzord-menu ul.dropdown li:hover > a,
.primary10 .menuzord.fair_green .menuzord-menu > li:hover > a,
.primary10 .menuzord.fair_green .menuzord-menu > li.active > a,
.primary10 .single_service_container2.green:hover i,
.primary10 .footer_links.blue ul li:hover a,
.primary10  .social_icon.blue ul li:hover a i,
.primary10 .nvaigation_area.type3 .menuzord.primary9 .menuzord-menu li a:hover,
.primary10  .pricing_table_top ul li:after,
.primary10 .primary9 .pricing_table_top ul li,
.primary10 .nvaigation_area.type3.orange_navigation .menuzord-menu li a:hover,.primary10 .nvaigation_area.orange_navigation .menuzord .menuzord-menu li:hover > a,
.primary10  .testimonial9 .testimonial_heading ul li i,
.primary10  .about_author_inner_content a.primary8:hover i,
.primary10 .about_author_inner_content a.primary8:hover,
.primary10 .features3 .features_icon i,
.primary10 .social_icon.green ul li:hover i,
.primary10 .social_icon_bar4.primary11 ul li:hover a i,
.primary10 .fair_tab1 .tab-content a,
.primary10 .features6 .features_icon i,
.primary10 .footer_links.green ul li:hover a,
.primary10 .social_bar3.primary9 ul li a:hover i,
.primary10 .callt_action4.primary2_bg,
.primary10 .features2 .features_icon i,
.primary10 .features2 .features_icon i,
.primary10 .service8 .service_content a,
.primary10 footer.primary2 .footer_widget_body ul li a:hover,
.primary10 .fair_blue .mega_menu_half_content .single_menu_list > a:hover,
.primary10 .service10 .service_content a.blue,
.primary10 .service9 .single_service_body a.blue:hover,
.primary10 .social_icon_bar3.blue li:hover a i,
.primary10 .block3 ul li .block_icon i,
.primary10 .search_box input[type="submit"]:hover,
.primary10 .project1 .more_btn:hover,
.primary10 .social_icon_bar1.blue li a:hover i,
.primary10 .social_icon_bar2.blue li a i:hover,
.primary10 .drop_down2 .menuzord.fair_blue .single_menu_list a:hover,
.primary10 .features1 .features_icon i,
.primary10 .pricing_table1 .pricing_table_top ul li,
.primary10 .single_facts_container i,
.primary10 .pricing_table1 .pricing_table_top .fz_60,
.primary10 .pricing_table2 .pricing_table_top .fz_60,
.primary10 .title2.fair_blue:hover,
.primary10 .single_service_container2.fair_blue i,
.primary10 .work_process_content a,
.primary10 .work_process_icon i,
.primary10 .service4_icon i,
.primary10 .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary10 .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary10 .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a,
.primary10 .single_service_container > a.fair_blue i,
.primary10 .single_service_container > a.fair_blue,
.primary10 .single_service_container > a:hover,
.primary10 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li a i,
.primary10 .footer_widget_body ul li a:hover,
.primary10 .speciality_icon i,
.primary10 .project_container a h5.primary2:hover,
.primary10 .section_title a,
.primary10 .single_service_container i,
.primary10 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary10 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary10 .nvaigation_area .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a {
    color: #0482f8  !important;
}

.primary10  .fair_tab .fair_tab_panel li.active a,
.primary10 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary10 .features5 .features_icon,
.primary10 .pagination2 ul li a:hover,
.primary10 .pricing_table1 .single_pricing_table.active .pricing_table_top,
.primary10 .pricing_table1 .single_pricing_table.active,
.primary10 .clients2 a:hover,
.primary10  .case_study_hoverable_content.green .read_more_btn:hover,
.primary10 .features4 .single_features_container:hover .features_icon::before,
.primary10 .speciality_icon,
.primary10 .fair_tab1 .fair_tab_panel li a,
.primary10 .fair_tab1.content .fair_tab_panel li a,
.primary10 .fair_tab1 .fair_tab_panel li.active a{
    border-color: #0482f8 !important;
}
.primary10 .overlay3{
    background: rgba(4,130,248,.85);
}
.primary10 .radius_border,
.primary10 .job_post_carousel .owl-item.center .single_job_post_container {
    box-shadow: 0 5px 0 #0482f8;
}
.primary10 .dropdown {
    box-shadow: 0 5px 0 0px #0482f8, 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
}
.primary10 .carosuel2 .owl-dot {
    background: rgba(4,130, 248, 0.5) none repeat scroll 0 0;
}

.primary10 .nvaigation_area.orange_navigation .dropdown {
    box-shadow: 0 5px 0 0 #0482f8, 0 10px 8px 0 rgba(0, 0, 0, 0.1);
}


.primary10 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a i,.primary10 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a,
.primary10 .fair_tab5.fair_tab .fair_tab_panel li.active a,
.primary10 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary10  .pricing_table3 .single_pricing_table.active .pricing_table_top ul li:after,
.primary10 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li,
.primary10 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li::after,
.primary10 .pricing_table2 .single_pricing_table.active .pricing_table_top .fz_60,
.primary10 .pricing_table3 .single_pricing_table.active .pricing_table_top ul li {
    color: #fff !important;
}
.primary10  .drop_down1 .fair_green .dropdown,
.primary10 .banner10 .drop_down1 .dropdown {
    box-shadow: 0 4px 0 #0482f8;
}
.primary10 .drop_down2 svg{
    fill: #0482f8;
}
.primary10 .fair_tab5.fair_tab .fair_tab_panel li.active a {
    color: #0482f8 !important;
    border-color: #0482f8;
    background: #fff;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
}
.primary10 .fair_tab5.fair_tab .fair_tab_panel li.active a,
.primary10 .accordion3 .accordion_heading a.collapsed{
    background: #fff !important;
}
.primary10  .ddt2 .dd0 {
    fill: #0482f8;
}
.primary10 .section_title a {
  text-decoration: underline #0482f8;
}
/*--------------------------------------
        ==Primary color10
--------------------------------------*/

/*----------------------------------
        ==Primary19==
----------------------------------*/
.primary19 .primary8_bg,
.primary19 .callt_action_area.primary2_bg,
.primary19 .pricing_table2 .single_pricing_table.active .pricing_table_top,
.primary19 .fbtn.solid.green,
.primary19 .subscribe_field > input[type='submit'],
.primary19 .callt_action_area.primary19_bg,
.primary19 .call_to_action_area.primary9_bg,
.primary19  .primary9 .pricing_table_icon,
.primary19 .pricing_table3.primary9 .single_pricing_table.active .pricing_table_top,
.primary19 .fbtn.primary9_bg ,
.primary19 .work_process2.primary19_bg,
.primary19 .subscritbe_btn1.green,
.primary19 .banner_area .camera_prev span,
.primary19 .fair_tab9 .fair_tab_panel .active a,
.primary19 .fbtn.primary11_bg,
.primary19 .comming_soon_inner_content_bottom input[type='submit'],
.primary19 .carosuel2 .owl-dot.active,
.primary19 .call_to_action_area.primary19_bg ,
.primary19 .solid.blue,
.primary19 .container.primary19_bg,
.primary19 .primary19 .callt_action4.primary19_bg,
.primary19 .fair_tab1 .fair_tab_panel li a,
.primary19 .carousel5 .owl-dot.active,
.primary19 .sticky_on_btn.active,
.primary19  .testimonial4.primary19_bg,
.primary19 .service10 .service_icon,
.primary19 .subscritbe_btn1.green, .btn_type3.green,.primary19 .case_study_hoverable_content.green .read_more_btn::before,
.primary19 .banner11 .camera_next:hover span, .primary19 .banner11 .camera_prev:hover span,
.primary19 .service_features .service_features_content_area,
.primary19 .service7 .service_hover,
.primary19 .fair_tab .fair_tab_panel li.active a,
.primary19 .single_pricing_table.active .btn_type4,
.primary19 .btn_type4:hover,
.primary19 .pricing_table3 .single_pricing_table.active .pricing_table_top,
.primary19  .pricing_table3 .single_pricing_table.active .pricing_table_icon,
.primary19 .skill .progress-bar,
.primary19 .fbtn7.solid.blue,
.primary19 .fbtn6.blue.solid,
.primary19 .pagination2 ul li a:hover,
.primary19 .textContentSlider .owl-next:hover,.textContentSlider .owl-prev:hover,
.primary19 .carosuel3 .owl-prev:hover,
.primary19 .carosuel3 .owl-next:hover,
.primary19 .accordion4 .accordion_heading a::after,
.primary19 .accordion3 .accordion_heading a,
.primary19 .subscritbe_btn1.fair_blue,
.primary19 .banner_area .camera_next span,.primary19 .banner_area .camera_prev span,
.primary19 .banner_area4 .camera_next:hover span,.primary19 .banner_area4 .camera_prev:hover span,
.primary19 .btn_type2.fair_blue,
.primary19 .accordion3 .accordion_heading a,
.primary19 .go-top,
.primary19 .container.primary2_bg,
.primary19 .callt_action10.primary2_bg,
.primary19 .callt_action5.primary2_bg,
.primary19 .callt_action4.primary2_bg,
.primary19 .work_process2.primary2_bg,
.primary19 .testimonial4.primary2_bg,
.primary19 .primary19 .client_image::before,
.primary19 .btn_type2 {
    background: #365cff none repeat scroll 0 0 !important;
}
.primary19 .project_container a h5:hover,
.primary19 .features5 .features_icon i,
.primary19 .form_container_bottom_area span a,
.primary19  .form4 .form_container_middle_area a,
.primary19 .pricing_table3 .pricing_table_top ul li,
.primary19 .pricing_table2 .pricing_table_top ul li,
.primary19 .menuzord.fair_green .menuzord-menu ul.dropdown li:hover > a,
.primary19 .menuzord.fair_green .menuzord-menu > li:hover > a,
.primary19 .menuzord.fair_green .menuzord-menu > li.active > a,
.primary19 .single_service_container2.green:hover i,
.primary19 .footer_links.blue ul li:hover a,
.primary19  .social_icon.blue ul li:hover a i,
.primary19 .nvaigation_area.type3 .menuzord.primary9 .menuzord-menu li a:hover,
.primary19  .pricing_table_top ul li:after,
.primary19 .primary9 .pricing_table_top ul li,
.primary19 .nvaigation_area.type3.orange_navigation .menuzord-menu li a:hover,.primary19 .nvaigation_area.orange_navigation .menuzord .menuzord-menu li:hover > a,
.primary19  .testimonial9 .testimonial_heading ul li i,
.primary19  .about_author_inner_content a.primary8:hover i,
.primary19 .about_author_inner_content a.primary8:hover,
.primary19 .features3 .features_icon i,
.primary19 .social_icon.green ul li:hover i,
.primary19 .social_icon_bar4.primary11 ul li:hover a i,
.primary19 .fair_tab1 .tab-content a,
.primary19 .features6 .features_icon i,
.primary19 .footer_links.green ul li:hover a,
.primary19 .social_bar3.primary9 ul li a:hover i,
.primary19 .callt_action4.primary19_bg,
.primary19 .features2 .features_icon i,
.primary19 .features2 .features_icon i,
.primary19 .service8 .service_content a,
.primary19 footer.primary19 .footer_widget_body ul li a:hover,
.primary19 .fair_blue .mega_menu_half_content .single_menu_list > a:hover,
.primary19 .service10 .service_content a.blue,
.primary19 .service9 .single_service_body a.blue:hover,
.primary19 .social_icon_bar3.blue li:hover a i,
.primary19 .block3 ul li .block_icon i,
.primary19 .search_box input[type="submit"]:hover,
.primary19 .project1 .more_btn:hover,
.primary19 .social_icon_bar1.blue li a:hover i,
.primary19 .social_icon_bar2.blue li a i:hover,
.primary19 .drop_down2 .menuzord.fair_blue .single_menu_list a:hover,
.primary19 .features1 .features_icon i,
.primary19 .pricing_table1 .pricing_table_top ul li,
.primary19 .single_facts_container i,
.primary19 .pricing_table1 .pricing_table_top .fz_60,
.primary19 .pricing_table2 .pricing_table_top .fz_60,
.primary19 .title2.fair_blue:hover,
.primary19 .single_service_container2.fair_blue i,
.primary19 .work_process_content a,
.primary19 .work_process_icon i,
.primary19 .service4_icon i,
.primary19 .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary19 .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary19 .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a,
.primary19 .single_service_container > a.fair_blue i,
.primary19 .single_service_container > a.fair_blue,
.primary19 .single_service_container > a:hover,
.primary19 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li a i,
.primary19 .footer_widget_body ul li a:hover,
.primary19 .speciality_icon i,
.primary19 .project_container a h5.primary19:hover,
.primary19 .section_title a,
.primary19 .single_service_container i,
.primary19 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary19 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary19 .nvaigation_area .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a {
    color: #365cff  !important;
}


.primary19  .fair_tab .fair_tab_panel li.active a,
.primary19 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary19 .features5 .features_icon,
.primary19 .pagination2 ul li a:hover,
.primary19 .pricing_table1 .single_pricing_table.active .pricing_table_top,
.primary19 .pricing_table1 .single_pricing_table.active,
.primary19 .clients2 a:hover,
.primary19  .case_study_hoverable_content.green .read_more_btn:hover,
.primary19 .features4 .single_features_container:hover .features_icon::before,
.primary19 .speciality_icon,
.primary19 .fair_tab1 .fair_tab_panel li a,
.primary19 .fair_tab1.content .fair_tab_panel li a,
.primary19 .fair_tab1 .fair_tab_panel li.active a{
    border-color: #365cff !important;
}
.primary19 .overlay3{
    background: rgba(54,92,255,.85);
}
.primary19 .radius_border,
.primary19 .job_post_carousel .owl-item.center .single_job_post_container {
    box-shadow: 0 5px 0 #365cff;
}
.primary19 .dropdown {
    box-shadow: 0 5px 0 0px #365cff, 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
}
.primary19 .carosuel2 .owl-dot {
    background: rgba(54,92, 255, 0.5) none repeat scroll 0 0;
}

.primary19 .nvaigation_area.orange_navigation .dropdown {
    box-shadow: 0 5px 0 0 #365cff, 0 10px 8px 0 rgba(0, 0, 0, 0.1);
}


.primary19 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a i,.primary19 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a,
.primary19 .fair_tab5.fair_tab .fair_tab_panel li.active a,
.primary19 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary19  .pricing_table3 .single_pricing_table.active .pricing_table_top ul li:after,
.primary19 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li,
.primary19 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li::after,
.primary19 .pricing_table2 .single_pricing_table.active .pricing_table_top .fz_60,
.primary19 .pricing_table3 .single_pricing_table.active .pricing_table_top ul li {
    color: #fff !important;
}
.primary19  .drop_down1 .fair_green .dropdown,
.primary19 .banner10 .drop_down1 .dropdown {
    box-shadow: 0 4px 0 #365cff;
}
.primary19 .ddt2 .dd1 {
    fill: #3153e3;
}
.primary19 .ddt2 .dd0 {
    fill: #365cff;
}
.primary19 .fair_tab5.fair_tab .fair_tab_panel li.active a,
.primary19 .accordion3 .accordion_heading a.collapsed{
    background: #fff !important;
}
.primary19 .fair_tab5.fair_tab .fair_tab_panel li.active a {
    color: #365cff !important;
    border-color: #365cff;
    background: #fff;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
}
.primary19 .section_title a {
  text-decoration: underline #0482f8;
}
/*----------------------------------
        ==Primary3==
----------------------------------*/
.primary3 .callt_action_area.primary2_bg,
.primary3 .primary8_bg,
.primary3 .pricing_table2 .single_pricing_table.active .pricing_table_top,
.primary3 .fbtn.solid.green,
.primary3 .subscribe_field > input[type='submit'],
.primary3 .callt_action_area.primary3_bg,
.primary3 .call_to_action_area.primary9_bg,
.primary3  .primary9 .pricing_table_icon,
.primary3 .pricing_table3.primary9 .single_pricing_table.active .pricing_table_top,
.primary3 .fbtn.primary9_bg ,
.primary3 .work_process2.primary3_bg,
.primary3 .subscritbe_btn1.green,
.primary3 .banner_area .camera_prev span,
.primary3 .fair_tab9 .fair_tab_panel .active a,
.primary3 .fbtn.primary11_bg,
.primary3 .comming_soon_inner_content_bottom input[type='submit'],
.primary3 .carosuel2 .owl-dot.active,
.primary3 .call_to_action_area.primary3_bg ,
.primary3 .solid.blue,
.primary3 .container.primary3_bg,
.primary3 .primary3 .callt_action4.primary3_bg,
.primary3 .fair_tab1 .fair_tab_panel li a,
.primary3 .carousel5 .owl-dot.active,
.primary3 .sticky_on_btn.active,
.primary3  .testimonial4.primary3_bg,
.primary3 .service10 .service_icon,
.primary3 .subscritbe_btn1.green, .btn_type3.green,.primary3 .case_study_hoverable_content.green .read_more_btn::before,
.primary3 .banner11 .camera_next:hover span, .primary3 .banner11 .camera_prev:hover span,
.primary3 .service_features .service_features_content_area,
.primary3 .service7 .service_hover,
.primary3 .fair_tab .fair_tab_panel li.active a,
.primary3 .single_pricing_table.active .btn_type4,
.primary3 .btn_type4:hover,
.primary3 .pricing_table3 .single_pricing_table.active .pricing_table_top,
.primary3  .pricing_table3 .single_pricing_table.active .pricing_table_icon,
.primary3 .skill .progress-bar,
.primary3 .fbtn7.solid.blue,
.primary3 .fbtn6.blue.solid,
.primary3 .pagination2 ul li a:hover,
.primary3 .textContentSlider .owl-next:hover,.textContentSlider .owl-prev:hover,
.primary3 .carosuel3 .owl-prev:hover,
.primary3 .carosuel3 .owl-next:hover,
.primary3 .accordion4 .accordion_heading a::after,
.primary3 .accordion3 .accordion_heading a,
.primary3 .subscritbe_btn1.fair_blue,
.primary3 .banner_area .camera_next span,.primary3 .banner_area .camera_prev span,
.primary3 .banner_area4 .camera_next:hover span,.primary3 .banner_area4 .camera_prev:hover span,
.primary3 .btn_type2.fair_blue,
.primary3 .accordion3 .accordion_heading a,
.primary3 .go-top,
.primary3 .container.primary2_bg,
.primary3 .callt_action10.primary2_bg,
.primary3 .callt_action5.primary2_bg,
.primary3 .testimonial4.primary2_bg,
.primary3 .callt_action4.primary2_bg,
.primary3 .client_image::before,
.primary3 .work_process2.primary2_bg,
.primary3 .btn_type2 {
    background: #31639c none repeat scroll 0 0 !important;
}

.primary3 .project_container a h5:hover,
.primary3 .features5 .features_icon i,
.primary3 .form_container_bottom_area span a,
.primary3  .form4 .form_container_middle_area a,
.primary3 .pricing_table3 .pricing_table_top ul li,
.primary3 .pricing_table2 .pricing_table_top ul li,
.primary3 .menuzord.fair_green .menuzord-menu ul.dropdown li:hover > a,
.primary3 .menuzord.fair_green .menuzord-menu > li:hover > a,
.primary3 .menuzord.fair_green .menuzord-menu > li.active > a,
.primary3 .single_service_container2.green:hover i,
.primary3 .footer_links.blue ul li:hover a,
.primary3  .social_icon.blue ul li:hover a i,
.primary3 .nvaigation_area.type3 .menuzord.primary9 .menuzord-menu li a:hover,
.primary3  .pricing_table_top ul li:after,
.primary3 .primary9 .pricing_table_top ul li,
.primary3 .nvaigation_area.type3.orange_navigation .menuzord-menu li a:hover,.primary3 .nvaigation_area.orange_navigation .menuzord .menuzord-menu li:hover > a,
.primary3  .testimonial9 .testimonial_heading ul li i,
.primary3  .about_author_inner_content a.primary8:hover i,
.primary3 .about_author_inner_content a.primary8:hover,
.primary3 .features3 .features_icon i,
.primary3 .social_icon.green ul li:hover i,
.primary3 .social_icon_bar4.primary11 ul li:hover a i,
.primary3 .fair_tab1 .tab-content a,
.primary3 .features6 .features_icon i,
.primary3 .footer_links.green ul li:hover a,
.primary3 .social_bar3.primary9 ul li a:hover i,
.primary3 .callt_action4.primary3_bg,
.primary3 .features2 .features_icon i,
.primary3 .features2 .features_icon i,
.primary3 .service8 .service_content a,
.primary3 footer.primary3 .footer_widget_body ul li a:hover,
.primary3 .fair_blue .mega_menu_half_content .single_menu_list > a:hover,
.primary3 .service10 .service_content a.blue,
.primary3 .service9 .single_service_body a.blue:hover,
.primary3 .social_icon_bar3.blue li:hover a i,
.primary3 .block3 ul li .block_icon i,
.primary3 .search_box input[type="submit"]:hover,
.primary3 .project1 .more_btn:hover,
.primary3 .social_icon_bar1.blue li a:hover i,
.primary3 .social_icon_bar2.blue li a i:hover,
.primary3 .drop_down2 .menuzord.fair_blue .single_menu_list a:hover,
.primary3 .features1 .features_icon i,
.primary3 .pricing_table1 .pricing_table_top ul li,
.primary3 .single_facts_container i,
.primary3 .pricing_table1 .pricing_table_top .fz_60,
.primary3 .pricing_table2 .pricing_table_top .fz_60,
.primary3 .title2.fair_blue:hover,
.primary3 .single_service_container2.fair_blue i,
.primary3 .work_process_content a,
.primary3 .work_process_icon i,
.primary3 .service4_icon i,
.primary3 .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary3 .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary3 .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a,
.primary3 .single_service_container > a.fair_blue i,
.primary3 .single_service_container > a.fair_blue,
.primary3 .single_service_container > a:hover,
.primary3 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li a i,
.primary3 .footer_widget_body ul li a:hover,
.primary3 .speciality_icon i,
.primary3 .project_container a h5.primary3:hover,
.primary3 .section_title a,
.primary3 .single_service_container i,
.primary3 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary3 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary3 .nvaigation_area .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a {
    color: #31639c  !important;
}


.primary3  .fair_tab .fair_tab_panel li.active a,
.primary3 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary3 .features5 .features_icon,
.primary3 .pagination2 ul li a:hover,
.primary3 .pricing_table1 .single_pricing_table.active .pricing_table_top,
.primary3 .pricing_table1 .single_pricing_table.active,
.primary3 .clients2 a:hover,
.primary3  .case_study_hoverable_content.green .read_more_btn:hover,
.primary3 .features4 .single_features_container:hover .features_icon::before,
.primary3 .speciality_icon,
.primary3 .fair_tab1 .fair_tab_panel li a,
.primary3 .fair_tab1.content .fair_tab_panel li a,
.primary3 .fair_tab1 .fair_tab_panel li.active a{
    border-color: #31639c !important;
}
.primary3 .overlay3{
    background: rgba(49,99,156,.85);
}
.primary3 .radius_border,
.primary3 .job_post_carousel .owl-item.center .single_job_post_container {
    box-shadow: 0 5px 0 #31639c;
}
.primary3 .dropdown {
    box-shadow: 0 5px 0 0px #31639c, 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
}
.primary3 .carosuel2 .owl-dot {
    background: rgba(49,99, 156, 0.5) none repeat scroll 0 0;
}

.primary3 .nvaigation_area.orange_navigation .dropdown {
    box-shadow: 0 5px 0 0 #31639c, 0 10px 8px 0 rgba(0, 0, 0, 0.1);
}


.primary3 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a i,.primary3 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a,
.primary3 .fair_tab5.fair_tab .fair_tab_panel li.active a,
.primary3 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary3  .pricing_table3 .single_pricing_table.active .pricing_table_top ul li:after,
.primary3 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li,
.primary3 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li::after,
.primary3 .pricing_table2 .single_pricing_table.active .pricing_table_top .fz_60,
.primary3 .pricing_table3 .single_pricing_table.active .pricing_table_top ul li {
    color: #fff !important;
}
.primary3  .drop_down1 .fair_green .dropdown,
.primary3 .banner10 .drop_down1 .dropdown {
    box-shadow: 0 4px 0 #31639c;
}
.primary3 .drop_down2 svg{
    fill: #31639c;
}
.primary3 .ddt2 .dd1 {
    fill: #295587;
}
.primary3 .ddt2 .dd0 {
    fill: #31639c;
}
.primary3 .fair_tab5.fair_tab .fair_tab_panel li.active a ,
.primary3 .accordion3 .accordion_heading a.collapsed{
    background: #fff !important;
}

.primary3 .fair_tab5.fair_tab .fair_tab_panel li.active a {
    color: #31639c !important;
    border-color: #31639c;
    background: #fff;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
}
.primary3 .section_title a {
    text-decoration: underline #31639c;
}
/*----------------------------------
        ==Primary4==
----------------------------------*/
.primary4 .callt_action_area.primary2_bg,
.primary4 .primary8_bg,
.primary4 .pricing_table2 .single_pricing_table.active .pricing_table_top,
.primary4 .fbtn.solid.green,
.primary4 .subscribe_field > input[type='submit'],
.primary4 .callt_action_area.primary4_bg,
.primary4 .call_to_action_area.primary9_bg,
.primary4  .primary9 .pricing_table_icon,
.primary4 .pricing_table3.primary9 .single_pricing_table.active .pricing_table_top,
.primary4 .fbtn.primary9_bg ,
.primary4 .work_process2.primary4_bg,
.primary4 .subscritbe_btn1.green,
.primary4 .banner_area .camera_prev span,
.primary4 .fair_tab9 .fair_tab_panel .active a,
.primary4 .fbtn.primary11_bg,
.primary4 .comming_soon_inner_content_bottom input[type='submit'],
.primary4 .carosuel2 .owl-dot.active,
.primary4 .call_to_action_area.primary4_bg ,
.primary4 .solid.blue,
.primary4 .container.primary4_bg,
.primary4 .primary4 .callt_action4.primary4_bg,
.primary4 .fair_tab1 .fair_tab_panel li a,
.primary4 .carousel5 .owl-dot.active,
.primary4 .sticky_on_btn.active,
.primary4  .testimonial4.primary4_bg,
.primary4 .service10 .service_icon,
.primary4 .subscritbe_btn1.green, .btn_type3.green,.primary4 .case_study_hoverable_content.green .read_more_btn::before,
.primary4 .banner11 .camera_next:hover span, .primary4 .banner11 .camera_prev:hover span,
.primary4 .service_features .service_features_content_area,
.primary4 .service7 .service_hover,
.primary4 .fair_tab .fair_tab_panel li.active a,
.primary4 .single_pricing_table.active .btn_type4,
.primary4 .btn_type4:hover,
.primary4 .pricing_table3 .single_pricing_table.active .pricing_table_top,
.primary4  .pricing_table3 .single_pricing_table.active .pricing_table_icon,
.primary4 .skill .progress-bar,
.primary4 .fbtn7.solid.blue,
.primary4 .fbtn6.blue.solid,
.primary4 .pagination2 ul li a:hover,
.primary4 .textContentSlider .owl-next:hover,.textContentSlider .owl-prev:hover,
.primary4 .carosuel3 .owl-prev:hover,
.primary4 .carosuel3 .owl-next:hover,
.primary4 .accordion4 .accordion_heading a::after,
.primary4 .accordion3 .accordion_heading a,
.primary4 .subscritbe_btn1.fair_blue,
.primary4 .banner_area .camera_next span,.primary4 .banner_area .camera_prev span,
.primary4 .banner_area4 .camera_next:hover span,.primary4 .banner_area4 .camera_prev:hover span,
.primary4 .btn_type2.fair_blue,
.primary4 .accordion3 .accordion_heading a,
.primary4 .client_image::before,
.primary4 .container.primary2_bg,
.primary4 .callt_action10.primary2_bg,
.primary4 .callt_action5.primary2_bg,
.primary4 .work_process2.primary2_bg,
.primary4 .testimonial4.primary2_bg,
.primary4 .callt_action4.primary2_bg,
.primary4 .go-top,
.primary4 .btn_type2 {
    background: #91cc00 none repeat scroll 0 0 !important;
}


.primary4 .project_container a h5:hover,
.primary4 .features5 .features_icon i,
.primary4 .form_container_bottom_area span a,
.primary4  .form4 .form_container_middle_area a,
.primary4 .pricing_table3 .pricing_table_top ul li,
.primary4 .pricing_table2 .pricing_table_top ul li,
.primary4 .menuzord.fair_green .menuzord-menu ul.dropdown li:hover > a,
.primary4 .menuzord.fair_green .menuzord-menu > li:hover > a,
.primary4 .menuzord.fair_green .menuzord-menu > li.active > a,
.primary4 .single_service_container2.green:hover i,
.primary4 .footer_links.blue ul li:hover a,
.primary4  .social_icon.blue ul li:hover a i,
.primary4 .nvaigation_area.type3 .menuzord.primary9 .menuzord-menu li a:hover,
.primary4  .pricing_table_top ul li:after,
.primary4 .primary9 .pricing_table_top ul li,
.primary4 .nvaigation_area.type3.orange_navigation .menuzord-menu li a:hover,.primary4 .nvaigation_area.orange_navigation .menuzord .menuzord-menu li:hover > a,
.primary4  .testimonial9 .testimonial_heading ul li i,
.primary4  .about_author_inner_content a.primary8:hover i,
.primary4 .about_author_inner_content a.primary8:hover,
.primary4 .features3 .features_icon i,
.primary4 .social_icon.green ul li:hover i,
.primary4 .social_icon_bar4.primary11 ul li:hover a i,
.primary4 .fair_tab1 .tab-content a,
.primary4 .features6 .features_icon i,
.primary4 .footer_links.green ul li:hover a,
.primary4 .social_bar3.primary9 ul li a:hover i,
.primary4 .callt_action4.primary4_bg,
.primary4 .features2 .features_icon i,
.primary4 .features2 .features_icon i,
.primary4 .service8 .service_content a,
.primary4 footer.primary4 .footer_widget_body ul li a:hover,
.primary4 .fair_blue .mega_menu_half_content .single_menu_list > a:hover,
.primary4 .service10 .service_content a.blue,
.primary4 .service9 .single_service_body a.blue:hover,
.primary4 .social_icon_bar3.blue li:hover a i,
.primary4 .block3 ul li .block_icon i,
.primary4 .search_box input[type="submit"]:hover,
.primary4 .project1 .more_btn:hover,
.primary4 .social_icon_bar1.blue li a:hover i,
.primary4 .social_icon_bar2.blue li a i:hover,
.primary4 .drop_down2 .menuzord.fair_blue .single_menu_list a:hover,
.primary4 .features1 .features_icon i,
.primary4 .pricing_table1 .pricing_table_top ul li,
.primary4 .single_facts_container i,
.primary4 .pricing_table1 .pricing_table_top .fz_60,
.primary4 .pricing_table2 .pricing_table_top .fz_60,
.primary4 .title2.fair_blue:hover,
.primary4 .single_service_container2.fair_blue i,
.primary4 .work_process_content a,
.primary4 .work_process_icon i,
.primary4 .service4_icon i,
.primary4 .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary4 .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary4 .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a,
.primary4 .single_service_container > a.fair_blue i,
.primary4 .single_service_container > a.fair_blue,
.primary4 .single_service_container > a:hover,
.primary4 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li a i,
.primary4 .footer_widget_body ul li a:hover,
.primary4 .speciality_icon i,
.primary4 .project_container a h5.primary4:hover,
.primary4 .section_title a,
.primary4 .single_service_container i,
.primary4 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary4 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary4 .nvaigation_area .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a {
    color: #91cc00  !important;
}


.primary4  .fair_tab .fair_tab_panel li.active a,
.primary4 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary4 .features5 .features_icon,
.primary4 .pagination2 ul li a:hover,
.primary4 .pricing_table1 .single_pricing_table.active .pricing_table_top,
.primary4 .pricing_table1 .single_pricing_table.active,
.primary4 .clients2 a:hover,
.primary4  .case_study_hoverable_content.green .read_more_btn:hover,
.primary4 .features4 .single_features_container:hover .features_icon::before,
.primary4 .speciality_icon,
.primary4 .fair_tab1 .fair_tab_panel li a,
.primary4 .fair_tab1.content .fair_tab_panel li a,
.primary4 .fair_tab1 .fair_tab_panel li.active a{
    border-color: #91cc00 !important;
}
.primary4 .overlay3{
    background: rgba(145,204,0,.85);
}
.primary4 .radius_border,
.primary4 .job_post_carousel .owl-item.center .single_job_post_container {
    box-shadow: 0 5px 0 #91cc00;
}
.primary4 .dropdown {
    box-shadow: 0 5px 0 0px #91cc00, 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
}
.primary4 .carosuel2 .owl-dot {
    background: rgba(145,204, 0, 0.5) none repeat scroll 0 0;
}

.primary4 .nvaigation_area.orange_navigation .dropdown {
    box-shadow: 0 5px 0 0 #91cc00, 0 10px 8px 0 rgba(0, 0, 0, 0.1);
}


.primary4 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a i,.primary4 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a,
.primary4 .fair_tab5.fair_tab .fair_tab_panel li.active a,
.primary4 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary4  .pricing_table3 .single_pricing_table.active .pricing_table_top ul li:after,
.primary4 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li,
.primary4 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li::after,
.primary4 .pricing_table2 .single_pricing_table.active .pricing_table_top .fz_60,
.primary4 .pricing_table3 .single_pricing_table.active .pricing_table_top ul li {
    color: #fff !important;
}
.primary4  .drop_down1 .fair_green .dropdown,
.primary4 .banner10 .drop_down1 .dropdown {
    box-shadow: 0 4px 0 #91cc00;
}
.primary4 .drop_down2 svg{
    fill: #91cc00;
}
.primary4 .ddt2 .dd1 {
    fill: #85ba02;
}
.primary4 .ddt2 .dd0 {
    fill: #91cc00;
}
.primary4 .fair_tab5.fair_tab .fair_tab_panel li.active a,
.primary4 .accordion3 .accordion_heading a.collapsed{
    background: #fff !important;
}
.primary4 .fair_tab5.fair_tab .fair_tab_panel li.active a {
    color: #91cc00 !important;
    border-color: #91cc00;
    background: #fff;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
}
.primary4 .section_title a {
    text-decoration: underline #91cc00;
}
/*----------------------------------
        ==Primary5==
----------------------------------*/
.primary5 .callt_action_area.primary2_bg,
.primary5 .primary8_bg,
.primary5 .pricing_table2 .single_pricing_table.active .pricing_table_top,
.primary5 .fbtn.solid.green,
.primary5 .subscribe_field > input[type='submit'],
.primary5 .callt_action_area.primary5_bg,
.primary5 .call_to_action_area.primary9_bg,
.primary5  .primary9 .pricing_table_icon,
.primary5 .pricing_table3.primary9 .single_pricing_table.active .pricing_table_top,
.primary5 .fbtn.primary9_bg ,
.primary5 .work_process2.primary5_bg,
.primary5 .subscritbe_btn1.green,
.primary5 .banner_area .camera_prev span,
.primary5 .fair_tab9 .fair_tab_panel .active a,
.primary5 .fbtn.primary11_bg,
.primary5 .comming_soon_inner_content_bottom input[type='submit'],
.primary5 .carosuel2 .owl-dot.active,
.primary5 .call_to_action_area.primary5_bg ,
.primary5 .solid.blue,
.primary5 .container.primary5_bg,
.primary5 .primary5 .callt_action4.primary5_bg,
.primary5 .fair_tab1 .fair_tab_panel li a,
.primary5 .carousel5 .owl-dot.active,
.primary5 .sticky_on_btn.active,
.primary5  .testimonial4.primary5_bg,
.primary5 .service10 .service_icon,
.primary5 .subscritbe_btn1.green, .btn_type3.green,.primary5 .case_study_hoverable_content.green .read_more_btn::before,
.primary5 .banner11 .camera_next:hover span, .primary5 .banner11 .camera_prev:hover span,
.primary5 .service_features .service_features_content_area,
.primary5 .service7 .service_hover,
.primary5 .fair_tab .fair_tab_panel li.active a,
.primary5 .single_pricing_table.active .btn_type4,
.primary5 .btn_type4:hover,
.primary5 .pricing_table3 .single_pricing_table.active .pricing_table_top,
.primary5  .pricing_table3 .single_pricing_table.active .pricing_table_icon,
.primary5 .skill .progress-bar,
.primary5 .fbtn7.solid.blue,
.primary5 .fbtn6.blue.solid,
.primary5 .accordion3 .accordion_heading a,
.primary5 .pagination2 ul li a:hover,
.primary5 .textContentSlider .owl-next:hover,.textContentSlider .owl-prev:hover,
.primary5 .carosuel3 .owl-prev:hover,
.primary5 .carosuel3 .owl-next:hover,
.primary5 .accordion4 .accordion_heading a::after,
.primary5 .accordion3 .accordion_heading a,
.primary5 .subscritbe_btn1.fair_blue,
.primary5 .banner_area .camera_next span,.primary5 .banner_area .camera_prev span,
.primary5 .banner_area4 .camera_next:hover span,.primary5 .banner_area4 .camera_prev:hover span,
.primary5 .btn_type2.fair_blue,
.primary5 .container.primary2_bg,
.primary5 .callt_action10.primary2_bg,
.primary5 .callt_action5.primary2_bg,
.primary5 .callt_action4.primary2_bg,
.primary5 .work_process2.primary2_bg,
.primary5 .testimonial4.primary2_bg,
.primary5 .go-top,
.primary5 .client_image::before,
.primary5 .btn_type2 {
    background: #f9bf3b none repeat scroll 0 0 !important;
}


.primary5 .project_container a h5:hover,
.primary5 .features5 .features_icon i,
.primary5 .form_container_bottom_area span a,
.primary5  .form4 .form_container_middle_area a,
.primary5 .pricing_table3 .pricing_table_top ul li,
.primary5 .pricing_table2 .pricing_table_top ul li,
.primary5 .menuzord.fair_green .menuzord-menu ul.dropdown li:hover > a,
.primary5 .menuzord.fair_green .menuzord-menu > li:hover > a,
.primary5 .menuzord.fair_green .menuzord-menu > li.active > a,
.primary5 .single_service_container2.green:hover i,
.primary5 .footer_links.blue ul li:hover a,
.primary5  .social_icon.blue ul li:hover a i,
.primary5 .nvaigation_area.type3 .menuzord.primary9 .menuzord-menu li a:hover,
.primary5  .pricing_table_top ul li:after,
.primary5 .primary9 .pricing_table_top ul li,
.primary5 .nvaigation_area.type3.orange_navigation .menuzord-menu li a:hover,.primary5 .nvaigation_area.orange_navigation .menuzord .menuzord-menu li:hover > a,
.primary5  .testimonial9 .testimonial_heading ul li i,
.primary5  .about_author_inner_content a.primary8:hover i,
.primary5 .about_author_inner_content a.primary8:hover,
.primary5 .features3 .features_icon i,
.primary5 .social_icon.green ul li:hover i,
.primary5 .social_icon_bar4.primary11 ul li:hover a i,
.primary5 .fair_tab1 .tab-content a,
.primary5 .features6 .features_icon i,
.primary5 .footer_links.green ul li:hover a,
.primary5 .social_bar3.primary9 ul li a:hover i,
.primary5 .callt_action4.primary5_bg,
.primary5 .features2 .features_icon i,
.primary5 .features2 .features_icon i,
.primary5 .service8 .service_content a,
.primary5 footer.primary5 .footer_widget_body ul li a:hover,
.primary5 .fair_blue .mega_menu_half_content .single_menu_list > a:hover,
.primary5 .service10 .service_content a.blue,
.primary5 .service9 .single_service_body a.blue:hover,
.primary5 .social_icon_bar3.blue li:hover a i,
.primary5 .block3 ul li .block_icon i,
.primary5 .search_box input[type="submit"]:hover,
.primary5 .project1 .more_btn:hover,
.primary5 .social_icon_bar1.blue li a:hover i,
.primary5 .social_icon_bar2.blue li a i:hover,
.primary5 .drop_down2 .menuzord.fair_blue .single_menu_list a:hover,
.primary5 .features1 .features_icon i,
.primary5 .pricing_table1 .pricing_table_top ul li,
.primary5 .single_facts_container i,
.primary5 .pricing_table1 .pricing_table_top .fz_60,
.primary5 .pricing_table2 .pricing_table_top .fz_60,
.primary5 .title2.fair_blue:hover,
.primary5 .single_service_container2.fair_blue i,
.primary5 .work_process_content a,
.primary5 .work_process_icon i,
.primary5 .service4_icon i,
.primary5 .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary5 .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary5 .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a,
.primary5 .single_service_container > a.fair_blue i,
.primary5 .single_service_container > a.fair_blue,
.primary5 .single_service_container > a:hover,
.primary5 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li a i,
.primary5 .footer_widget_body ul li a:hover,
.primary5 .speciality_icon i,
.primary5 .project_container a h5.primary5:hover,
.primary5 .section_title a,
.primary5 .single_service_container i,
.primary5 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary5 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary5 .nvaigation_area .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a {
    color: #f9bf3b  !important;
}


.primary5  .fair_tab .fair_tab_panel li.active a,
.primary5 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary5 .features5 .features_icon,
.primary5 .pagination2 ul li a:hover,
.primary5 .pricing_table1 .single_pricing_table.active .pricing_table_top,
.primary5 .pricing_table1 .single_pricing_table.active,
.primary5 .clients2 a:hover,
.primary5  .case_study_hoverable_content.green .read_more_btn:hover,
.primary5 .features4 .single_features_container:hover .features_icon::before,
.primary5 .speciality_icon,
.primary5 .fair_tab1 .fair_tab_panel li a,
.primary5 .fair_tab1.content .fair_tab_panel li a,
.primary5 .fair_tab1 .fair_tab_panel li.active a{
    border-color: #f9bf3b !important;
}
.primary5 .overlay3{
    background: rgba(249,191,59,.85);
}
.primary5 .radius_border,
.primary5 .job_post_carousel .owl-item.center .single_job_post_container {
    box-shadow: 0 5px 0 #f9bf3b;
}
.primary5 .dropdown {
    box-shadow: 0 5px 0 0px #f9bf3b, 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
}
.primary5 .carosuel2 .owl-dot {
    background: rgba(249,191, 59, 0.5) none repeat scroll 0 0;
}

.primary5 .nvaigation_area.orange_navigation .dropdown {
    box-shadow: 0 5px 0 0 #f9bf3b, 0 10px 8px 0 rgba(0, 0, 0, 0.1);
}


.primary5 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a i,.primary5 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a,
.primary5 .fair_tab5.fair_tab .fair_tab_panel li.active a,
.primary5 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary5  .pricing_table3 .single_pricing_table.active .pricing_table_top ul li:after,
.primary5 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li,
.primary5 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li::after,
.primary5 .pricing_table2 .single_pricing_table.active .pricing_table_top .fz_60,
.primary5 .pricing_table3 .single_pricing_table.active .pricing_table_top ul li {
    color: #fff !important;
}
.primary5  .drop_down1 .fair_green .dropdown,
.primary5 .banner10 .drop_down1 .dropdown {
    box-shadow: 0 4px 0 #f9bf3b;
}
.primary5 .drop_down2 svg{
    fill: #f9bf3b;
}
.primary5 .ddt2 .dd1 {
    fill: #dca935;
}
.primary5 .ddt2 .dd0 {
    fill: #f9bf3b;
}
.primary5 .fair_tab5.fair_tab .fair_tab_panel li.active a ,
.primary5 .accordion3 .accordion_heading a.collapsed{
    background: #fff !important;
}
.primary5 .fair_tab5.fair_tab .fair_tab_panel li.active a {
    color: #f9bf3b !important;
    border-color: #f9bf3b;
    background: #fff;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
}
.primary5 .section_title a {
    text-decoration: underline #f9bf3b;
}
/*----------------------------------
        ==Primary15==
----------------------------------*/
.primary15 .callt_action_area.primary2_bg,
.primary15 .primary8_bg,
.primary15 .pricing_table2 .single_pricing_table.active .pricing_table_top,
.primary15 .fbtn.solid.green,
.primary15 .subscribe_field > input[type='submit'],
.primary15 .callt_action_area.primary15_bg,
.primary15 .call_to_action_area.primary9_bg,
.primary15  .primary9 .pricing_table_icon,
.primary15 .pricing_table3.primary9 .single_pricing_table.active .pricing_table_top,
.primary15 .fbtn.primary9_bg ,
.primary15 .work_process2.primary15_bg,
.primary15 .subscritbe_btn1.green,
.primary15 .banner_area .camera_prev span,
.primary15 .fair_tab9 .fair_tab_panel .active a,
.primary15 .fbtn.primary11_bg,
.primary15 .comming_soon_inner_content_bottom input[type='submit'],
.primary15 .carosuel2 .owl-dot.active,
.primary15 .call_to_action_area.primary15_bg ,
.primary15 .solid.blue,
.primary15 .container.primary15_bg,
.primary15 .primary15 .callt_action4.primary15_bg,
.primary15 .fair_tab1 .fair_tab_panel li a,
.primary15 .carousel5 .owl-dot.active,
.primary15 .sticky_on_btn.active,
.primary15  .testimonial4.primary15_bg,
.primary15 .service10 .service_icon,
.primary15 .subscritbe_btn1.green, .btn_type3.green,.primary15 .case_study_hoverable_content.green .read_more_btn::before,
.primary15 .banner11 .camera_next:hover span, .primary15 .banner11 .camera_prev:hover span,
.primary15 .service_features .service_features_content_area,
.primary15 .service7 .service_hover,
.primary15 .fair_tab .fair_tab_panel li.active a,
.primary15 .single_pricing_table.active .btn_type4,
.primary15 .btn_type4:hover,
.primary15 .pricing_table3 .single_pricing_table.active .pricing_table_top,
.primary15  .pricing_table3 .single_pricing_table.active .pricing_table_icon,
.primary15 .skill .progress-bar,
.primary15 .fbtn7.solid.blue,
.primary15 .fbtn6.blue.solid,
.primary15 .pagination2 ul li a:hover,
.primary15 .textContentSlider .owl-next:hover,.textContentSlider .owl-prev:hover,
.primary15 .carosuel3 .owl-prev:hover,
.primary15 .carosuel3 .owl-next:hover,
.primary15 .accordion4 .accordion_heading a::after,
.primary15 .accordion3 .accordion_heading a,
.primary15 .subscritbe_btn1.fair_blue,
.primary15 .banner_area .camera_next span,.primary15 .banner_area .camera_prev span,
.primary15 .banner_area4 .camera_next:hover span,.primary15 .banner_area4 .camera_prev:hover span,
.primary15 .btn_type2.fair_blue,
.primary15 .go-top,
.primary15 .container.primary2_bg,
.primary15 .callt_action10.primary2_bg,
.primary15 .callt_action5.primary2_bg,
.primary15 .callt_action4.primary2_bg,
.primary15 .work_process2.primary2_bg,
.primary15 .testimonial4.primary2_bg,
.primary15 .accordion3 .accordion_heading a,
.primary15 .client_image::before,
.primary15 .btn_type2 {
    background: #663399 none repeat scroll 0 0 !important;
}


.primary15 .project_container a h5:hover,
.primary15 .features5 .features_icon i,
.primary15 .form_container_bottom_area span a,
.primary15  .form4 .form_container_middle_area a,
.primary15 .pricing_table3 .pricing_table_top ul li,
.primary15 .pricing_table2 .pricing_table_top ul li,
.primary15 .menuzord.fair_green .menuzord-menu ul.dropdown li:hover > a,
.primary15 .menuzord.fair_green .menuzord-menu > li:hover > a,
.primary15 .menuzord.fair_green .menuzord-menu > li.active > a,
.primary15 .single_service_container2.green:hover i,
.primary15 .footer_links.blue ul li:hover a,
.primary15  .social_icon.blue ul li:hover a i,
.primary15 .nvaigation_area.type3 .menuzord.primary9 .menuzord-menu li a:hover,
.primary15  .pricing_table_top ul li:after,
.primary15 .primary9 .pricing_table_top ul li,
.primary15 .nvaigation_area.type3.orange_navigation .menuzord-menu li a:hover,.primary15 .nvaigation_area.orange_navigation .menuzord .menuzord-menu li:hover > a,
.primary15  .testimonial9 .testimonial_heading ul li i,
.primary15  .about_author_inner_content a.primary8:hover i,
.primary15 .about_author_inner_content a.primary8:hover,
.primary15 .features3 .features_icon i,
.primary15 .social_icon.green ul li:hover i,
.primary15 .social_icon_bar4.primary11 ul li:hover a i,
.primary15 .fair_tab1 .tab-content a,
.primary15 .features6 .features_icon i,
.primary15 .footer_links.green ul li:hover a,
.primary15 .social_bar3.primary9 ul li a:hover i,
.primary15 .callt_action4.primary15_bg,
.primary15 .features2 .features_icon i,
.primary15 .features2 .features_icon i,
.primary15 .service8 .service_content a,
.primary15 footer.primary15 .footer_widget_body ul li a:hover,
.primary15 .fair_blue .mega_menu_half_content .single_menu_list > a:hover,
.primary15 .service10 .service_content a.blue,
.primary15 .service9 .single_service_body a.blue:hover,
.primary15 .social_icon_bar3.blue li:hover a i,
.primary15 .block3 ul li .block_icon i,
.primary15 .search_box input[type="submit"]:hover,
.primary15 .project1 .more_btn:hover,
.primary15 .social_icon_bar1.blue li a:hover i,
.primary15 .social_icon_bar2.blue li a i:hover,
.primary15 .drop_down2 .menuzord.fair_blue .single_menu_list a:hover,
.primary15 .features1 .features_icon i,
.primary15 .pricing_table1 .pricing_table_top ul li,
.primary15 .single_facts_container i,
.primary15 .pricing_table1 .pricing_table_top .fz_60,
.primary15 .pricing_table2 .pricing_table_top .fz_60,
.primary15 .title2.fair_blue:hover,
.primary15 .single_service_container2.fair_blue i,
.primary15 .work_process_content a,
.primary15 .work_process_icon i,
.primary15 .service4_icon i,
.primary15 .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary15 .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary15 .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a,
.primary15 .single_service_container > a.fair_blue i,
.primary15 .single_service_container > a.fair_blue,
.primary15 .single_service_container > a:hover,
.primary15 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li a i,
.primary15 .footer_widget_body ul li a:hover,
.primary15 .speciality_icon i,
.primary15 .project_container a h5.primary15:hover,
.primary15 .section_title a,
.primary15 .single_service_container i,
.primary15 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary15 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary15 .nvaigation_area .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a {
    color: #663399  !important;
}


.primary15  .fair_tab .fair_tab_panel li.active a,
.primary15 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary15 .features5 .features_icon,
.primary15 .pagination2 ul li a:hover,
.primary15 .pricing_table1 .single_pricing_table.active .pricing_table_top,
.primary15 .pricing_table1 .single_pricing_table.active,
.primary15 .clients2 a:hover,
.primary15  .case_study_hoverable_content.green .read_more_btn:hover,
.primary15 .features4 .single_features_container:hover .features_icon::before,
.primary15 .speciality_icon,
.primary15 .fair_tab1 .fair_tab_panel li a,
.primary15 .fair_tab1.content .fair_tab_panel li a,
.primary15 .fair_tab1 .fair_tab_panel li.active a{
    border-color: #663399 !important;
}
.primary15 .overlay3{
    background: rgba(102,51,153,.85);
}
.primary15 .radius_border,
.primary15 .job_post_carousel .owl-item.center .single_job_post_container {
    box-shadow: 0 5px 0 #663399;
}
.primary15 .dropdown {
    box-shadow: 0 5px 0 0px #663399, 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
}
.primary15 .carosuel2 .owl-dot {
    background: rgba(102,51, 153, 0.5) none repeat scroll 0 0;
}

.primary15 .nvaigation_area.orange_navigation .dropdown {
    box-shadow: 0 5px 0 0 #663399, 0 10px 8px 0 rgba(0, 0, 0, 0.1);
}


.primary15 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a i,.primary15 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a,
.primary15 .fair_tab5.fair_tab .fair_tab_panel li.active a,
.primary15 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary15  .pricing_table3 .single_pricing_table.active .pricing_table_top ul li:after,
.primary15 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li,
.primary15 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li::after,
.primary15 .pricing_table2 .single_pricing_table.active .pricing_table_top .fz_60,
.primary15 .pricing_table3 .single_pricing_table.active .pricing_table_top ul li {
    color: #fff !important;
}
.primary15  .drop_down1 .fair_green .dropdown,
.primary15 .banner10 .drop_down1 .dropdown {
    box-shadow: 0 4px 0 #663399;
}
.primary15 .drop_down2 svg{
    fill: #663399;
}
.primary15 .ddt2 .dd1 {
    fill: #42176c;
}
.primary15 .ddt2 .dd0 {
    fill: #663399;
}
.primary15 .fair_tab5.fair_tab .fair_tab_panel li.active a,
.primary15 .accordion3 .accordion_heading a.collapsed{
    background: #fff !important;
}
.primary15 .fair_tab5.fair_tab .fair_tab_panel li.active a {
    color: #663399 !important;
    border-color: #663399;
    background: #fff;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
}
.primary15 .section_title a {
    text-decoration: underline #663399;
}
/*----------------------------------
        ==Primary16==
----------------------------------*/
.primary16 .callt_action_area.primary2_bg,
.primary16 .primary8_bg,
.primary16 .pricing_table2 .single_pricing_table.active .pricing_table_top,
.primary16 .fbtn.solid.green,
.primary16 .subscribe_field > input[type='submit'],
.primary16 .callt_action_area.primary16_bg,
.primary16 .call_to_action_area.primary9_bg,
.primary16  .primary9 .pricing_table_icon,
.primary16 .pricing_table3.primary9 .single_pricing_table.active .pricing_table_top,
.primary16 .fbtn.primary9_bg ,
.primary16 .work_process2.primary16_bg,
.primary16 .subscritbe_btn1.green,
.primary16 .banner_area .camera_prev span,
.primary16 .fair_tab9 .fair_tab_panel .active a,
.primary16 .fbtn.primary11_bg,
.primary16 .comming_soon_inner_content_bottom input[type='submit'],
.primary16 .carosuel2 .owl-dot.active,
.primary16 .call_to_action_area.primary16_bg ,
.primary16 .solid.blue,
.primary16 .container.primary16_bg,
.primary16 .primary16 .callt_action4.primary16_bg,
.primary16 .fair_tab1 .fair_tab_panel li a,
.primary16 .carousel5 .owl-dot.active,
.primary16 .sticky_on_btn.active,
.primary16  .testimonial4.primary16_bg,
.primary16 .service10 .service_icon,
.primary16 .subscritbe_btn1.green, .btn_type3.green,.primary16 .case_study_hoverable_content.green .read_more_btn::before,
.primary16 .banner11 .camera_next:hover span, .primary16 .banner11 .camera_prev:hover span,
.primary16 .service_features .service_features_content_area,
.primary16 .service7 .service_hover,
.primary16 .fair_tab .fair_tab_panel li.active a,
.primary16 .single_pricing_table.active .btn_type4,
.primary16 .btn_type4:hover,
.primary16 .pricing_table3 .single_pricing_table.active .pricing_table_top,
.primary16  .pricing_table3 .single_pricing_table.active .pricing_table_icon,
.primary16 .skill .progress-bar,
.primary16 .fbtn7.solid.blue,
.primary16 .fbtn6.blue.solid,
.primary16 .pagination2 ul li a:hover,
.primary16 .textContentSlider .owl-next:hover,.textContentSlider .owl-prev:hover,
.primary16 .carosuel3 .owl-prev:hover,
.primary16 .carosuel3 .owl-next:hover,
.primary16 .accordion4 .accordion_heading a::after,
.primary16 .subscritbe_btn1.fair_blue,
.primary16 .banner_area .camera_next span,.primary16 .banner_area .camera_prev span,
.primary16 .banner_area4 .camera_next:hover span,.primary16 .banner_area4 .camera_prev:hover span,
.primary16 .btn_type2.fair_blue,
.primary16 .container.primary2_bg,
.primary16 .callt_action10.primary2_bg,
.primary16 .callt_action5.primary2_bg,
.primary16 .callt_action4.primary2_bg,
.primary16 .work_process2.primary2_bg,
.primary16 .testimonial4.primary2_bg,
.primary16 .accordion3 .accordion_heading a,
.primary16 .go-top,
.primary16 .client_image::before,
.primary16 .btn_type2 {
    background: #F62459 none repeat scroll 0 0 !important;
}


.primary16 .project_container a h5:hover,
.primary16 .features5 .features_icon i,
.primary16 .form_container_bottom_area span a,
.primary16  .form4 .form_container_middle_area a,
.primary16 .pricing_table3 .pricing_table_top ul li,
.primary16 .pricing_table2 .pricing_table_top ul li,
.primary16 .menuzord.fair_green .menuzord-menu ul.dropdown li:hover > a,
.primary16 .menuzord.fair_green .menuzord-menu > li:hover > a,
.primary16 .menuzord.fair_green .menuzord-menu > li.active > a,
.primary16 .single_service_container2.green:hover i,
.primary16 .footer_links.blue ul li:hover a,
.primary16  .social_icon.blue ul li:hover a i,
.primary16 .nvaigation_area.type3 .menuzord.primary9 .menuzord-menu li a:hover,
.primary16  .pricing_table_top ul li:after,
.primary16 .primary9 .pricing_table_top ul li,
.primary16 .nvaigation_area.type3.orange_navigation .menuzord-menu li a:hover,.primary16 .nvaigation_area.orange_navigation .menuzord .menuzord-menu li:hover > a,
.primary16  .testimonial9 .testimonial_heading ul li i,
.primary16  .about_author_inner_content a.primary8:hover i,
.primary16 .about_author_inner_content a.primary8:hover,
.primary16 .features3 .features_icon i,
.primary16 .social_icon.green ul li:hover i,
.primary16 .social_icon_bar4.primary11 ul li:hover a i,
.primary16 .fair_tab1 .tab-content a,
.primary16 .features6 .features_icon i,
.primary16 .footer_links.green ul li:hover a,
.primary16 .social_bar3.primary9 ul li a:hover i,
.primary16 .callt_action4.primary16_bg,
.primary16 .features2 .features_icon i,
.primary16 .features2 .features_icon i,
.primary16 .service8 .service_content a,
.primary16 footer.primary16 .footer_widget_body ul li a:hover,
.primary16 .fair_blue .mega_menu_half_content .single_menu_list > a:hover,
.primary16 .service10 .service_content a.blue,
.primary16 .service9 .single_service_body a.blue:hover,
.primary16 .social_icon_bar3.blue li:hover a i,
.primary16 .block3 ul li .block_icon i,
.primary16 .search_box input[type="submit"]:hover,
.primary16 .project1 .more_btn:hover,
.primary16 .social_icon_bar1.blue li a:hover i,
.primary16 .social_icon_bar2.blue li a i:hover,
.primary16 .drop_down2 .menuzord.fair_blue .single_menu_list a:hover,
.primary16 .features1 .features_icon i,
.primary16 .pricing_table1 .pricing_table_top ul li,
.primary16 .single_facts_container i,
.primary16 .pricing_table1 .pricing_table_top .fz_60,
.primary16 .pricing_table2 .pricing_table_top .fz_60,
.primary16 .title2.fair_blue:hover,
.primary16 .single_service_container2.fair_blue i,
.primary16 .work_process_content a,
.primary16 .work_process_icon i,
.primary16 .service4_icon i,
.primary16 .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary16 .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary16 .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a,
.primary16 .single_service_container > a.fair_blue i,
.primary16 .single_service_container > a.fair_blue,
.primary16 .single_service_container > a:hover,
.primary16 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li a i,
.primary16 .footer_widget_body ul li a:hover,
.primary16 .speciality_icon i,
.primary16 .project_container a h5.primary16:hover,
.primary16 .section_title a,
.primary16 .single_service_container i,
.primary16 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary16 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary16 .nvaigation_area .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a {
    color: #F62459  !important;
}


.primary16  .fair_tab .fair_tab_panel li.active a,
.primary16 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary16 .features5 .features_icon,
.primary16 .pagination2 ul li a:hover,
.primary16 .pricing_table1 .single_pricing_table.active .pricing_table_top,
.primary16 .pricing_table1 .single_pricing_table.active,
.primary16 .clients2 a:hover,
.primary16  .case_study_hoverable_content.green .read_more_btn:hover,
.primary16 .features4 .single_features_container:hover .features_icon::before,
.primary16 .speciality_icon,
.primary16 .fair_tab1 .fair_tab_panel li a,
.primary16 .fair_tab1.content .fair_tab_panel li a,
.primary16 .fair_tab1 .fair_tab_panel li.active a{
    border-color: #F62459 !important;
}
.primary16 .overlay3{
    background: rgba(246,36,89,.85);
}
.primary16 .radius_border,
.primary16 .job_post_carousel .owl-item.center .single_job_post_container {
    box-shadow: 0 5px 0 #F62459;
}
.primary16 .dropdown {
    box-shadow: 0 5px 0 0px #F62459, 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
}
.primary16 .carosuel2 .owl-dot {
    background: rgba(246,36, 89, 0.5) none repeat scroll 0 0;
}

.primary16 .nvaigation_area.orange_navigation .dropdown {
    box-shadow: 0 5px 0 0 #F62459, 0 10px 8px 0 rgba(0, 0, 0, 0.1);
}


.primary16 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a i,.primary16 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a,
.primary16 .fair_tab5.fair_tab .fair_tab_panel li.active a,
.primary16 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary16  .pricing_table3 .single_pricing_table.active .pricing_table_top ul li:after,
.primary16 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li,
.primary16 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li::after,
.primary16 .pricing_table2 .single_pricing_table.active .pricing_table_top .fz_60,
.primary16 .pricing_table3 .single_pricing_table.active .pricing_table_top ul li {
    color: #fff !important;
}
.primary16  .drop_down1 .fair_green .dropdown,
.primary16 .banner10 .drop_down1 .dropdown {
    box-shadow: 0 4px 0 #F62459;
}
.primary16 .drop_down2 svg{
    fill: #F62459;
}
.primary16 .ddt2 .dd1 {
    fill: #c21541;
}
.primary16 .ddt2 .dd0 {
    fill: #F62459;
}
.primary16 .fair_tab5.fair_tab .fair_tab_panel li.active a ,
.primary16 .accordion3 .accordion_heading a.collapsed{
    background: #fff !important;
}
.primary16 .fair_tab5.fair_tab .fair_tab_panel li.active a {
    color: #F62459 !important;
    border-color: #F62459;
    background: #fff;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
}
.primary16 .section_title a {
    text-decoration: underline #F62459;
}
/*----------------------------------
        ==Primary17==
----------------------------------*/
.primary17 .callt_action_area.primary2_bg,
.primary17 .primary8_bg,
.primary17 .pricing_table2 .single_pricing_table.active .pricing_table_top,
.primary17 .fbtn.solid.green,
.primary17 .subscribe_field > input[type='submit'],
.primary17 .callt_action_area.primary17_bg,
.primary17 .call_to_action_area.primary9_bg,
.primary17  .primary9 .pricing_table_icon,
.primary17 .pricing_table3.primary9 .single_pricing_table.active .pricing_table_top,
.primary17 .fbtn.primary9_bg ,
.primary17 .work_process2.primary17_bg,
.primary17 .subscritbe_btn1.green,
.primary17 .banner_area .camera_prev span,
.primary17 .fair_tab9 .fair_tab_panel .active a,
.primary17 .fbtn.primary11_bg,
.primary17 .comming_soon_inner_content_bottom input[type='submit'],
.primary17 .carosuel2 .owl-dot.active,
.primary17 .call_to_action_area.primary17_bg ,
.primary17 .solid.blue,
.primary17 .container.primary17_bg,
.primary17 .primary17 .callt_action4.primary17_bg,
.primary17 .fair_tab1 .fair_tab_panel li a,
.primary17 .carousel5 .owl-dot.active,
.primary17 .sticky_on_btn.active,
.primary17  .testimonial4.primary17_bg,
.primary17 .service10 .service_icon,
.primary17 .subscritbe_btn1.green,.primary17 .btn_type3.green,.primary17 .case_study_hoverable_content.green .read_more_btn::before,
.primary17 .banner11 .camera_next:hover span, .primary17 .banner11 .camera_prev:hover span,
.primary17 .service_features .service_features_content_area,
.primary17 .service7 .service_hover,
.primary17 .fair_tab .fair_tab_panel li.active a,
.primary17 .single_pricing_table.active .btn_type4,
.primary17 .btn_type4:hover,
.primary17 .pricing_table3 .single_pricing_table.active .pricing_table_top,
.primary17  .pricing_table3 .single_pricing_table.active .pricing_table_icon,
.primary17 .skill .progress-bar,
.primary17 .fbtn7.solid.blue,
.primary17 .fbtn6.blue.solid,
.primary17 .pagination2 ul li a:hover,
.primary17 .textContentSlider .owl-next:hover,.textContentSlider .owl-prev:hover,
.primary17 .carosuel3 .owl-prev:hover,
.primary17 .carosuel3 .owl-next:hover,
.primary17 .accordion4 .accordion_heading a::after,
.primary17 .accordion3 .accordion_heading a,
.primary17 .subscritbe_btn1.fair_blue,
.primary17 .banner_area .camera_next span,.primary17 .banner_area .camera_prev span,
.primary17 .banner_area4 .camera_next:hover span,.primary17 .banner_area4 .camera_prev:hover span,
.primary17 .btn_type2.fair_blue,
.primary17 .container.primary2_bg,
.primary17 .callt_action10.primary2_bg,
.primary17 .callt_action5.primary2_bg,
.primary17 .callt_action4.primary2_bg,
.primary17 .work_process2.primary2_bg,
.primary17 .accordion3 .accordion_heading a,
.primary17 .testimonial4.primary2_bg,
.primary17 .go-top,
.primary17 .client_image::before,
.primary17 .btn_type2 {
    background: #2574A9 none repeat scroll 0 0 !important;
}


.primary17 .project_container a h5:hover,
.primary17 .features5 .features_icon i,
.primary17 .form_container_bottom_area span a,
.primary17  .form4 .form_container_middle_area a,
.primary17 .pricing_table3 .pricing_table_top ul li,
.primary17 .pricing_table2 .pricing_table_top ul li,
.primary17 .menuzord.fair_green .menuzord-menu ul.dropdown li:hover > a,
.primary17 .menuzord.fair_green .menuzord-menu > li:hover > a,
.primary17 .menuzord.fair_green .menuzord-menu > li.active > a,
.primary17 .single_service_container2.green:hover i,
.primary17 .footer_links.blue ul li:hover a,
.primary17  .social_icon.blue ul li:hover a i,
.primary17 .nvaigation_area.type3 .menuzord.primary9 .menuzord-menu li a:hover,
.primary17  .pricing_table_top ul li:after,
.primary17 .primary9 .pricing_table_top ul li,
.primary17 .nvaigation_area.type3.orange_navigation .menuzord-menu li a:hover,.primary17 .nvaigation_area.orange_navigation .menuzord .menuzord-menu li:hover > a,
.primary17  .testimonial9 .testimonial_heading ul li i,
.primary17  .about_author_inner_content a.primary8:hover i,
.primary17 .about_author_inner_content a.primary8:hover,
.primary17 .features3 .features_icon i,
.primary17 .social_icon.green ul li:hover i,
.primary17 .social_icon_bar4.primary11 ul li:hover a i,
.primary17 .fair_tab1 .tab-content a,
.primary17 .features6 .features_icon i,
.primary17 .footer_links.green ul li:hover a,
.primary17 .social_bar3.primary9 ul li a:hover i,
.primary17 .callt_action4.primary17_bg,
.primary17 .features2 .features_icon i,
.primary17 .features2 .features_icon i,
.primary17 .service8 .service_content a,
.primary17 footer.primary17 .footer_widget_body ul li a:hover,
.primary17 .fair_blue .mega_menu_half_content .single_menu_list > a:hover,
.primary17 .service10 .service_content a.blue,
.primary17 .service9 .single_service_body a.blue:hover,
.primary17 .social_icon_bar3.blue li:hover a i,
.primary17 .block3 ul li .block_icon i,
.primary17 .search_box input[type="submit"]:hover,
.primary17 .project1 .more_btn:hover,
.primary17 .social_icon_bar1.blue li a:hover i,
.primary17 .social_icon_bar2.blue li a i:hover,
.primary17 .drop_down2 .menuzord.fair_blue .single_menu_list a:hover,
.primary17 .features1 .features_icon i,
.primary17 .pricing_table1 .pricing_table_top ul li,
.primary17 .single_facts_container i,
.primary17 .pricing_table1 .pricing_table_top .fz_60,
.primary17 .pricing_table2 .pricing_table_top .fz_60,
.primary17 .title2.fair_blue:hover,
.primary17 .single_service_container2.fair_blue i,
.primary17 .work_process_content a,
.primary17 .work_process_icon i,
.primary17 .service4_icon i,
.primary17 .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary17 .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary17 .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a,
.primary17 .single_service_container > a.fair_blue i,
.primary17 .single_service_container > a.fair_blue,
.primary17 .single_service_container > a:hover,
.primary17 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li a i,
.primary17 .footer_widget_body ul li a:hover,
.primary17 .speciality_icon i,
.primary17 .project_container a h5.primary17:hover,
.primary17 .section_title a,
.primary17 .single_service_container i,
.primary17 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li.active > a,
.primary17 .nvaigation_area .menuzord.fair_blue .menuzord-menu > li:hover > a,
.primary17 .nvaigation_area .menuzord.fair_blue .menuzord-menu ul.dropdown li:hover > a {
    color: #2574A9  !important;
}


.primary17  .fair_tab .fair_tab_panel li.active a,
.primary17 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary17 .features5 .features_icon,
.primary17 .pagination2 ul li a:hover,
.primary17 .pricing_table1 .single_pricing_table.active .pricing_table_top,
.primary17 .pricing_table1 .single_pricing_table.active,
.primary17 .clients2 a:hover,
.primary17  .case_study_hoverable_content.green .read_more_btn:hover,
.primary17 .features4 .single_features_container:hover .features_icon::before,
.primary17 .speciality_icon,
.primary17 .fair_tab1 .fair_tab_panel li a,
.primary17 .fair_tab1.content .fair_tab_panel li a,
.primary17 .fair_tab1 .fair_tab_panel li.active a{
    border-color: #2574A9 !important;
}
.primary17 .overlay3{
    background: rgba(37,116,169,.85);
}
.primary17 .radius_border,
.primary17 .job_post_carousel .owl-item.center .single_job_post_container {
    box-shadow: 0 5px 0 #2574A9;
}
.primary17 .dropdown {
    box-shadow: 0 5px 0 0px #2574A9, 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
}
.primary17 .carosuel2 .owl-dot {
    background: rgba(37,116, 169, 0.5) none repeat scroll 0 0;
}

.primary17 .nvaigation_area.orange_navigation .dropdown {
    box-shadow: 0 5px 0 0 #2574A9, 0 10px 8px 0 rgba(0, 0, 0, 0.1);
}


.primary17 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a i,.primary17 .fair_tab7.fair_tab_list.fair_tab .fair_tab_panel li.active a,
.primary17 .fair_tab5.fair_tab .fair_tab_panel li.active a,
.primary17 .fair_tab.fair_tab4  .fair_tab_panel li.active a,
.primary17  .pricing_table3 .single_pricing_table.active .pricing_table_top ul li:after,
.primary17 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li,
.primary17 .pricing_table2 .single_pricing_table.active .pricing_table_top ul li::after,
.primary17 .pricing_table2 .single_pricing_table.active .pricing_table_top .fz_60,
.primary17 .pricing_table3 .single_pricing_table.active .pricing_table_top ul li {
    color: #fff !important;
}
.primary17  .drop_down1 .fair_green .dropdown,
.primary17 .banner10 .drop_down1 .dropdown {
    box-shadow: 0 4px 0 #2574A9;
}
.primary17 .drop_down2 svg{
    fill: #2574A9;
}
.primary17 .ddt2 .dd1 {
    fill: #19547c;
}
.primary17 .ddt2 .dd0 {
    fill: #2574A9;
}
.primary17 .accordion3 .accordion_heading a.collapsed{
    background: #fff !important;
}
.primary17 .fair_tab5.fair_tab .fair_tab_panel li.active a,
.primary17 .accordion3 .accordion_heading a.collapsed{
    background: #fff !important;
}
.primary17 .fair_tab5.fair_tab .fair_tab_panel li.active a {
    color: #2574A9 !important;
    border-color: #2574A9;
    background: #fff;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
}
.primary17 .section_title a {
    text-decoration: underline #2574A9;
}
