/*==== CUSTOM STYLESHEET ====*/
@import url('spacing.css');

body, p, h1, h2, h3, h4, h5, h6 {
    color: #333;
}

body, p, a {
    font-family: 'geomanist', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

body.dark {
    background-color: #111;
    color: #fff;
}

.site-noise {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    pointer-events: none;
    z-index: 90;
}

.site-noise:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
    background: url(../img/noise.png);
    pointer-events: none;
    display: block;
    opacity: .7;
    -webkit-animation: grain 2s steps(10) infinite;
    animation: grain 2s steps(10) infinite;
    will-change: transform;
}

a[href] {
    cursor: pointer;
    cursor: url(../img/cursors/pointer-1x.cur),pointer;
    cursor: -webkit-image-set(url(../img/cursors/pointer-1x.cur) 1x, url(../img/cursors/pointer-2x.cur) 2x),pointer;
}

p {
    margin-bottom: 24px;
    line-height: 26px;
    color: white;
    font-size: .92em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

a:hover, a:focus {
    color: #f8cb00;
}

img {
    max-width: 100%;
}

.go-top {
    background: #f8cb00;
    border-radius: 50%;
}

.section__bg-secondary {
    background-color: #EDF2F5;
    padding-top: 32px;
    margin-bottom: 24px;
}

.section__title {
/*    border-bottom: solid 1px #ccc;*/
    position: relative;
    margin: 0 15px 1em;
    color: #262626;
    font-size: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-family: 'Sharp Unity', sans-serif;
    line-height: 2em;
    transition: .4s;
}

.section__title:before, .section__title:after {
    border-top: 8px solid rgba(0,0,0,0.05);
    content: '';
    left: 0;
    top: 60px;
    position: absolute;
    width: 100%;
}

.section__title:after {
    border-top-color: #000;
}

.section__title:after {
    width: 32.5%;
}

.section__title-link {
    color: #262626;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-family: 'Sharp Unity', sans-serif;
}

.section__title-link:after {
    background-image: url(../img/icon-arrow-right.svg);
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-color: transparent;
    vertical-align: baseline;
    content: '';
    display: inline-block;
    position: relative;
    top: 10px;
    right: -13px;
    margin-left: -13px;
    margin-top: -10px;
}

p.micro {
    font-size: 0.5625em;
    line-height: 1.4;
}

.image-lg {
    max-width: 165px;
}

.dotted__line-wrapper {
    border-bottom: 1px dotted #7d7d7d;
    margin-bottom: 24px;
}

.headline__subtitle {
    font-size: 3.25em;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 600;
    line-height: 1.08333;
    color: #fff;
    margin-bottom: 24px;
}

.p-text__title {
    margin: 0 0 10px;
    padding: 0 5px 10px;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.25;
    color: #cfcfcf;
}

.p-text__copy {
    padding: 0 5px 10px;
    font-weight: 300;
    color: #848484;
}

.bh__title {
    font-size: 4.0625em;
    font-family: 'Sharp Unity', sans-serif;
    line-height: 3.75em;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    color: #fff;
}

.headline-group {
    position: relative;
    margin-bottom: 1.5em;
}

.headline-group .subtitle {
    margin-bottom: .75em;
    font-size: .625em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .28125em;
    line-height: .9em;
    color: #737373;
}

.headline-group .h1-match {
    color: #fff;
    font-size: 2.4em;
    font-family: 'Sharp Unity', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 1em;
}

.h1-match .break {
    display: block;
}

.headline-group .rule {
    position: absolute;
    height: 2px;
    background-color: #bb1324;
    width: 9.375rem;
    bottom: 0;
    left: -7.5rem;
}

@media (max-width: 767px) {
    .headline__subtitle {
        font-size: 2.25em;
    }
    .headline-group .h1-match {
        font-size: 2em;
    }
    .bh__title {
        font-size: 2.0625em;
        line-height: 1.2
    }
}


/* Vertical and Timestamps */
.vertical-and-timestamp {
    font-family: 'Sharp Unity', sans-serif;
    font-size: .98em;
    line-height: 1.2;
    display: inline-block;
    padding-bottom: 12px;
}

.vertical-and-timestamp .vertical-label {
    display: inline;
    text-transform: uppercase;
}

a .vertical-label {
    color: #cb0000;
}

.vertical-and-timestamp .published-at, .vertical-and-timestamp .updated-at {
    color: #999;
    font-family: 'Sharp Unity', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

.vertical-and-timestamp .published-at, .vertical-and-timestamp .updated-at {
    display: inline;
}

.vertical-and-timestamp .vertical-label+.published-at:before {
    line-height: 1.1875em;
    content: "—";
}


/* Search */
.search input[type="text"] {
    background-image: url(../img/search_icon.png);
    background-color: transparent; 
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 1px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: 38% 51%;
    color: #777;
    height: 92px;
    padding: 0px 3px 1px 23px;
    position: absolute;
    right: 90px;
    top: 0px;
    -webkit-transition: width 0.5s ease-in-out 0s;
    transition: width 0.5s ease-in-out 0s;
    width: 0px;
    line-height: 44px;
    font-size: 16px;
    z-index: 999;
}


/* Navigation */
.nvaigation_area .menuzord {
    background: #fff none repeat scroll 0 0 !important;
    border-bottom: 1px solid #D5E0E8;
}

.nvaigation_area .menuzord.dark {
/*    background: #000 none repeat scroll 0 0 !important;*/
    background: #0f0f0f none repeat scroll 0 0 !important;
    border: none;
}

.side_padding.nvaigation_area .menuzord {
    padding: 0px 130px;
}

.nvaigation_area .menuzord-menu li a {
    color: #003d7b;
    font-size: 14px;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 600;
    text-transform: none;
}

.nvaigation_area.type3 .menuzord-menu li a {
    color: #003d7b;
    padding: 38px 14px;
}

.nvaigation_area.type3 .menuzord-menu li a:hover {
    color: #222;
}

.nvaigation_area.type3.dark .menuzord-menu li a {
    color: #fff;
}

.nvaigation_area .menuzord-menu li a.live-tv:after {
    content: "";
    border-radius: 50%;
    background-color: #f00;
    border-width: 4px;
    margin-left: 8px;
    margin-bottom: 1px;
    width: 8px;
    height: 8px;
    display: inline-block;
}

.dropDowncmn .dropdown {
    border-radius: 0;
}

.dropDowncmn .menuzord-menu ul.dropdown, .dropDowncmn .menuzord-menu ul.dropdown li ul.dropdown {
    background: #000 none repeat scroll 0 0;
}

.mega_menu_half_content {
    background: #edf2f5 none repeat scroll 0 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.nvaigation_area.type3.dark .mega_menu_half_content {
    background: #1B2029 none repeat scroll 0 0;
}

.mega_menu_contnet_container {
    background: #000 none repeat scroll 0 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: block;
    padding: 20px;
    /* flex-flow: column; */
    align-items: left;
}

.mega_menu_contnet_container h6 {
    color: #fff;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 12px;
}

.mega_menu_contnet_container p {
    color: #fff;
    font-size: .89em;
    line-height: 1.4;
}

.full_width .menuzord-menu > li > .megamenu.megamenu-half-width {
    width: 60%;
    left: auto;
    right: 110px !important;
}

.nvaigation_area .menuzord-brand {
    line-height: 1.3;
/*    margin: 16px 30px 0 0;*/
    margin: 28px 30px 0 0;
    padding-bottom: 12px;
}

.mega_menu_contnet_container .mega-list-group {
    padding: 0;
    list-style-type: none;
}

.mega_menu_contnet_container .mega-list-group__item {
    font-weight: 600;
    font-size: .875em;
    margin-bottom: 1em;
}

.mega_menu_contnet_container .mega-list-group__item a {
    color: #fff !important;
    padding: 0 !important;
    text-decoration: none;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.megamenu3 .mega_menu_half_content {
    padding: 0 12px 12px;
}

.mega_menu_half_content .main-menu-comic {
    width: 150px;
    margin-right: 15px;
    margin-bottom: 32px;
    margin-top: 8px;
    float: left;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
    padding-left: 16px;
}

.mega_menu_half_content .main-menu-comic a {
    padding: 16px 8px 4px 0 !important;
}

.mega_menu_half_content .main-menu-comic .comic-poster {
    display: block;
    margin-bottom: 7px;
}

.mega_menu_half_content .main-menu-comic .comic-poster img {
    width: 100%;
    height: auto;
}

.mega_menu_half_content .comic-release-date {
    display: block;
    font-size: .7em;
    color: #777;
}

.mega_menu_half_content a.comic-title {
    font-size: .8em !important;
    color: #fff;
    padding-top: 8px !important;
}

.ddt2 li:last-child {
    padding-bottom: 52px;
}

@media (max-width: 768px) {
    .menuzord-menu {
        background: #1B2029 !important;
    }
    .menuzord-responsive .menuzord-menu > li:first-child > a {
        border: none;
    }
    .menuzord-responsive .menuzord-menu > li > a {
        border: none;
    }
    .menuzord-responsive .menuzord-menu ul.dropdown li a {
        border: none;
        font-size: 14px;
    }
    .menuzord-responsive .menuzord-menu li .indicator {
        border: none !important;
    }
    .nvaigation_area .menuzord-brand {
        margin: 15px 15px 9px 0 !important;
    }
    .menuzord-responsive .menuzord-menu > li > .megamenu {
        border: none;
        box-shadow: none;
    }
    .mega_menu_half_content .main-menu-comic {
        width: 100%;
        padding-left: 8px;
        margin-bottom: 16px;
        float: none;
    }
    .mega_menu_half_content .main-menu-comic .comic-poster {
        display: none;
    }
    .mega_menu_half_content .main-menu-comic .comic-poster img {
       display: none;
    }
    .megamenu3 .mega_menu_half_content {
        align-items: center;
        display: block;
    }
    .mega_menu_half_content .main-menu-comic .comic-title {
        border-bottom: 1px solid #3c475c;
        padding-bottom: 12px !important;
    }
    .menuzord .showhide {
        padding: 22px 0 0;
    }
    .dropDowncmn .menuzord-menu ul.dropdown, .dropDowncmn .menuzord-menu ul.dropdown li ul.dropdown {
        background: #1b202a none repeat scroll 0 0;
    }
}


/* Slider */
.banner_area4 .slider_inner_area {
    height: calc(520px + 2px);
}

.banner_area4 .slider_inner_area h1 {
    font-size: 42px;
    line-height: 1.1;
    font-weight: 600;
}

.banner_area4 .slider_inner_content > p {
    font-size: 16px;
}

.camera_next:hover span,.camera_prev:hover span {
    background: #bb1324 none repeat scroll 0 0;
}

.intro-link {
    display: block;
    font-family: 'Sharp Unity', sans-serif;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 600;
    margin-top: 5px;
    color: rgba(255, 255, 255, 1);
    transition: .4s;
}

.intro-link {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.intro-link .icon {
    margin-right: 12px;
}

.intro-link:hover, .intro-link:focus {
    color: rgba(255, 255, 255, .8);
}


/* Hero */
.hero {
    position: relative;
    width: 100%;
/*    padding: 8px 8px 0;*/
    padding: 0;
}

.hero--homepage {
    margin-bottom: 40px;
}

.hero .hero-background {
    background-color: #1f1f1f;
}

.hero-background img {
    display: block;
    width: 100%;
}

.hero--homepage .hero-background img {
    width: 75%;
}

.hero-content {
    z-index: 14;
}

.hero--homepage .hero-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    width: 25%;
    background-color: transparent;
    padding: 32px 24px;
}

.hero-linkWrapper {
    display: block;
    text-decoration: none;
}

.hero-pretitle {
    margin: 0 0 8px;
    font-size: 12px;
    line-height: 16px;
    font-family: 'geomanist', sans-serif;
    color: rgba(255,255,255,.48);
    text-transform: uppercase;
}

.hero-title {
    margin: 0 0 16px;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
}

.hero-content p {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 18px;
    color: #e4e4e4;
}

.hero-link {
    text-align: left;
}

.issueMini {
    display: block;
    padding: 20px 12px;
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25%;
    padding: 20px 24px;
    background-color: #1a1a1a;
    -webkit-transition: background-color .15s cubic-bezier(.35,0,.25,1);
    transition: background-color .15s cubic-bezier(.35,0,.25,1);
}

.issueMini:after, .issueMini:before {
    content: " ";
    display: table;
}

.issueMini-heading {
    margin: 0;
    font-family: 'Sharp Unity';
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 20px;
    color: #e1192d;
    text-decoration: none;
}

.issueMini-list {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    list-style: none;
    padding-left: 0;
    color: rgba(255,255,255,.48);
}

.issueMini-list:after, .issueMini-list:before {
    content: " ";
    display: table;
}

.issueMini-listItem {
    display: block;
    float: none;
    margin-right: 0;
    padding: 0;
    border-bottom: none;
}

.issueMini-listItem:after, .issueMini-listItem:before {
    content: " ";
    display: table;
}

.issueMini-listItem a {
    text-decoration: none;
}

.issueMini-release {
    display: block;
    margin-right: 0;
    font-family: 'geomanist';
    font-weight: 400;
    font-style: normal;
    color: rgba(255,255,255,.32);
    float: left;
    min-width: 68px;
    padding: 4px 4px 4px 0;
}

.issueMini-title {
    display: block;
    padding: 4px 0 4px 68px;
    color: rgba(255,255,255,.8);
}

@media (max-width: 767px) {
    .hero--homepage .hero-content {
        position: relative;
        z-index: 14;
        padding: 16px 12px;
        background-color: #1f1f1f;
        width: 100%;
    }
    .hero--homepage .hero-background img {
        width: 100%;
    }
    .issueMini {
        display: block;
        padding: 20px 12px;
        text-decoration: none;
        position: relative;
        width: 100%;
        background-color: transparent;
    }
    .issueMini-listItem {
        border-bottom: 1px solid #1f1f1f;
        padding: 12px 0;
    }
}


/* Breadcrumb */
.breadCrumb2.support {
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}

.breadCrumb2.comic-33 {
    background: url(../img/composition.jpg) no-repeat;
}

.breadCrumb2 .bread_crumb_inner_area {
    position: relative;
    height: 400px;
}

@media (max-width: 767px) {
    .breadCrumb2 .bread_crumb_inner_area {
        height: 180px;
    }
}


/* Header Wrap */
.header_wrap {
    width: 100vw;
/*    height: 80vh;*/
    height: 65vh;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: #111;
    max-width: 100%;
    position: relative;
}

.bg-image {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 1480px, cover;
    -moz-background-size: 1480px, cover;
    -o-background-size: 1480px, cover;
    background-size: 1480px, cover;
/*    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');*/
/*    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";*/
}


/* Go top */
.go-top {
    width: 50px;
    height: 50px;
    opacity: .6;
    border-radius: 25px;
    overflow: hidden;
    background-color: #bb1324;
    box-shadow: 2.5px 4px 24px 3px rgba(0,0,0,.34);
    cursor: pointer;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1c1b1b;
    letter-spacing: 2px;
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: transform .5s cubic-bezier(.455,.03,.515,.955),width .5s cubic-bezier(.455,.03,.515,.955),color .5s cubic-bezier(.455,.03,.515,.955),background-color 0s;
    z-index: 20
}

.go-top:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 25px;
    background-color: #bb1324;
    -ms-transform: scale(0);
    transform: scale(0);
    z-index: 21;
    content: "";
    transition: transform .5s cubic-bezier(.455,.03,.515,.955)
}

.go-top {
    position: fixed;
    right: 20px;
}

.go-top.top {
    transition: transform .5s cubic-bezier(.455,.03,.515,.955),width .5s cubic-bezier(.455,.03,.515,.955),color .5s cubic-bezier(.455,.03,.515,.955),background-color 0s .5s;
    background-color: #bb1324;
    color: #fff;
}

.go-top.top:before {
    -ms-transform: scale(1);
    transform: scale(1);
}

.go-top.top .go-top-arrow-top, .go-top.top .go-top-label-top {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

.go-top.top .go-top-arrow-top {
    -ms-transform: translate(0);
    transform: translate(0);
}

.go-top-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 22;
    transition: opacity .6s cubic-bezier(.455,.03,.515,.955),transform .6s cubic-bezier(.455,.03,.515,.955);
}

.go-top-arrow:after, .go-top-arrow:before {
    position: absolute;
    top: 23px;
    right: 21px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0;
    border-color: #1c1b1b transparent transparent;
    content: "";
    transition: transform .4s cubic-bezier(.455,.03,.515,.955),opacity .4s cubic-bezier(.455,.03,.515,.955);
}

.go-top-arrow:after {
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}

.go-top-arrow.go-top-arrow-top, .go-top-arrow:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;;
}

.go-top-arrow.go-top-arrow-top {
    -ms-transform: translateY(8px);
    transform: translateY(8px);
}

.go-top-arrow.go-top-arrow-top:after, .go-top-arrow.go-top-arrow-top:before {
    border-width: 0 4px 5px;
    border-color: transparent transparent #fff;
}

.go-top-arrow.go-top-arrow-top:after {
    -ms-transform: translateY(8px);
    transform: translateY(8px);
}

.go-top-label-cont {
    position: absolute;
    top: 18px;
    right: 15px;
    left: 0;
    height: 14px;
    text-align: center;
    overflow: hidden;
    z-index: 22;
}

.go-top-label {
    position: absolute;
    top: -7px;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-transform: translateY(14px);
    transform: translateY(14px);
    transition: transform .4s cubic-bezier(.455,.03,.515,.955);
}

.go-top-label-top {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
}

.go-top:focus, .go-top:hover {
    width: 180px;
}

.go-top:focus .go-top-label, .go-top:hover .go-top-label {
    -ms-transform: translate(0);
    transform: translate(0);
    transition: transform .4s cubic-bezier(.455,.03,.515,.955) .2s;
}

.go-top:focus .go-top-arrow:before, .go-top:hover .go-top-arrow:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -ms-transform: translateY(8px);
    transform: translateY(8px);
}

.go-top:focus .go-top-arrow:after, .go-top:hover .go-top-arrow:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -ms-transform: translate(0);
    transform: translate(0);
}

.go-top:focus.top .go-top-arrow:before, .go-top:hover.top .go-top-arrow:before {
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}


/* Button */
.btn-group {
    position: relative;
    display: inline-block;
    margin-top: 16px;
    text-align: center;
}

.btn {
    width: auto;
    height: 39px;
    min-width: 125px;
    color: #ec1c24;
    border: 1px solid #ec1c24;
    font-size: .89em;
    text-transform: none;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 11px 15px 11px 18px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: all .35s;
    transition: all .35s;
    margin: 0 8px;
    display: inline-block;
    border-radius: 0;
}

.btn span {
    display: inline-block;
    width: 4px;
}

.btn:hover {
    color: #ffffff;
    background: #ec1c24;
    border-color: #ec1c24;
}

.funky-btn {
    position: relative;
    display: inline-block;
    margin-top: 16px;
    text-align: center;
    height: 50px;
    border: 2px #bb1324 solid;
    backface-visibily: hidden;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
    z-index: 1;
}

.funky-btn {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-delay: 3.4s;
    -moz-transition-delay: 3.4s;
    transition-delay: 3.4s;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.funky-btn::before {
    background: #bb1324;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
}

.funky-btn::before, .funky-btn::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.funky-btn::after {
    background: #bb1324;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
}

.funky-btn::after {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-delay: 3.6s;
    -moz-transition-delay: 3.6s;
    transition-delay: 3.6s;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.funky-btn:hover::before {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1)
}

.funky-btn .text {
    position: relative;
    font-family: 'geomanist', sans-serif;
    font-size: 13px;
    letter-spacing: 0.8;
    text-transform: uppercase;
    padding: 0 50px;
    line-height: 48px;
    z-index: 2;
    color: #fff;
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    -o-transform: translate(0, 15px);
    transform: translate(0, 15px);
}

.funky-btn .text {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition-property: opacity,-webkit-transform;
    -moz-transition-property: opacity,-moz-transform;
    transition-property: opacity,transform;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-delay: 3.9s;
    -moz-transition-delay: 3.9s;
    transition-delay: 3.9s;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}


/* Card Container */
.component--cardContainer {
    position: relative;
}

.component--imageContainer {
    position: relative;
    width: 100%;
    min-height: 1px;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.component--imageContainer img {
    display: block;
    width: 100%;
}

.component--textContainer {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.component--textContainer .cardtext--body {
    padding-top: 1.3125em;
    padding-bottom: 1.3125em;
}

.component--textContainer .cardtext--label {
    font-weight: 400;
    font-size: .72em;
    line-height: 1.25;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: rgba(255,255,255,.6);
    margin-bottom: 12px;
}

.component--textContainer .cardtext--title {
    font-size: 1.125em;
    font-family: 'Sharp Unity', sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-top: .6em;
    margin-bottom: 1em;
    color: white;
}

.component--textContainer .cardtext--details {
    font-size: .875em;
    line-height: 1.5;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    margin-top: .875em;
    color: white;
}


/* Dotted line */
.dotted-line {
    border-bottom: 1px dotted #7d7d7d;
    margin-bottom: 32px;
}


/* Image Container */
.image-container {
    position: relative;
}

.image-container .image-content {
    width: 300px;
    height: auto;
    position: absolute;
}

.image-container .image-content.image-1 {
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition-delay: 3s;
    transition-delay: 3s;
}

.image-container .image-content.image-2 {
    top: -2px;
    right: 300px;
    z-index: 2;
    width: 270px;
}

.image-container .image-content.image-3 {
    top: -2px;
    right: 70px;
    z-index: 4;
    width: 390px;
}


/* Page-links */
[type=page-links] {
    margin-bottom: 48px;
}

[type=page-links] .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-shadow: 0 2px 50px 0 rgba(0,0,0,.15);
}

[type=page-links] .item {
    padding: 30px 40px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: #1e1e1e;
    position: relative;
}

[type=page-links] .item:not(:last-child) {
    border-right: 1px solid hsla(0,0%,96%,.2);
}

[type=page-links] .item:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #bb1324;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    z-index: 0;
    content: "";
    -webkit-transition: -webkit-transform .4s cubic-bezier(.165,.84,.44,1);
    transition: -webkit-transform .4s cubic-bezier(.165,.84,.44,1);
    transition: transform .4s cubic-bezier(.165,.84,.44,1);
    transition: transform .4s cubic-bezier(.165,.84,.44,1),-webkit-transform .4s cubic-bezier(.165,.84,.44,1);
}

[type=page-links] .item:hover:before {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1)
}

[type=page-links] .item .suplabel {
    margin-bottom: 15px;
    opacity: .6;
    font-size: .5714285714em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'geomanist', sans-serif;
    font-weight: 600;
}

[type=page-links] .item .item-title, [type=page-links] .item .suplabel {
    display: block;
    position: relative;
    z-index: 1;
    font-style: normal;
    line-height: 1;
    color: #fff;
}

[type=page-links] .item .item-title {
    margin-bottom: 0;
    font-size: 1.1em;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
}

[type=page-links] .item i {
    position: absolute;
    top: 50%;
    right: 40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    color: #fff !important;
}

[type=page-links] .item:hover .suplabel, [type=page-links] .item:hover .item-title {
    color: #fff;
    opacity: 1;
}

@media (max-width: 767px) {
    [type=page-links] .container {
        margin-right: 0;
        margin-left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    [type=page-links] .item {
        padding: 30px;
    }
    [type=page-links] .item:first-child {
        padding-top: 36px;
    }
    [type=page-links] .item:before {
        margin-right: 30px;
        margin-left: 30px;
        height: 1px;
        width: calc(100% - 60px);
        background-color: hsla(0,0%,65%,.2);
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
        transform-origin: 0;
    }
    [type=page-links] .item:first-child:before {
        display: none;
    }
        [type=page-links] .item:not(:last-child) {
        border: none;
    }
}


/* Live TV */
.live-player {
    background-color: #181F24;
}

.live-player .module-container {
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 40px 20px;
}

.live-player .media-container {
    max-width: 1280px;
    width: 100%;
}

.live-player .media-container .player_holder {
    background-color: #181d20;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.live-player .media-container .player_holder::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.live-player *::after {
    box-sizing: border-box;
}

.live-player .media-container .player_holder .image_holder {
    background-color: transparent;
    overflow: hidden;
}

.live-player .media-container .player_holder .image_holder .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity .2s ease-out 0s;
    -moz-transition: opacity .2s ease-out 0s;
    -o-transition: opacity .2s ease-out 0s;
    transition: opacity .2s ease-out 0s;
}

.live-player .media-container .player_holder .content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.live-player .media-container .player_slate {
    box-sizing: border-box;
    background-color: rgba(24,31,36,0.6);
    color: #fff;
    display: block;
    font-size: 0;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

.live-player .media-container .player_slate .player_slate_content {
    font-size: 16px;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 345px;
}

.live-player .media-container .player_slate .player_slate_content .player_slate_title {
    font: 20px/24px 'Sharp Unity';
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.live-player .media-container .player_slate .player_slate_content .player_slate_title h2 {
    color: inherit;
    font: inherit;
    margin: 0em 0em .66666667em 0em;
}

.live-player .media-container .player_slate .player_slate_content .player_slate_description {
    color: #d1d2d3;
    font: 14px/23px 'geomanist';
    margin-bottom: 20px;
}

.live-player .media-container .player_slate .player_slate_content .player_slate_button {
    border: 4px solid #fff;
    display: inline-block;
    padding: 8px 15px;
    cursor: pointer;
    font: bold 13px/20px sans-serif;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: background-color, border;
}

.live-player .media-container .player_slate .player_slate_content .player_slate_button {
    border-color: #464C50;
    background-color: #464C50;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: normal;
}


/* About Gallery */
.about-gallery {
    height: 400px;
    position: relative;
}

.about-gallery .about-image {
    width: 55%;
    height: auto;
    position: absolute;
    box-shadow: 0 -1px 25px 6px rgba(0,0,0,.36);
}

.about-gallery .about-image.image-1 {
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-transition-delay: 3s;
    transition-delay: 3s;
}

.about-gallery .about-image.image-2 {
    bottom: -40px;
    right: 0;
    z-index: 1;
    -webkit-transition-delay: 3.5s;
    transition-delay: 3.5s;
}


/* People */
.m-people {
    height: 454px;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    opacity: 1;
    -webkit-transition: opacity .7s cubic-bezier(.77,0,.175,1) .4s;
    transition: opacity .7s cubic-bezier(.77,0,.175,1) .4s;
}

.m-people .people-box {
    position: absolute;
    top: 0;
    height: 100%;
    width: 310px;
}

.m-people.people-odd .people-box {
    left: 50px;
    right: auto;
}

.m-people.people-even .people-box {
    right: 300px;
    left: auto;
}

.m-people .people-box .people-social {
    position: absolute;
    top: 60px;
    left: -50px;
    -webkit-transition: opacity .3s ease-out 1s;
    transition: opacity .3s ease-out 1s;
}

.m-people .people-box .people-social ul li a {
    font-size: 20px;
    line-height: 1.8;
    margin-left: 5px;
    margin-bottom: 10px;
}

.m-people .people-box .people-social ul li a i {
    color: white;
}

.m-people .people-box .people-image-wrapper {
    height: 100%;
    width: auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 -1px 25px 6px rgba(0,0,0,.36);
}

.m-people .people-box .people-image-wrapper .people-image {
    height: 100%;
    width: auto;
}

.m-people .people-box .people-info {
    position: absolute;
    top: 0;
    left: 310px;
    width: 400px;
    height: 457px;
    pointer-events: none;
}

.m-people .people-box .people-info h2.people-name {
    font-size: 36px;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 600;
    color: #fff;
    margin-left: 20px;
    line-height: 45px;
}

.m-people .people-box .people-info .separator {
    margin-left: 20px;
    width: 30%;
    background-color: #f8cb00;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 20px;
    transform-origin: left center;
}

.m-people .people-box .people-info .people-role {
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 600;
    font-size: .7em;
    letter-spacing: 2px;
    margin-left: 20px;
    color: #cfcfcf;
    text-transform: uppercase;
}

.m-people .people-box .people-info .people-bio {
    margin-left: 20px;
    margin-top: 35px;
    width: 300px;
    line-height: 28px;
    font-size: .92em;
    color: #fff;
}


/* Pulse */
.elements__item {
    display: block;
    position: relative;
}

.elements__action {
    position: absolute;
    top: 250px;
    left: 30px;
    z-index: 100;
}

.elements__action.action__2 {
    top: 350px;
    right: 0;
    left: inherit;
}

.elements__hover {
    width: 190px;
    height: 180px;
    top: -20px;
    position: relative;
}

.elements__about {
    height: 100%;
    position: relative;
    text-decoration: none;
    padding: 70px 0 60px;
    width: 100%;
    top: -40px;
    display: block;
}

a.elements__about:active, a.elements__about:focus {
    outline: none;
}

.ui-plus {
    position: absolute;
    display: block;
    z-index: 10;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, .4);
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: border .3s cubic-bezier(0.11, .69, .2, .88);
    color: #fff;
    line-height: 52px;
    font-size: 3.7em;
    text-align: center;
    left: 0;
    right: 0;
}

.ui-plus .ui-plus__inner {
    width: 18px;
    height: 18px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ui-plus::after {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    content: " ";
    border-radius: 100%;
    left: -6px;
    top: -6px;
    opacity: 1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.ui-plus svg {
    width: 18px;
    height: 18px;
    fill: #fff;
    top: 1px;
    position: absolute;
    left: 0;
}

.elements__anchor .ui-plus {
    box-shadow: 0 0 0 rgba(255, 255, 255, .6);
    -webkit-animation: pulse 1.2s infinite;
    animation: pulse 1.2s infinite;
}

.elements__anchor:hover .ui-plus {
    border: 1px solid transparent;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.elements__anchor:hover .ui-plus::after {
    -webkit-animation: grow .4s normal forwards;
    animation: grow .4s normal forwards;
}

/*
.elements__anchor span {
    display: block;
    height: .6em;
    overflow: hidden;
}
*/

.elements__anchor .elements__more {
    font-size: 1.1em;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    line-height: 1.3636363636;
/*    letter-spacing: .14em;*/
    display: inline-block;
    color: #fff;
/*    text-transform: uppercase;*/
/*    height: 100%;*/
    position: absolute;
    left: 3.6em;
    padding: .6em 1.2em;
    width: 90px;
}

.modal-open .modal {
    top: 10%;
    max-height: 100%;
}

.modal-dialog {
    width: 750px;
}

.modal-content {
    border-radius: 0;
    color: #333;
    box-shadow: none;
}

.modal-header {
    border: none;
}

.modal-body {
    padding: 0 3em 1.25em;
}

.caption-text {
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4em;
    line-height: 1.4;
    margin-bottom: 1em;
}

.modal-body p {
    color: #222;
}

.modal-body .card__title {
    margin-bottom: 0.8125em;
}

.modal-body .card__title .employee-name {
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    display: block;
    color: #bb1324;
    font-size: 1.2142857143em;
    line-height: 1;
    margin-bottom: 8px;
}

.modal-body .card__title .employee-function {
    font-size: .9em;
    margin-bottom: 12px;
    display: block;
}

.modal-body .card__title .employee-social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal-body .card__title .employee-social-links li {
    margin-right: 5px;
    margin-left: 5px;
}

.modal-body .card__title .employee-social-links li:first-child {
    margin-left: 0;
}

.modal-body .card__title .employee-social-links a {
    display: block;
    border: 1px solid rgba(30,30,30,.5);
    border-radius: 100%;
    padding: 11px 12px;
}

.employee-social-links a i {
    display: block;
    font-size: 14px;
    color: #666;
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 rgba(250, 211, 9, .6)
    }
    70% {
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0)
    }
    100% {
        box-shadow: 0 rgba(204, 169, 44, 0)
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 rgba(250, 211, 9, .6)
    }
    70% {
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0)
    }
    100% {
        box-shadow: 0 rgba(204, 169, 44, 0)
    }
}

@media (max-width: 767px) {
    .modal-open .modal {
        padding-right: 15px;
    }
    .modal-dialog {
        width: 100%;
    }
    .modal-body .caption-text {
        font-size: 1.1em;
        line-height: 1.4;
    }
}


/* Headline */
.headline__teaser-wrapper {
    border-bottom: 1px dotted #7d7d7d;
    margin-bottom: 32px;
}

.headline-teaser {
    margin-bottom: 16px;
    position: relative;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.headline-teaser__small {
    padding-bottom: 16px;
    display: block;
}

.headline-teaser__small .headline-teaser__content {
    padding: 16px 0;
}

.headline-teaser__heading {
    color: #fff;
    margin-top: 8px;
    margin-bottom: 8px;
}

.headline-teaser__heading a {
    font-family: 'Sharp Unity', serif;
    font-size: 1em;
    line-height: 18px;
    font-weight: 600;
    padding: 2px 0;
    color: inherit;
    text-decoration: none;
    border: 0;
}

.headline-teaser__content p {
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
}

.headline-teaser__heading a:hover {
    color: #f8cb00;
}

.headline-teaser__body {
    font-size: 14px;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #e4e4e4;
}

.headline-teaser__small .headline-teaser__image-container {
     width: 100%; 
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-top: 0;
    padding-right: 0;
    margin-bottom: 16px;
    min-height: 1px;
}

.headline-teaser__image-placeholder {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    z-index: 1;
    background-color: transparent;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.headline-teaser__image-placeholder img {
    display: block;
    max-width: 100%;
}

.headline-teaser__meta {
    font-size: 12px;
    line-height: 20px;
    color:  rgba(255,255,255,.6);
    text-transform: uppercase;
}

.headline-teaser__tag {
    color: inherit;
    text-decoration: none;
    border: 0;
}

.headline-teaser__type2 {
    padding-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #ccc1b7;
}

.headline-teaser__type2 .headline-teaser__image-container {
    width: 30%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-top: 4px;
    padding-left: 20px;
}

/* Opinion Teaser */
.opinion-teaser-collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 350px;
    max-height: 350px;
}

.opinion-teaser {
    font-family: 'Sharp Unity', sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
    position: relative;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.opinion-teaser--hero {
    zoom: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.opinion-teaser--stretched {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.opinion-teaser--hero:before, .opinion-teaser--hero:after {
    content: '';
    display: table;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.opinion-teaser--hero:after {
    clear: both;
}

.opinion-teaser--stretched .opinion-teaser__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.opinion-teaser--hero .opinion-teaser__content {
    padding: 20px;
/*    background-color: #111;*/
    background-color: #003d7b;
/*    background: linear-gradient(-150deg, #FA1E64 0%, #2B00F7 97%);*/
/*    background: linear-gradient(150deg, #7701df 0%, #4800a4 97%);*/
}

.opinion-teaser--hero .opinion-teaser__content.red {
    background-color: #bf124f;
}

.opinion-teaser--hero .opinion-teaser__content.green {
    background-color: #025565;
}

.opinion-teaser--hero .opinion-teaser__meta {
    color: #fff;
}

.opinion-teaser__tag {
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 600;
    color: inherit;
    text-decoration: none;
    border: 0;
}

.opinion-teaser--hero .opinion-teaser__meta:after {
    margin-top: 4px;
    margin-bottom: 12px;
    content: '';
    display: block;
    width: 60px;
    border-bottom: 4px solid #990f3d;
}

.opinion-teaser--hero .opinion-teaser__meta:after {
    border-bottom-color: #fff;
}

.opinion-teaser__heading {
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
}

.opinion-teaser--stretched .opinion-teaser__heading {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.opinion-teaser__heading a {
    font-family: 'Sharp Unity', serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    padding: 2px 0;
    color: inherit;
    text-decoration: none;
    border: 0;
}

.opinion-teaser__body {
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 0px;
    color: #f1f8ff;
}


/* Videos */
section.videos {
    background-color: #1B2029;
    color: white;
    padding-top: 2em;
    margin: 2em 0;
}

.videos .section__title, .videos .section__title-link {
    color: #fff;
}

.videos .section__title:before, .videos .section__title:after {
    border-top: 8px solid rgba(255,255,255,0.1);
}

.videos .section__title:after {
    border-top-color: #fff;
}

.videos .section__title-link:after {
    background-image: url(../img/icon-arrow-right-light.svg);
}

.videos .video-holder {
    height: 236px;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 90px;
    position: relative;
}

.videos .video-holder a {
    text-decoration: none;
    display: block;
}

.videos .video-holder .image_holder {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: #000;
    margin-bottom: 0;
}

.videos .video-holder .image_holder:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.videos .video-holder .image_holder .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity .2s ease-out 0s;
    -moz-transition: opacity .2s ease-out 0s;
    -o-transition: opacity .2s ease-out 0s;
    transition: opacity .2s ease-out 0s;
}

.videos .video-holder .image_holder img {
    width: 100%;
    height: auto;
    display: block;
}

.videos .video-holder p {
/*    background-color: #272a2b;*/
    background-color: #1B202B;
    z-index: 8;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90px;
    min-height: 0;
    width: 100%;
}

.videos .video-holder p {
    overflow: hidden;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    padding: 15px 15px 0;
    font: 14px/18px 'Sharp Unity', sans-serif;
    font-weight: 600;
    color: #edf2f5;
}

.videos .video-holder p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}

.video-control {
    right: 0;
    bottom: 25px;
    overflow: hidden;
    color: rgba(255,255,255,.9);
    background-color: rgba(31,31,31,.56);
}

.video-control:after, .video-control:before {
    transition: all .3s cubic-bezier(.35,0,.25,1);
    -webkit-transition: all .3s cubic-bezier(.35,0,.25,1);
}

.video-control, .video-control:after, .video-control:before {
    position: absolute;
    width: 32px;
    height: 32px;
}

.video-control:before {
    top: 0;
    left: -36px;
    background-color: #fff;
    content: ''
}

.video-control:before {
/*    left: -28px;*/
    width: 32px;
    height: 32px;
    background-color: #fff;
}

.video-control:after {
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    font-size: 16px;
    text-align: center;
}

.video-control--play:after {
    font-family: FontAwesome;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f04b";
    line-height: 32px;
}

.videos .video-holder a:hover .video-control:before {
    left: 0;
}

.videos .video-holder a:hover .video-control:after {
    color: #1f1f1f;
}


/* Articles */
.category-headline {
    font-weight: 600;
    letter-spacing: -0.02em;
    font-size: 3.2475em;
    margin-bottom: 0.5em;
    line-height: 1;
}

.article-headline {
    font-weight: 600;
    letter-spacing: -0.02em;
    font-size: 3.2475em;
    margin-bottom: 0.5em;
    line-height: 1;
}

.article-published {
    color: #84919C;
    font-size: 0.875em;
    line-height: 1.4;
    margin: .893em 0;
}

.article-details {
    line-height: 1.4;
    display: inline-block;
}

.sharing {
    display: inline-block;
    float: right;
}

.sharing li {
    display: inline-block;
    margin: 0;
    font-size: 1.1em;
    padding-right: 0.58em;
    line-height: 1.6;
    letter-spacing: -.015em;
}

.sharing a {
    color: #757575;
    display: block;
}

.article-author {
    color: #204b87;
    font-size: 0.875em;
    padding-bottom: .45em;
    -ms-flex: 1;
    flex: 1;
    float: left;
}

.author-details {
    line-height: 1.55;
    padding-bottom: 0.75em;
    overflow: auto;
}

.author-details p {
    display: block;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0;
}

.author-details span {
    display: block;
    line-height: 1.1;
}

.article__lead-image {
    margin-top: 1em;
    margin-bottom: 2em;
    overflow: auto;
}

.article__lead-image img {
    max-width: 100%;
}

.article-description {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #666;
    font-weight: 400;
    margin-bottom: 32px;
    clear: none;
}

.rich-text p {
    font-size: 1.1em;
    line-height: 1.8;
}

/*
.rich-text p:first-of-type:first-letter {
    color: #247bcb;
    float: left;
    font-size: 7em;
    font-weight: 300;
    line-height: .75;
    margin-right: .1em;
}
*/

.inline-image {
    border: .0625rem solid #f5f5f5;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    display: block;
    float: none;
}

.inline-image__src {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.inline-image-footer {
    background: #f5f5f5;
    color: #757575;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1em;
}

.inline-image-footer {
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 1em 1.5em 1.25em;
}

.inline-image-footer__data {
    -ms-flex: 4;
    flex: 4;
    margin-bottom: 0;
}

.inline-image-footer__text {
    font-size: .8125em;
    line-height: 1.4;
    padding-right: 1.575em;
    margin: 0;
}

.inline-image-footer__action-group {
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}

.inline-image-footer__action {
    color: #757575;
    display: inline-block;
    font-size: .875em;
    margin-left: .5em;
    text-decoration: none;
    vertical-align: top;
}

.inline-newsletter {
    display: block;
    float: left;
    clear: left;
    margin: 8px 40px 20px 0;
    margin-left: 0;
}

.inline-newsletter__main {
    background: url('../img/dotted.png') repeat;
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 270px;
}

.inline-newsletter__content {
    height: 100%;
    background-color: #fff;
    padding-top: 16px;
    padding-bottom: 30px;
    position: relative;
}

.inline-newsletter__main-text {
    font-family: 'Sharp Unity',sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.inline-newsletter__sub-text{
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.inline-newsletter__subscribe {
    padding-top: 20px;
}

.inline-newsletter__form {
    height: 40px;
    border: 1px solid #065084;
}

.inline-newsletter__input {
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #3c3c3c;
    font-size: 16px;
    width: 170px;
    height: 100%;
    vertical-align: bottom;
    padding: 0 0 0 10px;
}

.inline-newsletter__button {
    background-color: transparent;
    border: 0;
    outline: 0;
    background-color: #065084;
    float: right;
    font-size: 16px;
    color: #fff;
    height: 100%;
    width: 80px;
    cursor: pointer;
    padding: 0;
}

.speech-bubble {
    overflow: visible;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-size: 12px;
    font-size: 0.75em;
    line-height: 16px;
    line-height: 1em;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    margin-left: 2px;
    padding: 0 0 4px 0;
    color: #666;
    min-width: 24px;
    cursor: pointer;
}

.speech-bubble .icon {
    position: relative;
    min-width: 24px;
    min-height: 12px;
    padding: 5px;
    border: 1px solid #666;
    color: #333;
    border-radius: 4px;
}

.speech-bubble .icon {
    transition: background-color 0.3s, border-color 0.3s;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    background: transparent;
    line-height: 0;
    vertical-align: middle;
    font-style: normal;
}

.speech-bubble .icon {
    position: relative;
    min-width: 24px;
    min-height: 12px;
    padding: 5px;
    border: 1px solid #666;
    color: #333;
    border-radius: 4px;
}

.speech-bubble .icon:before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 15px;
    border-width: 6px 0 0 8px;
    border-style: solid;
    border-color: #666 transparent;
    display: block;
    width: 0;
}

.speech-bubble .icon:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 16px;
    border-width: 6px 0 0 6px;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
    transition: border-color 0.3s;
}

.speech-bubble .count {
    font-size: 0.75em;
    line-height: 0.75em;
}

blockquote {
    color: #fff;
    font-size: 1.4em;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 600;
    letter-spacing: -.00625em;
    line-height: 1.3;
    margin: .9em 0;
    border-left: 3px solid #e1192d;
}

.widget {
    margin: 50px 0;
}

h2.widget-title {
    font-size: 18px;
    font-weight: 600;
    color: #757c81;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.widget ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.widget ul li {
    padding: 8px 0;
}

.widget ul li, .widget a {
    font-size: 14px;
    color: #204b87;
    line-height: 22px;
}


/* Cookies */
.weusecookies {
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 14px;
    background: #f2f2f2;
    text-align: left;
    z-index: 502;
    display: none;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.weusecookies .wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px;
}

.weusecookies .wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.weusecookies .wrap .cookie-heading {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0 30px 0 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 1;
}

.weusecookies .wrap .cookie-text {
    line-height: 1.1;
    font-size: 14px;
}

.weusecookies .cookie-close {
    margin-top: 15px;
    color: #3a3d45;
}



/* Featured List */
section[type=featured-list] .header {
    margin-bottom: 48px;
    position: relative;
}

section[type=featured-list] .title {
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    font-style: normal;
    display: inline-block;
    max-width: 500px;
    font-size: 2em;
    line-height: 1.09;
    letter-spacing: -1.5px;
    color: #fff;
}

section[type=featured-list] .header-link {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: .89em;
    line-height: 1;
    color: #f8cb00;
    -webkit-transition: color .3s cubic-bezier(.25,.46,.45,.94);
    transition: color .3s cubic-bezier(.25,.46,.45,.94);
}

section[type=featured-list] .header-link-arrow {
    position: absolute;
    left: -25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: left .5s cubic-bezier(.19,1,.22,1);
    transition: left .5s cubic-bezier(.19,1,.22,1);
}

section[type=featured-list] .header-link i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}

.featured-list__wrapper {
    margin-bottom: 48px;
}

.featured-list__wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.featured-list {
    display: inline-block;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    position: relative;
/*    width: 20%;*/
    width: 33.3%;
    float: left;
    padding-bottom: 20%;
    color: #fff;
}

a.featured-list:active, a.featured-list:focus {
    outline: none;
}

.bkgd:not(img) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
/*    background-position: 50%;*/
    z-index: 0;
}

.featured-list .bkgd {
    transition: filter 1.7s cubic-bezier(.19,1,.22,1),opacity 1.7s cubic-bezier(.19,1,.22,1);
}

.featured-list .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50,50,50,.4);
    opacity: 0;
    transition: opacity .8s cubic-bezier(.19,1,.22,1) 0ms;
}

.featured-list .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.featured-list .arrow, .featured-list .name {
    opacity: 0;
    transition: opacity 1s cubic-bezier(.19,1,.22,1),transform 1s cubic-bezier(.19,1,.22,1);
    color: #fff;
}

.featured-list .name {
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.4;
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    color: #fff;
}

.featured-list .post {
    font-family: 'geomanist', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: none;
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    padding-right: 22px;
    transition: opacity 1s cubic-bezier(.19,1,.22,1),transform 1s cubic-bezier(.19,1,.22,1);
    color: #fff;
}

.featured-list .arrow {
    right: 20px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    font-size: .9375em;
}

.featured-list:hover .overlay, .featured-list:hover .arrow, .featured-list:hover .name {
    opacity: 1;
}

.featured-list:hover .post {
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    opacity: 1;
}

.featured-list:hover .arrow {
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.featured-list:hover .bkgd {
    transition: filter 1.7s page-leave smooth-in, opacity 1.7s page-leave smooth-in;
}


@media (max-width: 767px) {
    .featured-list {
        display: block;
        position: relative;
        width: 50%;
        padding-bottom: 30%;
    }
    section[type=featured-list] .title {
        display: block;
    }
    section[type=featured-list] .header-link {
        position: relative;
        right: -27px;
        bottom: 0;
    }
}



/* Comic */
section[type=comic] {
    position: relative;
}

section[type=comic] .summary-content {
    margin-bottom: 48px;
}

section[type=comic] .summary-content p {
    font-size: 1em;
    margin-bottom: 16px;
}


/* Gallery */
section[type=gallery] .header {
    margin-bottom: 48px;
    position: relative;
}

section[type=gallery] .title {
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    font-style: normal;
    display: inline-block;
    max-width: 500px;
    font-size: 2em;
    line-height: 1.09;
    letter-spacing: -1.5px;
    color: #fff;
}

section[type=gallery] .header-link {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: .89em;
    line-height: 1;
    color: #bb1324;
    -webkit-transition: color .3s cubic-bezier(.25,.46,.45,.94);
    transition: color .3s cubic-bezier(.25,.46,.45,.94);
}

section[type=gallery] .header-link-arrow {
    position: absolute;
    left: -25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: left .5s cubic-bezier(.19,1,.22,1);
    transition: left .5s cubic-bezier(.19,1,.22,1);
}

section[type=gallery] .header-link i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}

@media (max-width: 767px) {
    section[type=gallery] .title {
        display: block;
    }
    section[type=gallery] .header-link {
        position: relative;
        right: -27px;
        bottom: 0;
    }
}


/* Featured Comics */
section[type=comic-list] .header {
    margin-bottom: 48px;
    position: relative;
}

section[type=comic-list] .title {
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    font-style: normal;
    display: inline-block;
    max-width: 500px;
    font-size: 2em;
    line-height: 1.09;
    letter-spacing: -1.5px;
    color: #fff;
}

.featured-comics {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.featured-comic {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 35%;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 24px;
    float: left;
    background-color: #111;
}

.featured-comic:nth-child(4n+4) {
    margin-right: 0;
}

.featured-comic__image, .featured-comic__image img {
    position: relative;
    top: -400px;
    left: 0;
    width: 100%;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.featured-comic__description {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.featured-comic__description__bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    top: -.38462em;
    right: -.38462em;
    bottom: -.38462em;
    left: -.38462em;
    opacity: 0.95;
    background-color: #444;
}

.featured-comic__description .heading-set {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: auto;
    width: 14em;
    height: 9em;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.heading-set__primary {
    font-style: normal;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    font-size: .86em;
    line-height: 1.2;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1.1em;
}

.heading-set__primary:after {
    display: block;
    width: 34px;
    height: 0;
    border-bottom: 4px solid;
    content: "";
    color: #fff;
    margin-top: 1.5em;
}

.heading-set__secondary {
    font-style: normal;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

.featured-comic:hover .featured-comic__image {
    -ms-transform: scale(1.3);
    transform: scale(1.3)
}

.featured-comic:hover .featured-comic__description {
    opacity: 1;
}

.featured-comic:hover .heading-set {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1)
}

.featured-comic:active .heading-set, .featured-comic:active .heading-set {
    opacity: 0.7;
    transition: 0.15s;
}

@media (max-width: 767px) {
    .featured-comic {
        height: 100%;
        padding-top: 0;
        width: 100%;
        margin-right: 2%;
    }
    .featured-comic__image, .featured-comic__image img {
        top: 0;
    }
}


/* Masonry Gallery */
.mason-gal {
	-webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.mason-gal img {
    width: 100%;
    padding: 7px 0;
    float: left;
}

@media (max-width: 500px) {
    .mason-gal {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}


/* Lightboxes */
.lb-close {
    position: relative;
    top: 10px;
}

.lb-close:before {
    content: '\f00d';
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'FontAwesome';
}

.lb-close:hover {
    text-decoration: none;
}

.lb-data {
    overflow: hidden;
    min-height: 30px;
}

a[data-lightbox] {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}



/* News */
section[type=news] {
    background-color: #1e1e1e;
    padding-top: 64px;
    padding-bottom: 48px;
    position: relative;
}

section[type=news] .header {
    margin-bottom: 48px;
    position: relative;
}

section[type=news] .title {
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    font-style: normal;
    display: inline-block;
    max-width: 500px;
    font-size: 2em;
    line-height: 1.09;
    letter-spacing: -1.5px;
    color: #fff;
}

section[type=news] .header-link {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: .89em;
    line-height: 1;
    color: #bb1324;
    -webkit-transition: color .3s cubic-bezier(.25,.46,.45,.94);
    transition: color .3s cubic-bezier(.25,.46,.45,.94);
}

section[type=news] .header-link-arrow {
    position: absolute;
    left: -25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: left .5s cubic-bezier(.19,1,.22,1);
    transition: left .5s cubic-bezier(.19,1,.22,1);
}

section[type=news] .header-link i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}

@media (max-width: 767px) {
    section[type=news] .title {
        display: block;
    }
    section[type=news] .header-link {
        position: relative;
        right: -27px;
        bottom: 0;
    }
}

section[type=news] .news-item {
/*    margin: 48px 0;*/
    position: relative;
    color: #fff;
    text-align: left;
    overflow: hidden;
}

section[type=news] .img-wrap {
    margin-bottom: 16px;
    display: block;
}

section[type=news] .news-title {
    display: block;
    transition: opacity 180ms;
}

section[type=news] .news-title h1 {
    margin-bottom: 32px;
    padding-top: 8px;
    line-height: 1.2;
    text-align: left;
    font-size: 2.2em;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    color: #fff;
}

section[type=news] .news-title h3 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    text-align: left;
    font-size: 1.2em;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    color: #fff;
}

section[type=news] a .news-title h3 span {
    background-image: linear-gradient(180deg, transparent 65%, #bb1324 0);
    background-size: 0% 100%;
    -moz-transition: 0.3s cubic-bezier(0.5, 0.61, 0.355, 1) background;
    -o-transition: 0.3s cubic-bezier(0.5, 0.61, 0.355, 1) background;
    -ms-transition: 0.3s cubic-bezier(0.5, 0.61, 0.355, 1) background;
    -webkit-transition: 0.3s cubic-bezier(0.5, 0.61, 0.355, 1) background;
    transition: 0.3s cubic-bezier(0.5, 0.61, 0.355, 1) background;
    background-repeat: no-repeat;
    padding-bottom: 0;
}

section[type=news] a:hover .news-title h3 span {
    background-size: 100% 100%;
}

section[type=news] .news-item .date {
    font-family: 'geomanist', sans-serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    font-size: .5714285714em;
    line-height: 1.5;
    letter-spacing: 2.5px;
    color: rgba(255, 255, 255, .6);
    text-transform: uppercase;
}

section[type=news] .news-item p {
    font-size: .9em;
    line-height: 1.6;
    padding-top: 12px;
    color: #fff;
    overflow: hidden;
}

section[type=news] .news-item p.summary {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}

section[type=news] .news-item p a {
    color: #f8cb00;
    font-weight: 400;
    transition: color 180ms;
}

section[type=news] .news-body-container {
    display: inline-block;
    position: relative;
}

section[type=news] .news-body {
    padding-left: 85px;
    -webkit-font-smoothing: antialiased;
}

section[type=news] .news-body p {
    margin-bottom: 12px;
}

section[type=news] .news-summary {
    font-size: 21px !important;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    line-height: 1.4 !important;
    margin-bottom: 8px;
    color: #444;
}

.social-vertical {
    width: 60px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 16px;
}

.social-vertical .social-item {
    margin-right: 0;
    margin-bottom: 20px;
    display: block;
}

.social-vertical .social-link {
    height: auto;
    width: 100%;
    border-radius: 0;
    display: block;
    position: relative;
}

.social-link:before {
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 100%;
    z-index: 0;
    content: "";
    -webkit-transition: border .4s cubic-bezier(.25,.46,.45,.94);
    transition: border .4s cubic-bezier(.25,.46,.45,.94);
}

.social-link .svg, .social-link:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.social-vertical .social-link:before {
    height: 36px;
    width: 36px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 1px solid rgba(255,255,255,.5);
}

.social-link .svg {
    right: 0;
    bottom: 0;
    display: block;
    fill: #fff;
    z-index: 1;
}

.social-vertical .social-link .svg {
    height: 36px;
    width: 36px;
    margin: 0 auto 10px;
    position: relative;
    border-radius: 100%;
    fill: rgba(255,255,255,.5);
    -webkit-transition: all .4s cubic-bezier(.25,.46,.45,.94);
    transition: all .4s cubic-bezier(.25,.46,.45,.94);
}

.social-link .svg svg {
    height: 72%;
    width: 72%;
    display: block;
    padding-top: 10px;
    padding-left: 10px;
}

.social-vertical .social-link .social-text {
    display: block;
    font-family: 'geomanist', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: .5714285714em;
    text-align: center;
    line-height: 1.25;
    letter-spacing: 2px;
    color: #a6a6a6;
    text-transform: uppercase;
    -webkit-transition: color .3s cubic-bezier(.25,.46,.45,.94);
    transition: color .3s cubic-bezier(.25,.46,.45,.94);
}

.social-vertical .social-link:focus,.social-vertical .social-link:hover {
    text-decoration: none;
}

.social-vertical .social-link:hover .svg {
    fill: #fff;
}

.social-vertical .social-link:hover:before {
    border-width: 18px;
    border-color: #bb1324;
}

.social-vertical .social-link:hover .social-text {
    color: #fff;
}


@media (max-width: 767px) {
    section[type=news] .news-title h1 {
        line-height: 1.2;
        font-size: 1.6em;
    }

    .social-vertical {
        position: relative;
        width: 100%;
        display: inline-flex;
        padding-top: 8px;
    }
    .social-vertical .social-item {
        margin-right: 20px;
    }
    section[type=news] .news-body {
        padding-left: 0;
    }
}


/* Contact */
section[type=contact] {
    padding-bottom: 64px;
    background-color: #141414;
    position: relative;
}

section[type=contact] .container-inner {
    padding-top: 30px;
    margin-right: 250px;
    margin-left: 110px;
}

section[type=contact] .section-title {
    position: absolute;
    left: 9%;
    height: auto;
    width: 160px;
    font-family: 'geomanist', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: .5714285714em;
    line-height: 2.5;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, .6);
}

section[type=contact] .contact-img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    overflow: hidden;
    float: left;
}

section[type=contact] .contact-img img {
    height: 100%;
    width: 100%;
    display: block;
}

section[type=contact] .contact-text {
    margin-top: 8px;
    float: right;
    width: calc(100% - 80px);
    text-align: left;
    font-size: .9em;
    line-height: 1.5714285714em;
    color: #fff;
}

section[type=contact] .contact-text a {
    color: #caad2d;
}

section[type=contact] .container-inner:after {
    clear: both;
    content: "";
    display: table;
}

section[type=testimonial], section[type=founders] {
    position: relative;
    padding: 96px 0;
}

.curved-line {
    pointer-events: none;
    position: absolute;
    bottom: calc(100% - 50px);
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.curved-line:after {
    content: "";
    width: 300vw;
    height: 300vw;
    position: absolute;
    bottom: 0;
    border: 1px solid #312e2e;
    display: block;
    left: 50%;
    margin-left: -150vw;
    border-radius: 50%;
}

.contact-page__department {
    line-height: 1.25em;
    font-size: .8333333333em;
    margin-bottom: .6833233333em;
    padding-top: .3166766667em;
    color: #9e9e9e;
}

.contact-page__email {
    line-height: 1.5em;
    font-size: 1em;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    margin-bottom: .61999em;
    padding-top: .38001em;
    text-decoration: none;
    color: #fff;
    transition: .4s;
}

.contact-page__email:hover {
    color: #bb1324;
}

.what-people-say {
    position: relative;
}

.what-people-say span {
    font-size: 30px;
    color: #bb1324;
}

.what-people-say h2 {
    font-size: 2em;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    margin-bottom: 32px;
    color: #fff;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    text-align: center;
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
    background: #c0c0c0;
}

#quote-carousel .carousel-indicators .active {
    background: #fff;
    height: 10px;
    width: 10px;
    margin-bottom: 1px;
}

.carousel-inner p {
    font-size: 1.1em;
}

.carousel-inner strong {
    padding-right: 8px;
}


/* Support Form */
section[type=support] form {
    position: relative;
}

section[type=support] h2 {
    font-family: 'Sharp Unity', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 32px;
    clear: both;
}

section[type=support] form .input_field2 {
    margin-bottom: 8px;
}

section[type=support] form label {
    font-family: 'Sharp Unity', sans-serif;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    display: block;
}

section[type=support] form span.req {
    display: inline;
    float: none;
    color: #e1192d;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

section[type=support] form .input_field2 .fields {
    display: block;
    margin-bottom: 30px;
}

section[type=support] form .input_field2 input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 2px solid #fff;
    background: transparent;
    padding-left: 30px;
    border-radius: 0;
    font-weight: 300;
    font-size: 13px;
    box-shadow: none;
}

section[type=support] form input+label {
    margin: 0;
    padding-top: 8px;
    clear: both;
    font-size: 11px;
    font-family: 'geomanist', sans-serif;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: none;
    line-height: 1.4;
    color: #fff;
    display: block;
}

section[type=support] form .input_field2.nice-select {
    width: 100%;
    height: 50px;
    line-height: 45px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 0;
    padding-left: 0;
}

section[type=support] form .nice-select span {
    padding-left: 18px;
}

section[type=support] form .nice-select label {
    margin: 0;
    padding-top: 8px;
    clear: both;
    font-size: 11px;
    font-family: 'geomanist', sans-serif;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: none;
    line-height: 1.4;
    color: #fff;
    display: block;
    padding-left: 0;
}

section[type=support] form h3 {
    font-weight: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
    margin: 0 0 3px 0;
    width: auto;
    padding: 16px 0 6px;
    border-top: 1px dotted #ccc;
}

section[type=support] form p {
    font-size: 12px;
    line-height: 1.6;
}

.nice-select .list {
    border-radius: 0;
    background-color: #ba1426;
    box-shadow: 0 0 0 1px rgba(250, 247, 247, .8);
}

.nice-select.open .list {
    width: 100%;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #151515;
}

 section[type=support] form label.choice {
     display: block;
     position: relative;
     margin-bottom: 12px;
     padding-top: 3px;
     cursor: pointer;
     font-size: 14px;
     line-height: 1.6;
     letter-spacing: 0;
     text-transform: none;
     padding-left: 35px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.choice input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.choice:hover input ~ .checkmark {
    background-color: #ccc;
}

.choice input:checked ~ .checkmark {
    background-color: #bb1324;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.choice input:checked ~ .checkmark:after {
    display: block;
}

.choice .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

hr.dotted {
    border-style: dotted;
}


/* Pledge Sidebar */
.pledge-image {
    margin-bottom: 24px;
}

.pledge-sidebar {
    margin-bottom: 20px;
    font-size: 14px;
    color: #656969;
    display: block;
    background: transparent;
    border: 2px solid #fff;
    position: relative;
    word-break: break-word;
}

.pledge__info {
    background: none;
    position: relative;
    z-index: 1;
    margin: 0 20px;
    padding: 20px 0;
}

.pledge__amount {
    color: #fff;
    font-size: 1.2em;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
}

.pledge__reward-description {
    color: #fff;
    position: relative;
    margin-bottom: 20px;
    height: auto;
    line-height: 1.8em;
}

.pledge__reward-description p {
    font-size: 14px;
    line-height: 1.4;
}

.pledge__reward-description ul {
    margin-left: .8em;
    padding-left: 1.2em;
}

.money {
    white-space: nowrap;
}

.list-disc {
    list-style: disc;
}


/* Newsletter */
section[type=newsletter] {
    padding: 60px 0 !important;
    background-color: #111 !important;
    color: #fff !important;
}

section[type=newsletter] .newsletter-title {
    font-family: 'Sharp Unity', sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
    font-size: 2em !important;
    line-height: 1 !important;
    letter-spacing: 0 !important;
    color: #fff !important;
    margin-bottom: 12px !important;
}

section[type=newsletter] .newsletter-form {
    position: relative !important;
    margin-top: 47px !important;
    max-width: 360px !important;
    margin: 0 auto !important;
}

section[type=newsletter] .newsletter-form input {
    font-family: 'geomanist', sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 1em !important;
    line-height: 1 !important;
    color: #ccc !important;
    width: 100% !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 50px !important;
    outline: none !important;
    background: transparent !important;
    border: 0 none !important;
    border-bottom: 2px solid rgba(255, 255, 255, .5) !important;
}

section[type=newsletter] .newsletter-form button {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 2px !important;
    width: 50px !important;
    border: none !important;
    background-color: transparent !important;
}

section[type=newsletter] .newsletter-form button .svg {
    position: absolute !important;
    top: 50% !important;
    right: 0 !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

section[type=newsletter] .newsletter-form button .svg svg {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    -webkit-transition: fill .2s cubic-bezier(.165, .84, .44, 1) !important;
    transition: fill .2s cubic-bezier(.165, .84, .44, 1) !important;
    fill: #e1192d !important;
}



/* Footer */
footer {
    background: #000;
    color: #fff;
}

footer a {
    color: #fff;
}

.footer__wrapper {
/*    border-top: 1px solid #4f4f4f;*/
    border-bottom: 1px solid #4f4f4f;
}

.footer__newsletter {
    width: 70%;
    position: relative;
    float: left;
    padding: 21px;
}

.footer__newsletter .newsletter {
    padding: 0.75em 0 1.125em;
}

.footer__newsletter .newsletter:before, .footer__newsletter .newsletter:after {
    content: " ";
    display: table;
}

.footer__newsletter::after {
    content: "";
    display: block;
    position: absolute;
    right: -1.75%;
    top: 0;
    bottom: -2px;
    border-right: 1px solid #4f4f4f;
}

.newsletter__callout {
    width: 50%;
    float: left;
    margin-right: 1em;
    padding-top: 0.125em;
}

.newsletter__callout h2 {
    font-size: 1.375em;
    font-weight: 600;
    line-height: 1.2;
    color: #f6f6f6;
}

.newsletter__callout__description {
    color: #84919C;
    font-size: .9em;
    margin-top: 0.4em;
    line-height: 1.4;
    margin-bottom: 16px;
}

.newsletter__form__field {
    margin: 0;
    overflow: hidden;
    padding: 0.5em 0;
    width: auto;
    text-align: left;
    font-weight: normal;
    position: absolute;
    right: 1.5em;
    border: 0;
}

.footer__form__input {
    border: 1px solid #84919C;
    border-right: 0;
    border-radius: 0px 0px 0px 0px;
    padding: 0.75em 1em;
    float: left;
    width: 250px;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.footer__form__submit {
    background-color: #005C9C;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #005C9C;
    color: white;
    padding: 0.65em 1em 0.85em;
    float: left;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.footer__socialmedia {
    width: 30%;
    position: relative;
    float: left;
    padding: 21px;
}

.footer__socialmedia .footer__socialmedia-title {
    padding: 2.6em 1em 1.125em;
    float: left;
    position: relative;
    font-size: .8em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 600;
}

.footer__socialmedia .footer__socialmedia-group {
    padding: 1.45em 0 0 0em;
}

.footer__socialmedia a i {
    padding: 11px 12px;
    color: white;
}

.social-share--facebook, .social-share--twitter, .social-share--linkedin, .social-share--youtube, .social-share--instagram {
    width: 40px;
    height: 40px;
    color: white;
    font-size: 18px;
    display: inline-block;
    position: relative;
    border-radius: 100%;
    margin-left: 5px;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.social-share--facebook {
    background-color: #3D5BA8;
}

.social-share--twitter {
    background-color: #24ABE2;
}

.social-share--linkedin {
    background-color: #007BB6;
}

.social-share--youtube {
    background-color: #d30f0f;
}

.social-share--instagram {
    background-color: #125688;
}

.footer__link-list ul {
    list-style-type: none;
/*    margin: 0 0 20px;*/
    border-bottom: 1px solid #bbbaba;
}

.footer__link-list ul li {
    padding: 0 0 23px;
    display: inline-block;
    color: #171918;
}

.footer__link-list ul li a {
    letter-spacing: 1px;
    font-size: .82em;
/*    color: #485052;*/
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
}

.footer__link-list ul li:after {
    content: "";
    margin: 0 14px;
    border-right: solid 1px #bbbaba;
}

.footer__link-list ul li:last-child:after {
    border: 0;
    margin: 0;
}

.footer__secondary-social {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Sharp Unity', sans-serif;
    justify-content: space-between;
    display: flex;
    border: 0;
    border-bottom: 1px solid #bbbaba;
/*    margin: 30px 0 0 0;*/
/*    padding: 0 18px;*/
}

.footer__secondary-social a {
/*    color: #333;*/
    color: #fff;
    padding: 15px 0;
    display: inline-block;
    margin: 0;
    width: auto;
    text-decoration: none;
}

.footer__secondary-social a i {
    margin-right: 5px;
    vertical-align: unset;
}

.footer__footnote {
    padding: 24px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer__footnote aside {
    font-size: 12px;
    line-height: 1.5;
}

.footer__footnote aside p {
    margin: 0 0 15px;
    font-size: 1em;
    color: white;
}

.footer__footnote ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
}

.footer__footnote ul li {
    float: left;
    padding-right: 7px;
    margin-right: 7px;
    border-right: 1px solid #444;
}

.footer__footnote ul li:last-child {
    margin-right: 0;
    border: 0;
}

.footer__footnote a {
    text-decoration: none;
}

.footer__footnote .logo {
    margin-top: 15px;
}

.footer__footnote .logo img {
    width: 124px;
/*    height: 26px;*/
    height: 55px;
}

.subscribe-header {
    font-size: 1.6em;
    font-weight: 700;
    font-family: 'Sharp Unity', sans-serif;
    color: #222;
    line-height: 1.3;
    padding-top: 16px;
    padding-right: 19px;
    margin-bottom: 24px;
    -webkit-font-smoothing: antialiased;
}


.footer-nav-links {
    padding-left: 24px; 
    display: block;
}

.footer-nav-list {
    margin: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.footer-nav-list:last-child {
    margin-bottom: 2.25em;
}

.footer-nav-links > li {
    font-size: 0.8125em;
    line-height: 1.5em;
}

.footer-nav-list > li a {
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 0.85em;
    line-height: 1.25em;
    padding: 0;
    color: #333;
}

.footer-nav h6 {
    font-size: 0.9125em;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 0.75em;
    cursor: pointer;
    letter-spacing: 0;
    position: relative;
    color: #7d97ad;
}

.footer-dateLocationSocial {
    line-height: 18px;
}

.footer-social {
    margin-left: 0;
    padding-top: 8px;
    margin-bottom: 24px;
}

.footer-social a {
    color: #333;
    display: inline-block;
    font-size: 20px;
    margin-left: 12px;
}

.footer-social a i.fb {
    color: #3b5998;
}

.footer-social a i.tt {
    color: #55acee;
}

.footer-social a i.ig {
    color: #125688;
}

.footer-social a i.yt {
    color: #d30f0f;
}

.footer-social a, .footer-social a:focus, .footer-social a:hover {
    text-decoration: none;
}

.footer-social a:first-child {
    margin-left: 0;
}

.footer-social span {
    font-size: 13px;
    margin-left: 6px;
    color: #333;
    vertical-align: top;
}

footer {
    overflow: hidden;
    position: relative;
    height: 200px
}

footer .letstalk {
    left: 69%;
    position: absolute;
    width: 31%;
    height: 200px;
    overflow: hidden
}

footer .letstalk div {
    display: table;
    height: 100%;
    width: 100%
}

footer .letstalk div a {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
    color: #aaa;
    text-decoration: none;
    background: #bb1324;
    transition: all .25s ease-in-out;

}

footer .letstalk div a h2 {
    font-size: 14px;
    color: #000;
    letter-spacing: normal;
    font-family: 'Sharp Unity', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

footer .letstalk div a p {
    font-size: 14px;
    letter-spacing: normal;
    line-height: 1.3;
    margin-bottom: 15px;
    padding: 0 10%
}

footer .letstalk div a p br {
    display: none
}

footer .letstalk div a strong {
    color: #000;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px
}

footer .letstalk div a:hover {
    background: #000
}

footer .letstalk div a:hover h2,footer .letstalk div a:hover strong {
    color: #FFF
}

footer .info {
    width: 50%;
    background: #38393b;
    color: #999;
    padding: 50px 50px 0 50px;
    height: 200px;
    font-size: 14px;
    overflow: hidden
}

footer .info a {
    color: #d3d3d3;
    text-decoration: none
}

footer .info table {
    margin: 0;
    width: 100%
}

footer .info table td {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    vertical-align: top;
    overflow: hidden
}

footer .info table td.network div {
    display: table;
    float: right
}

footer .info table td.network div p {
    display: table-cell
}

footer .info table td.network div p:nth-child(1) {
    padding-right: 50px
}

footer .info td .copyright {
    color: #a8a7a7;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 30px;
    letter-spacing: 1px
}

footer .info .network a {
    display: block;
    text-decoration: none;
    color: #999
}

footer .info .network a:hover {
    color: #FFF;
}

footer .social {
    width: 19%;
    position: absolute;
    left: 50%;
    height: 200px;
    overflow: hidden;
    background: #2c2c2e;
    cursor: pointer;
    -moz-transition-property: margin-top 0.1s ease-in-out;
    -webkit-transition-property: margin-top 0.1s ease-in-out;
    -o-transition-property: margin-top 0.1s ease-in-out;
    transition-property: margin-top 0.1s ease-in-out;
/*    transition: all .25s ease-in-out;*/
}

footer .social .scroller {
    margin-top: -200px;
}

footer .social .scroller div.btns {
    background: #111;
    height: 200px;
    line-height: 260px;
    text-align: center
}

footer .social .scroller div.btns ul {
    line-height: 60px;
    list-style: none;
    margin: 0;
    display: inline-block;
}

footer .social .scroller div.btns ul li {
    margin: 0;
}

footer .social .scroller div.c2a {
    text-align: center;
    height: 200px;
}

footer .social .scroller div.c2a span {
    height: 19px;
    background: url(../img/social-h.png) no-repeat left center;
    background-size: 20px auto;
    display: inline-block;
    padding-left: 30px;
    line-height: 200px;
    height: 200px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Sharp Unity', sans-serif;
}

footer .social:hover .scroller, footer .social:active .scroller, footer .social:focus .scroller {
    margin-top: 0
}


@media (max-width: 767px) {
    .footer__newsletter {
        width: 100%;
    }
    .newsletter__callout {
        width: 100%;
        float: none;
    }
    .footer__newsletter::after {
        content: none;
        display: none;
    }
    .footer__newsletter .newsletter:after {
        clear: both;
    }
    .newsletter__form__field {
        padding: 0.5em 0;
        position: inherit;
    }

    .footer__form__input {
        width: 100%;
        margin-bottom: 12px;
    }
    .footer__socialmedia {
        width: 100%;
        border-top: 1px solid #4f4f4f;
    }
    .footer__socialmedia .footer__socialmedia-title {
        width: 100%;
        padding: 0em;
        float: none;
    }
    .footer__footnote {
        display: block;
    }
    footer {
        height: auto;
    }
    footer .letstalk {
        position: relative;
        left: auto;
        height: auto;
        float: none;
        width: auto;
    }
    footer .letstalk a {
        padding: 50px 30px;
    }
    footer .social {
        float: none;
        width: 100%;
        height: 80px;
        margin: 0;
        position: relative;
        left: auto;
    }
    footer .social .scroller {
        height: 160px;
        line-height: 80px;
        margin-top: -80px;
    }
    footer .social .scroller div.btns {
        height: 80px;
        line-height: 80px;
    }
    footer .social .scroller div.btns ul {
        width: 100%;
        line-height: 20px;
    }
    footer .social .scroller div.btns ul li {
        display: inline-block;
        padding: 0 13px;
    }
    footer .social .scroller div.c2a {
        height: 80px;
        line-height: 80px;
    }
    footer .social .scroller div.c2a span {
        height: 80px;
        line-height: 80px;
    }
    footer .info {
        height: auto;
        padding: 30px;
        font-size: 14px;
        width: 100%;
    }
    footer .info * {
        display: block;
    }
    footer .info table td.network div {
        float: none;
        width: 100%;
        padding-bottom: 70px;
        padding-top: 35px;
        display: block;
    }
}


/* Slider */
.image-slider {
  position: relative;
}
.image-slider .slides {
  position: relative;
  overflow: hidden;
}
.image-slider .slides li {
  position: relative;
}
.image-slider .slides li > img {
  width: 100%;
}
.row .image-slider {
  margin-bottom: 24px;
}
.image-slider.height-70 .slides li {
  height: 70vh;
  min-height: 600px;
}
@media all and (max-width: 767px) {
  .image-slider.height-70 .slides li {
    height: auto;
    min-height: none;
    padding: 80px 0;
  }
  .image-slider.height-70 .v-align-transform {
    top: 0;
    transform: none;
    -webkit-transform: none;
  }
}
.flex-direction-nav a.flex-next {
  right: 16px;
}
.flex-direction-nav a.flex-next:before,
.flex-direction-nav a.flex-prev:before {
  content: "\f105";
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  color: #fff;
}
.flex-direction-nav a.flex-prev {
  left: 16px;
}
.flex-direction-nav a.flex-prev:before {
  content: "\f104";
}
.flex-direction-nav a {
  opacity: 1;
  text-shadow: none;
  color: rgba(0, 0, 0, 0);
  width: 24px;
  height: 24px;
  margin: -12px 0 0;
}
.flex-control-nav li {
  overflow: hidden;
}
.flex-control-nav li a {
  background: none;
  border: 2px solid #292929;
  width: 10px;
  height: 10px;
}
@media all and (max-width: 768px) {
  .flex-direction-nav {
    display: none;
  }
}
.controls-inside .flex-control-nav {
  bottom: 24px;
  z-index: 10;
}
.controls-inside .flex-control-nav li a {
  border-color: #fff;
}
.controls-inside .flex-control-nav li a.flex-active {
  background: #fff;
}
.image-bg .flex-control-nav li a {
  border-color: #fff;
}
.image-bg .flex-control-nav li a.flex-active {
  background: #fff;
}
.slider-thumb-controls .flex-control-thumbs {
  margin: 0;
}
.slider-thumb-controls .flex-direction-nav {
  display: none;
}
@media all and (max-width: 767px) {
  .slider-thumb-controls .flex-control-thumbs {
    display: none;
  }
  .slider-thumb-controls .flex-direction-nav {
    display: block;
  }
}
