/* ==============================================
==================Large Display==============*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container{
		width: 910px;
	}
	.our_speciality {
		padding-top: 23px;
	}
	.our_speciality_inner_area > ul > li {
	  width: 43.5%;
	}
	.callt_action_inner_area h3 {
		font-size: 25px;
	}
	.callt_action_inner_area h6 {
		font-size: 17px;
	}
	.section_title p {
		padding-left: 0;
		padding-right: 0;
	}
	.single_service_container > p {
		padding-left: 15px;
		padding-right: 15px;
	}
	.slider_inner_area h1 {
		font-size: 37px;
	}
	.nvaigation_area.fair_sticky .menuzord-menu li a {
		font-size: 13px;
		padding: 33px 10px;
	}
	.cta_type1 .btn_type1 {
		padding-left: 14px;
		padding-right: 14px;
		font-size: 13px;
	}
	.banner_area.finance .camera_next {
		right: 5%;
	}
	.banner_area2 .banner_title {
		font-size: 37px;
	}
	.title3 {
		font-size: 20px;
	}
	.case_study_hoverable_content {
		padding-bottom: 8px;
	}
	.quote_area::before {
		width: 100%;
	}
	.subscritbe_btn1 {
		top: 32px;
	}
	.quote_area::before {
		bottom: -45px;
		width: 100%;
	}
	.banner_area4 .slider_inner_area h1 {
		font-size: 37px;
	}
    .comming_soon_inner_content_bottom {
        padding-top: 70px;
    }
	.camera_prev {
		left: 1%;
	}
	.camera_next {
		right: 4%;
	}
	.quote2_top_fild > ul > li {
		width: calc(33% - 21px);
	}
	.accordion1 h5 {
		font-size: 18px;
	}
	.custom_grid2_inContainer {
		width: 440px;
	}
	.section_title h2,h2 {
		font-size: 30px;
	}
	.call_action_text {
		font-size: 21px;
	}
	.work_process_icon i {
		font-size: 40px;
	}
	.toolbar_content li {
		margin-right: 13px;
	}
	.service_area.type5::after {
		width: 30%;
	}
	.service4_content {
		padding-left: 13px;
		width: calc(100% - 60px);
	}
	.service_title2 {
		font-size: 21px;
		line-height: 54px;
	}
	.service4_icon i {
		font-size: 37px;
	}
	.single_service_container2 i {
		font-size: 36px;
	}
	.service_area.type6 ul li {
		padding: 40px 18px;
	}
	.single_team_member_container{
		padding-bottom: 30px;
	}
	.ptb_100 {
		padding-bottom: 70px;
		padding-top: 70px;
	}
	.team4 .member_info_container {
		padding-left: 60px;
	}
	.team4 .team_member_image img {
		width: 100%;
	}
	.team4 .single_team_member_container:nth-child(2n) .member_info_container {
		left: -50%;
		padding-left: 0;
		padding-right: 60px;
	}
	.clients_area a img {
		width: 100%;
	}
	.features1 .features_icon {
		height: 50px;
		width: 50px;
	}
	.features1 .features_icon i {
		font-size: 19px;
		line-height: 50px;
	}
	.project1 .single_project_media img{
		width: 100%;
	}
	.case_study_top img{
		width: 100%;
	}
	.menuzord-menu > li > .megamenu.megamenu-half-width {
		width: 70% !important;
	}
	.accordion3 .accordion_heading a h6 {
		color: #fff;
		font-size: 15px;
	}
	.job_post_area .single_job_post_container{
		margin-bottom: 30px;
	}
	.testimonial3 .client_speech::before {
		top: 136px;
	}
	.testimonial3 .client_speech::after {
		top: 137px;
	}
    .info2.inco_list i{
        font-size: 28px;
        vertical-align: top;
    }
    .info2.inco_list span {
        padding-left: 0px;
        padding-top: 10px;
        font-size: 14px;
    }
    .info2.inco_list .info_content {
        width: calc(100% - 65px);
        display: inline-block;
        padding-left: 11px;
        font-size: 16px;
    }
    .main_menu_logo img{
        width: 80%;
    }
    #menuzord2 .menuzord-menu{
        padding-left: 0px;
    }
    .block1 .right_align_image {
        right: 0px;
        height: 80%;
        top: 50%;
        transform: translateY(-50%);
    }
    .block1 .content_block_inner_area {
        height: inherit;
    }
    .block2 .left_align_image {
        height: 80%;
        top: 50%;
        transform: translateY(-50%);
    }
    .block2 .content_block_inner_area {
        height: 500px;
    }
    .content_blocks.mtb_100{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .block4 .full_width_container:nth-child(even) .content_block_inner_content h2{
        padding-right: 0px;
    }
	.features5 .align_image {
		width: 28%;
	}
	.service9 article.service_features .service_features_inner_content h3 {
		padding-bottom: 20px;
		padding-right: 30px;
	}
    .callt_action_inner_area h2 {
        line-height: 40px;
    }
    .banner_area2 {
        background-position: 63% 0;
    }
    .case_study_hoverable_content {
        padding-right: 14px;
    }
    .slider_inner_area h1 {
        line-height: 45px;
    }
    .single_service_container > a {
        padding-top: 20px;
    }
    .custom_grid2_inContainer {
        margin-left: 40px;
    }
    .toolbar_content ul li a {
        padding-right: 15px;
    }
    .single_service_container > p {
        padding-left: 0px;
        padding-right: 0px;
    }
    .faq_container.ptb_90_100 {
        padding-bottom: 84px;
        padding-top: 90px;
    }
    .features3 .single_features_container{
        margin-bottom: 40px;
    }
    .features3.ptb_90 {
        padding-bottom: 30px;
        padding-top: 90px;
    }
    #logo_move {
        margin-top: 100px;
    }
    .error_inner_content span {
        font-size: 96px;
        line-height: 48px;
        padding-bottom: 15px;
    }
    .error_inner_content h1 {
        font-size: 36px;
        padding-bottom: 5px;
    }
    .nvaigation_area .menuzord-menu li a {
        font-size: 13px;
        padding: 39px 10px;
    }
    .error_inner_content h3 {
        padding-bottom: 26px;
    }
    .job_post1.ptb_90 {
        padding-bottom: 50px;
        padding-top: 90px;
    }
    .digital_agency.fair_tab {
        padding-top: 50px;
    }
	/*--------Rtl Style-----------*/
	.float .sl_service::after {
		right: 375px;
	}
	.rtl .service_area.type5::after {
		right: 70%;
		width: 30%;
	}
	.rtl .team4 .single_team_member_container:nth-child(2n) .team_member_image {
		left: -50%;
		padding-left: 0;
		padding-right: 0;
	}
	.rtl .team4 .single_team_member_container:nth-child(2n) .member_info_container {
		left: 50%;
		padding-left: 96px;
		padding-right: 0;
	}

}


/* ==============================================
==================Medium Display==============*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container,.container.special1 {
        width: 728px;
    }
	.sl_service::after,.sl_service::before {
		right: 0;
	}
	.our_speciality {
		padding-top: 34px;
	}
	.our_speciality_inner_area > ul > li {
		width: 47.5%;
	}
	.footer_widget {
		padding-bottom: 25px;
		padding-top: 25px;
	}
	.copyright {
		text-align: center;
	}
	.footer_top {
		padding-bottom: 10px;
		padding-top: 54px;
	}
    .footer_99 .footer_top{
        padding-top: 0;
    }
	.single_service_container > p {
		font-size: 16px;
	}
	.cta_type1{
		display: none;
	}
	.slider_inner_area h1 {
		font-size: 30px;
		line-height: 40px;
	}
	.nvaigation_area.fair_sticky .menuzord-menu li a {
		color: #fff;
		font-size: 13px;
		padding: 33px 9px;
	}
	.banner_area.finance .camera_next {
		right: 6%;
	}
	.fair_tab1 .image_box{
		padding-top: 30px;
	}
	.banner_content {
		flex-flow: column nowrap;
		height: calc(700px - 0px);
	}
	.service_bottom_img > h5 {
		padding-left: 100px;
		padding-right: 100px;
	}
	.single_case_study_container{
		margin-bottom: 30px;
	}
	.quote_area::before {
		opacity: 0.1;
	}
	.subscritbe_btn1 {
		top: 32px;
	}
	.social_icon ul li {
		padding-right: 22px;
	}
	.footer_type2 .copyright > p {
		font-size: 13px;
	}
	.menuzord-menu li a {
		font-size: 13px;
	}
	.single_service_container > p {
		padding-left: 0;
		padding-right: 0;
	}
    .block7 .content_block_inner_content {
        padding-bottom: 60px;
        padding-top: 30px;
    }
	.service_title2 {
		font-size: 21px;
	}
	.alert_area{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.callt_action3 .fbtn{
		margin-top: 20px;
	}
	.service8.callt_action7 .service_container{
		margin-bottom: 30px;
	}
    .job_post1.ptb_90 {
        padding-bottom: 50px;
        padding-top: 90px;
    }
	.accordion1 h5 {
		font-size: 20px;
	}
	.banefits{
		padding-bottom: 40px;
	}
	.single_career_container {
		padding-top: 50px;
	}
	.accordion_heading {
		padding-bottom: 18px;
		padding-right: 4px;
	}
	.accordion_body {
		padding-right: 0;
		padding-top: 17px;
	}
	.accordion1 h5 {
		font-size: 20px;
	}
	.service_area.type6 ul {
		display: inline-block;
		overflow: hidden;
	}
	.work_process_content {
		padding-left: 18px;
		padding-right: 0;
		width: calc(100% - 55px);
	}
    .comming_soon_inner_content_bottom {
        padding-top: 70px;
    }
	.work_process_icon i {
		font-size: 35px;
	}
	.work_process_content > h5 {
		font-size: 22px;
	}
	.nvaigation_area .menuzord-menu li a {
		font-size: 14px;
		padding: 32px 9px;
	}
	.custom_grid2_inContainer {
		padding-right: 15px;
		width: 350px;
	}
	h2 {
		font-size: 29px;
	}
	.video_testimonial {
		height: 150px;
	}
	.banner_area5 .slider_inner_content > p {
		padding-bottom: 30px;
		padding-right: 0;
	}
	.service_area.type5::after {
		width: 43%;
	}
	.toolbar_content {
		text-align: center;
	}
	.nvaigation_area .menuzord-brand {
		margin: 8px 25px 6px 0;
	}
	.service_area.type6 ul li {
		width: 50%;
		margin-bottom: 30px;
	}
	.about_us3_inner_container {
		padding-bottom: 80px;
		padding-top: 72px;
	}
	.blog1_single_container .title2 {
		line-height: 27px;
	}
	.blog1_single_container {
		padding-right: 0px;
	}
	.container.type1 {
		width: 750px;
	}
	.promo_area_body {
		padding-right: 20px;
	}
	.service9 .service_inner_content {
		padding-right: 20px;
	}
	h1 {
		font-size: 44px;
	}
	.service9 article.service_features .service_features_inner_content h3 {
		padding-bottom: 20px;
		padding-right: 30px;
	}
	.service9 article.service_features .service_features_inner_content {
		padding: 50px 40px 47px 25px;
	}
	.team4 .team_member_image {
		width: 50%;
	}
	.breadCrumb2 .bread_crumb_inner_area {
		height: 430px;
	}
	.team4 .team_member_image img{
		width: 100%;
	}
	.team4 .member_info_container {
		padding-left: 30px;
		width: 50%;
	}
	.team4 .single_team_member_container:nth-child(2n) .team_member_image {
		padding-left: 0px;
	}
	.team4 .single_team_member_container:nth-child(2n) .member_info_container {
		left: -50%;
		padding-left: 0;
		padding-right: 30px;
		position: relative;
	}
	.ptb_100 {
		padding-bottom: 70px;
		padding-top: 70px;
	}
    section.features_area.features4 {
        padding-bottom: 0;
    }
	.single_team_member_container{
		padding-bottom: 30px;
	}
	.features1 .features_body {
		padding-left: 19px;
		width: calc(100% - 54px);
	}
	.clients_area a img {
		width: 100%;
	}
	.features1 .features_icon {
		height: 50px;
		width: 50px;
	}
	.features1 .features_icon i {
		font-size: 17px;
		line-height: 50px;
	}
	.breadCrumb2 .bread_crumb_inner_area {
		width: 100%;
	}
	.job_post1 .single_job_post_container {
		margin-bottom: 40px;
	}
	.project1 .single_project_media img{
		width: 100%;
	}
	.case_study_top img{
		width: 100%;
	}
	.facts1 .single_facts_container {
		padding-left: 0;
	}
    .features_bottom_image img{
        width: 100%;
    }
    .nvaigation_area .menuzord-brand {
        margin: 24px 15px 6px 0;
    }
	.menuzord-menu > li > .megamenu.megamenu-half-width {
		width: 70% !important;
	}
	.ptb_100_30 {
		padding-top: 0px;
		padding-bottom: 30px;
	}
	.owl-carousel img{
		width: 100% !important;
	}
	.carosuel3 .item img{
		width: 100% !important;
	}
	.testimonial3 .client_speech::before {
		top: 190px;
	}
	.testimonial3 .client_speech::after {
		top: 190px;
	}
    .info2.inco_list .info_content {
        padding-bottom: 30px;
    }
    .code_box_area{
        margin-top: 40px;
    }
    .service7 .service_content{
        margin-bottom: 50px;
    }
    .service_speciality .full_width_content_box {
        width: 30%;
    }
    .banner8 h1.fz_60{
        font-size: 48px;
    }
    .main_menu_logo img{
        width: 100%;
        margin-top: 100px;
    }
    .features3 .single_features_container{
        margin-bottom: 40px;
    }
    #menuzord2 .menuzord-menu{
        padding-left: 0px;
    }
    .block1 .right_align_image {
        right: 0px;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
    }
    .block1 .content_block_inner_area {
        height: 500px;
    }
    .block2 .left_align_image {
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
    }
    .block2 .content_block_inner_area {
        height: inherit;
    }
    .block2.mtb_100{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .block3 .content_block_inner_area {
        padding-left: 60px;
    }
    .block3 article:nth-child(2n) .content_block_inner_area {
        padding-right: 60px;
    }
    .tab_item {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        flex-grow: 7;
        justify-content: center;
    }
	.features5 .align_image {
		width: 40%;
	}
	.features5 .features_body {
		padding-right: 0;
	}
    .banner11 .camera_prev {
        left: calc(100%  - 80px);
        top: calc(50% - 62px);
    }
    .footer5 .footer_menu ul li {
        margin-right: 12px;
    }
    .footer5 .footer_info_bar ul li {
        font-size: 13px;
        margin-right: 7px;
    }
    .footer5 .footer_info_bar ul li::after {
        display: none;
    }
    .footer5 .footer_menu ul li a {
        font-size: 13px;
    }
    .search_box.mb_50{
        margin-bottom: 30px;
    }
    .accordion2.accordion2{
        padding-bottom: 40px;
    }
    .accordion1.accordion1{
        padding-bottom: 0px;
    }
    .features2 .features_body h5 {
        padding-bottom: 4px;
        padding-top: 24px;
    }
    .accordion_area.pt_90{
        padding-top: 70px;
    }
    .pricing_table1 .single_pricing_table,.pricing_table2 .single_pricing_table{
        margin-bottom: 30px;
    }
    .alert {
        width: 100%;
    }
    .callt_action_inner_area h2 {
        line-height: 42px;
        padding-top: 8px;
    }
    .callt_action5 .callt_inner_content {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        height: 200px;
        justify-content: center;
    }
	.single_menu_list > a {
		font-size: 13px !important;
	}
	.single_menu_list {
		padding-left: 10px !important;
	}
    .callt_action5 .callt_inner_content h4 + h4 {
        font-size: 15px;
        line-height: 20px;
        margin: 0;
        padding-top: 8px;
        color: #eee;
    }
    .callt_action12 h5 {
        color: #666;
        font-size: 16px;
    }
    .callt_action12 h5 span {
        color: #222;
        display: block;
        font-size: 24px;
        padding-bottom: 5px;
    }
    .call_action_text {
        font-size: 26px;
        line-height: 34px;
    }
    .gridsc2 h3 {
        padding-top: 30px;
    }
    .grid_container.ptb_100 {
        padding-bottom: 19px;
        padding-top: 60px;
    }
    .pb_100.grid_container{
        padding-bottom: 50px;
    }
    .gridsc3 h3,.gridsc4 h3{
        padding-top: 30px;
    }
    .single_testimonial_container{
        padding-bottom: 60px;
    }
    .testimonial2 .client_speech {
        margin-top: 20px;
    }
    .banner_area2 {
        background-position: 50% 0;
    }
    .banner_area2 .banner_content {
        padding-right: 130;
    }
    .single_service_container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .sl_service::after {
        top: 80px;
    }
    .service_area .single_testimonial_container{
        padding-bottom: 0px;
    }
    .ptb_90_100 {
        padding-bottom: 70px;
        padding-top: 70px;
    }
    .custom_grid2_inContainer {
        margin-left: 24px;
    }
    .service_area.type6 ul li {
        width: 50%;
        border-bottom-color: transparent;
        margin-bottom: 0;
    }
    .service_area.type6 ul li:nth-child(3),
    .service_area.type6 ul li:nth-child(4){
        border-bottom-color: #ddd;
    }
    .single_service_container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .features3.ptb_90 {
        padding-bottom: 34px;
        padding-top: 70px;
    }
    .testimonial9.ptb_90 {
        padding-bottom: 15px;
        padding-top: 70px;
    }
    .toolbar_content.align_left span {
        line-height: 45px;
        padding-top: 15px;
        text-align: center;
    }
    .service7.ptb_100 {
        padding-bottom: 10px;
        padding-top: 70px;
    }
	.footer4 .footer_top{
		padding-top: 0;
	}
    footer.footer_type2 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    section.testimonial_area.testimonial5 {
        padding-bottom: 10px;
        padding-top: 70px;
    }
	.megamenu3 .mega_menu_half_content {
		align-items: flex-start;
	}
	/*--------Rtl Style---------------*/
	.rtl .sl_service:first-child {
		margin-left: 0;
		margin-right: 0;
	}
	.rtl .sl_service::after {
		right: 367px;
	}
	.rtl .our_speciality_inner_area > ul > li:first-child {
		left: 48%;
		margin-left: 28px;
	}
	.rtl .our_speciality_inner_area > ul > li:last-child {
		margin-left: -51%;
	}
	.rtl .work_process_content {
		padding-left: 0px;
		padding-right: 10px;
		width: calc(100% - 59px);
	}
	.rtl .team4 .member_info_container {
		padding-left: 0;
		padding-right: 30px;
		width: 50%;
	}
	.rtl .team4 .single_team_member_container:nth-child(2n) .team_member_image {
		left: -50%;
		padding-left: 0;
		padding-right: 0;
	}
	.rtl .team4 .single_team_member_container:nth-child(2n) .member_info_container {
		left: 50%;
		padding-left: 30px;
		padding-right: 0;
	}
}

/* ==============================================
==================Tab Screen==============*/
@media only screen and (max-width: 767px) {
    .our_speciality_inner_area > ul > li {
		float: left;
		margin-bottom: 40px;
		margin-right: 0px;
		width: 100%;
	}
	.banner_area.finance .camera_next {
		right: 6%;
	}
	.our_speciality_inner_area > ul > li:last-child {
		margin-right: 0;
		padding-left: 26px;
		padding-right: 30px;
	}
	.sl_service::after,.sl_service::before{
		display: none;
	}
	.single_testimonial_container {
		padding-bottom: 30px;
	}
	.section_title {
		padding-bottom: 20px;
	}
	.footer_widget {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.footer_top {
		padding-bottom: 7px;
		padding-top: 64px;
	}
	.footer4 .copyright {
		text-align: center;
	}
	.cta_type1{
		display: none;
	}
	.nvaigation_area.fair_sticky .menuzord-menu li a {
		color: #fff;
		font-size: 14px;
		padding: 12px 14px;
	}
	.case_study_top img {
		padding-top: 0;
	}
	.case_studies_video {
		margin-top: 40px;
	}
	.case_study_middle{
		padding-top: 40px;
	}
	.case_study_bottom {
		padding-top: 0;
	}
	.nvaigation_area.fair_sticky .menuzord-menu li a {
		font-size: 12px !important;
		padding: 33px 9px !important;
	}
	.nvaigation_area.fair_sticky .menuzord-menu li a {
		font-size: 12px !important;
		padding: 14px 9px !important;
	}
	.banefits{
		padding-bottom: 40px;
	}
	.nvaigation_area.fair_sticky .menuzord-brand {
		line-height: 1.3;
		margin: 10px 22px 10px 0px;
	}
	.slider_inner_area h1 {
		font-size: 28px;
	}
	.menuzord-responsive .menuzord-menu > li > a {
		padding: 12px 20px;
		width: 100%;
	}
	.banner_area2 {
		height: 600px;
	}
	.banner_area2 .banner_title {
		font-size: 34px;
		padding-bottom: 18px;
	}
	.member_info_container {
		padding-left: 0;
	}
	.timeline1 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.alignment_middle {
		align-items: center;
		display: inline-block;
		justify-content: center;
	}
	.about_us_contnet_area {
		padding-left: 19px;
		padding-top: 30px;
	}
	.footer4 .footer_top{
		padding-top: 0;
	}
	.job_post2 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.job_post2 .content_box{
		padding-bottom: 0px;
	}
	.job_post2 .content_box h3{
		padding-bottom: 20px;
	}
	.service_bottom_img > h5 {
		line-height: 32px;
		padding-left: 30px;
		font-size: 22px;
		padding-right: 30px;
	}
	.single_case_study_container{
		margin-bottom: 30px;
	}
	.quote_area::before{
		display: none;
	}
	.single_input_field {
		display: block;
		margin-bottom: 30px;
	}
	.footer_top{
		padding-top: 30px;
	}
	.footer_type2 .social_icon{
		padding-top: 40px;
	}
	.footer_type2 .social_icon,.footer_type2 .copyright {
		text-align: left;
	}
	.padding4 {
		padding-bottom: 90px;
		padding-top: 90px;
	}
	.subscritbe_btn1 {
		height: 53px;
		line-height: 52px;
		right: 0;
		top: 31px;
	}
	.service_area.type6 ul {
		display: inline-block;
		overflow: hidden;
	}

	.about_me_left{
		padding-top: 40px;
	}
	.nvaigation_area .menuzord-brand {
		margin: 10px 30px 11px 0px;
	}
    .job_post1.ptb_90 {
        padding-bottom: 30px;
        padding-top: 70px;
    }
	.camera_prev {
		left: 0%;
	}
    .features6 .feautures_inner_container ul {
        flex-flow: column nowrap;
    }
    .features6 .feautures_inner_container ul li {
        padding-bottom: 30px;
        padding-top: 30px;
        width: 100%;
    }

	.camera_next {
		right: 4%;
	}
	.banner_area4 .slider_inner_area h1 {
		font-size: 35px;
	}
	.features1 .features_body h4 {
		padding-bottom: 6px;
		padding-top: 20px;
	}
	.features1 .features_body {
		display: inline-block;
		padding-left: 0;
		width: 100%;
	}
	.features1 .single_features_container {
		text-align: center;
	}
	.team3 {
		padding-top: 60px;
		padding-bottom: 50px;
	}
	.radius_image_container{
		margin-bottom: 30px;
	}
	.quote2_top_fild > ul > li {
		margin-right: 0px;
		width: 100%;
	}
    .comming_soon_inner_content_bottom {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 42px;
    }
    #countdownTimer ul li{
        margin-right: 15px;
        font-size: 36px;
    }
    .comming_soon_inner_content h1 {
        font-size: 36px;
    }
	.accordion1 h5 {
		font-size: 20px;
	}
	.intro1 .intro_content {
		padding-top: 40px;
	}
	.features5 .align_image {
		height: 400px;
		position: relative;
		width: 100%;
		padding-bottom: 40px;
	}
	.callt_action5 .callt_inner_content {
		display: flex;
		flex-flow: column nowrap;
		height: 101px;
		padding-top: 70px;
	}
	.partners.type1 h5{
		padding-bottom: 10px;
	}
	.button_shortcode a {
		margin-bottom: 15px;
	}
	.callt_action5 .calt_btn_area {
		height: 170px;
		justify-content: center;
	}
	.features5 .single_features_container{
		padding-bottom: 50px;
	}
	.left_offset_grid {
		margin-left: 0px;
	}
	.form_container_type2 {
		display: inline-block;
		margin-bottom: 71px;
	}
	.slider_inner_area {
		align-content: center;
		align-items: center;
		display: flex;
		height: 423px;
	}
	.features1{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.work_process_container .custom_grid2 > ul > li {
		float: none;
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.custom_grid2_inContainer {
		margin-left: 0px;
		width: 420px;
	}
	h2 {
		font-size: 29px;
	}
	.work_process_container .custom_grid2_inContainer {
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.work_process_content {
		padding-right: 57px;
		width: calc(100% - 77px);
	}
	.work_process_icon i {
		font-size: 38px;
	}
	.single_video_testimonial_container {
		padding-bottom: 30px;
	}
    .call_to_action2_inner_area_left, .call_to_action2_inner_right {
        height: 104px;
    }
	.call_to_action2_inner_area_left{
		padding-top: 40px;
		padding-bottom: 30px;
	}
	.service_area::after {
		display: none;
	}
	.process_left_container {
		height: 250px;
		margin-right: 0px;
		background-position: center center;
	}
	.custom_grid2 ul {
		width: 100%;
	}
	.single_video_testimonial_container h6 {
		padding-top: 16px;
	}
	.toolbar_content {
		text-align: center;
	}
	.single_service_container2 i {
		font-size: 40px;
	}
	.title3 {
		font-size: 19px;
	}
	.service_area.type6 ul li {
		padding: 39px 13px;
		width: 50%;
		margin-bottom: 30px;
	}
	.about_us3_left_container svg {
		height: 300px;
		margin: 0 auto;
		width: 300px;
	}
	.about_us3_left_container {
		text-align: center;
	}
	.container.special1 {
		width: 450px;
	}
	.pricing_table1_single_container{
		margin-bottom: 30px;
	}
	.promo_area_body{
		padding-bottom: 30px;
		padding-right: 24px;
	}
	.alert_area{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.search{
		display: none;
	}
	.about_us3_inner_container {
		padding-bottom: 80px;
		padding-top: 55px;
	}
	.typphography_example_container	{
		margin-bottom: 30px;
	}
	.box_container{
		margin-bottom: 30px;
	}
	.ptb_70{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.team4 .team_member_image img {
		width: 100%;
	}
	.team4 .member_info_container {
		padding-left: 0;
	}
	.team4 .single_team_member_container:nth-child(2n) .team_member_image {
		left: 0;
		padding-left: 0;
		position: relative;
	}
	.team4 .single_team_member_container:nth-child(2n) .member_info_container {
		left: 0;
		padding-left: 0;
		position: relative;
	}
	.member_info_container{
		padding-top: 30px;
	}
	.team1 .single_team_member_container {
		padding-bottom: 40px;
	}
	.callt_action3 p {
	    padding-bottom: 50px;
	}
	.ptb_100 {
		padding-bottom: 60px;
		padding-top: 60px;
	}
	.team4 .team_member_image {
		width: 100%;
	}
	.team4 .member_info_container {
		padding-left: 0;
		width: 100%;
	}
	.team3 .team_member_image img {
		width: initial;
	}
	.team3 .member_info_container{
		text-align: center;
	}
	.single_team_member_container{
		margin-bottom: 30px;
	}
	.clients_area .fd_5 {
		width: 50%;
		padding-bottom: 30px;
	}
	.single_input_field3 {
		margin-bottom: 20px;
	}
	.bread_crumb_inner_area.alignment_row {
		width: 100%;
	}
	.features1 .single_features_container {
		padding-bottom: 30px;
	}
	.aout_us_companny_content{
		padding-top: 30px;
	}
    .toolbar_content.align_right li:last-child {
        text-align: center;
    }
	.pb_100{
		padding-bottom: 50px;
	}
	.timeline article {
		padding-bottom: 72px;
		text-align: center;
	}
	.timeline .timeline_content {
		padding-left: 0;
		width: 100%;
	}
	.timeline_image{
		margin-bottom: 30px;
	}
	.job_post1 .single_job_post_container {
		margin-bottom: 40px;
	}
	.project1 .single_project_media img{
		width: 100%;
	}
	.project1 .single_project_media{
		padding-top: 30px;
	}
	.pagination1 ul li{
		margin-bottom:15px;
	}
	.social_icon2 ul li a span {
		margin-right: 20px;
	}
	.case_study_top img{
		width: 100%;
	}
	.case_study_bottom_left{
		padding-bottom: 40px;
	}
	.about_me_left{
		padding-bottom: 30px;
	}
	.facts1 .single_facts_container {
		padding-bottom: 30px;
		padding-left: 0;
		text-align: center;
	}
	.banner7 {
		background-position: 70% 77%;
		height: 560px;
	}
	.banner7 .banner_inner_area {
		height: calc(602px - 96px);
	}
	.banner7 h1 {
		font-size: 67px;
		font-weight: 700;
		line-height: 64px;
	}
	.banner7 h3 {
		font-size: 18px;
		padding-top: 10px;
	}
	.testimonial9 .single_testimonial_content {
		padding-left: 10px;
		padding-right: 10px;
	}
	.drop_down2 svg {
		display: none;
	}
	.dropDowncmn .dropdown {
		border-radius: 0px;
		box-shadow: none;
	}
	.drop_down2 li:last-child {
		display: none;
	}
	.menuzord-menu{
		background: #fff;
	}
	.nvaigation_area .menuzord-menu li a {
		color: #222222;
	}
	.contact_field_area{
		padding-bottom: 40px;
	}
	.ptb_80 {
		padding-top: 0px;
		padding-bottom: 80px;
	}
	.nvaigation_area.type3.transparent .menuzord-menu > li > a {
	    color: #171717;
	}
	.ptb_100_30 {
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.row.alignment_center{
		display: block;
	}
    .footer_top{
        padding-top: 0;
    }
	.content_box{
		padding-bottom: 40px;
	}
	.single_pricing_table{
		margin-bottom: 30px;
	}
    .row.alignment_middle{
        display: block;
    }
    .inco_list.info2 .info_content{
        padding-bottom: 30px;
    }
    .code_box_area{
        margin-top: 40px;
    }
    .pb_90 {
        padding-bottom: 50px;
    }
    .pt_90 {
        padding-top: 50px;
    }
    .service7 .service_content{
        margin-bottom: 50px;
    }
    .service7 .service_content:last-child{
        margin-bottom: 0px;
    }
    .service_speciality .full_width_content_box {
        display: none;
    }
    .banner8 .banner_inner_area.alignment_middle{
        display: flex;
    }
    .banner8 .fz_60 {
        font-size: 40px;
        font-size: 50px;
    }
    .features_bottom_image img {
        width: 100%;
    }
    .fair_tab1.about_us_area .tab-content h4 {
        padding-right: 90px;
    }
    .about_us_area .image_box{
        margin-top: 40px;
    }
    .service8 .service_container{
        margin-bottom: 30px;
    }
    .pt_100 {
        padding-top: 50px;
    }
    .features2 .single_features_container{
        margin-bottom: 45px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .fbtn4 {
        line-height: 45px;
        width: 150px;
        font-size: 13px;
    }
    .banner9 #logo_move{
        display: none;
    }
    .banner9 .alignment_middle {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .features3 .single_features_container {
        margin-bottom: 40px;
    }
    .testimonial9 .single_testimonial_container{
        padding-bottom: 30px;
    }
    .subscribe3 .subscribe_box {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .about_author_inner_content img{
        display: none;
    }
    #menuzord2 .menuzord-menu{
        padding-left: 0px;
    }
    .block1 .right_align_image {
        display: none;
    }
    section.features_area.features4 {
        padding-top: 80px;
        padding-bottom: 30px;
    }
    .block1 .content_block_inner_area {
        height: inherit;
        padding-bottom: 10px;
    }
    .features4 .single_features_container{
        padding-bottom: 30px;
    }
    .block2 .left_align_image {
        display: none;
    }
    .block2 .content_block_inner_area {
        height: inherit;
    }
    .block2.mtb_100{
        margin-top: 50px;
        margin-bottom:80px;
    }
    .banner10 .banner_inner_content h1 {
        font-size: 25px;
        font-weight: 300;
        line-height: 35px;
    }
    .banner10 .alignment_middle {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .pricing_area .single_pricing_table{
        margin-bottom: 30px;
    }
    .pricing_table3 .single_pricing_table.active {
        transform: translateY(0px);
    }
    .work_process2 .process_direction_arrow{
        display: none;
    }
    .block3 .content_block_inner_area {
        padding-left: 0;
        width: 100%;
    }
	.block3 .content_block_image_area {
		width: 100%;
		height: 260px;
		border-radius: 10px;
	}
    .block3 article {
        align-items: center;
        display: block;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .block3 article:nth-child(2n) .content_block_inner_area {
        left: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .block3 article:nth-child(2n) .content_block_image_area {
        left: 0;
        position: relative;
    }
    .block3 article:nth-child(2n) .content_block_image_area img {
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .block3 .content_block_inner_content {
        padding-bottom: 60;
        padding-top: 40px;
    }
    .block3 article:last-child .content_block_inner_content {
        padding-bottom: 0;
        padding-top: 40px;
    }
    .work_process2 .single_work_process_container{
        padding-bottom: 40px;
    }
    .block4 .full_width_content_box{
        position: relative;
        height: 250px;
        width: 100%;
        display: block;
    }
    .block4 .full_width_container:nth-child(2n) .full_width_content_box {
        width: 100%;
    }
	.block5 .content_box{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.service9 .service_image_container {
		width: 100%;
		padding-right: 0;
	}
	.service9 .service_inner_content {
		padding-bottom: 30px;
		padding-right: 30px;
		padding-left: 30px;
		padding-top: 30px;
	}
	.service9 article.service_features .service_features_inner_content {
		padding: 50px 30px 47px 25px;
		position: relative;
		z-index: 99;
		border-radius: 10px;
	}
	.service9 article.service_features .service_features_inner_content h3 {
		color: #fff;
		padding-bottom: 20px;
		padding-right: 30px;
	}
	.service9 article.service_features .service_features_content_area{
		margin-top: 30px;
	}
	.service9 .single_service_body {
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}
	.under_construction_content {
		padding-left: 50px;
		padding-right: 50px;
	}
	.error_inner_content span {
		font-size: 70px;
		line-height: 80px;
		padding-bottom: 0;
	}
	.error_inner_content h1 {
		font-size: 36px;
		padding-bottom: 13px;
	}
    .banner11 h1 {
        line-height: 40px;
    }
    .banner11 .camera_prev {
        left: calc(100%  - 80px);
        top: calc(50% - 62px);
    }
    .subscribe3 .row.eqh{
        display: block;
    }

	.callt_action3 p{
		padding-bottom: 30px;
	}
    .subscribe3 .subscribe_image_area{
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .subscribe3 .alignment_middle{
        display: flex;
    }
    .banner12 .banner_inner_area {
        height: calc(491px - 75px);
    }
    .banner12 {
        height: 500px;
    }
    .banner12 .banner_inner_area h1 {
        font-size: 36px;
        line-height: 44px;
        padding-bottom: 20px;
    }
    .block7 .eqh {
        align-items: normal;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    .block7 .content_block_image_area {
        height: 230px;
    }
    .block7 .ptb_100_80 {
        padding-bottom: 30px;
        padding-top: 60px;
    }
    .fair_tab1 .tab-content a {
        padding-bottom: 30px;
    }
    .features6 .single_features_container {
        border-right: none;
    }
    .footer5 .footer_menu {
        text-align: center;
    }
    .footer5 .footer_menu ul li {
        margin-right: 15px;
    }
    .footer5 .footer_info_bar ul li {
        margin-right: 11px;
    }
    .footer5 .footer_info_bar ul li::after {
        display: none;
    }
    .footer5 .footer_info_bar {
        padding-top: 30px;
    }
    .footer5 .social_icon_bar4 {
        padding-top: 22px;
        text-align: center;
    }
    .footer5 .copyright {
        padding-top: 10px;
    }
    .callt_action6 .calt_btn_area {
        align-items: center;
        justify-content: flex-start;
        height: initial;
        padding-bottom: 60px;
    }
    .callt_action6 .callt_inner_content{
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .callt_action6 .callt_inner_content, .callt_action6 .calt_btn_area {
        height: initial;
    }
    .callt_action10 .callt_inner_content {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        height: initial;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .callt_action10 .calt_btn_area {
        height: initial;
        justify-content: flex-start;
        padding-bottom: 50px;
    }
    .callt_action12 .calt_btn_area {
        padding-bottom: 40px;
        height: initial;
        justify-content: flex-start;
    }
    .accordion2.accordion2{
        padding-bottom: 40px;
    }
    .accordion1.accordion1{
        padding-bottom: 0px;
    }
    .accordion_area.pt_90{
        padding-top: 70px;
    }
    .accordion_area .section_tilte.pb_60{
        padding-bottom: 30px;
    }
    .menuzord-brand img {
        width: 70%;
    }
    .nvaigation_area .menuzord-brand {
        margin: 7px 15px 9px 0;
    }
    .copyright{
        text-align: left;
    }
    .accordion3 .accordion_heading a::before {
        display: none;
    }
    .accordion3 .accordion_heading a {
        padding: 10px 10px 10px 20px;
    }
    .alert2.bordered.no_dismiss .alert {
        display: inline-flex;
    }
    .alert2.bordered.no_dismiss .alert  i{
        display: inline-block;
        padding-right: 7px;
    }
    .callt_action_inner_area P{
        padding-bottom: 30px;
    }
    .callt_action_inner_area h2 {
        line-height: 36px;
    }
    .gridsc2 h3 {
        padding-top: 30px;
    }
    .grid_container.ptb_100 {
        padding-bottom: 19px;
        padding-top: 60px;
    }
    .pb_100.grid_container{
        padding-bottom: 50px;
    }
    .gridsc3 h3,.gridsc4 h3{
        padding-top: 30px;
    }
    .footer_inner_container .social_icon ul li {
        padding-right: 20px;
    }
    .footer_inner_container .social_icon ul li a i {
        font-size: 18px;
    }
    .callt_action12 h5 span {
        display: block;
        font-size: 24px;
    }
    .callt_action12 h5 {
        font-size: 18px;
    }
    .team3 .member_title{
        text-align: center;
    }
    .team4 h6 {
        font-size: 15px;
        line-height: 22px;
    }
    .single_service_container2 i {
        padding-bottom: 15px;
    }
    .single_service_container2 {
        padding-bottom: 30px;
    }
    .section_tilte.type2 {
        padding-bottom: 30px;
    }
    .xs_mt_30{
        margin-top: 30px;
    }
    .banner_area.finance .slider_inner_area h1 {
        font-size: 28px;
        line-height: 39px;
    }
    .banner_area.finance .slider_inner_content {
        padding-top: 70px;
    }
    .service1 .single_service_container{
        padding-bottom: 40px;
    }
    .service1 .single_service_container:last-child{
        padding-bottom: 40px;
    }
    .single_service_container > a {
        padding-top: 20px;
    }
    .service1 .row.ptb_100{
        padding-top: 0;
    }
    .ptb_90_100 {
        padding-bottom: 50px;
        padding-top: 70px;
    }
    .our_speciality.pt_70{
        padding-top: 30px;
    }
    .toolbar_content > span {
        display: block;
        line-height: 43px;
        text-align: center;
        width: 100%;
    }
    .service_area.ptb_90 {
        padding-bottom: 50px;
        padding-top: 80px;
    }
    .testimonial_area.ptb_90 {
        padding-bottom: 20px;
        padding-top: 60px;
    }
    .testimonial_area.ptb_100 {
        padding-bottom: 20px;
        padding-top: 60px;
    }
	.callt_action3  .fbtn{
		text-transform: inherit;
	}
    .work_process_container .custom_grid2_inContainer {
        padding-bottom: 60px;
        padding-top: 55px;
    }
    .section_tilte.type4 {
        padding-bottom: 50px;
    }
    .single_video_testimonial_container {
        padding-bottom: 40px;
    }
    .testimonial5 .single_testimonial_container{
        text-align: center;
    }
    .blog1 .blog1_single_container{
        padding-bottom: 40px;
    }
    .testimonial5 .client_speech {
        display: block;
        padding-left: 0;
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .pricing_table1.ptb_90_100 {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .service_area.type6 ul li {
        margin-bottom: 0;
        border-bottom-color: transparent;
    }
    .service_area.type6 ul li:last-child{
        border-bottom-color: #ddd;
    }
    .about_us3_left_container {
        padding-top: 50px;
    }
    .testimonial4_slider{
        padding-bottom: 40px;
    }
    .about_us3_inner_container {
        padding-bottom: 60px;
        padding-top: 20px;
    }
    .promo_container.ptb_90 {
        padding-bottom: 60px;
        padding-top: 55px;
    }
    .section_title.type5 {
        padding-bottom: 20px;
    }
    .promo_area_body {
        padding-bottom: 55px;
        padding-right: 10px;
    }
    .blog_area.blog1{
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
    }
    .banner_area4 .slider_inner_area {
        height: calc(422px + 65px);
    }
    .banner_area4 .slider_inner_area h1 {
        line-height: 40px;
    }
    .service_area.ptb_90 {
        padding-bottom: 40px;
        padding-top: 30px;
    }
    .service_area .single_service_container{
        padding-bottom: 40px;
    }
    .faq_container  .accordion1{
        padding-top: 30px;
    }
    .faq_container.ptb_90_100{
        padding-bottom: 70px;
    }
    .features3.ptb_90 {
        padding-bottom: 40px;
        padding-top: 80px;
    }
    .testimonial9 .single_testimonial_container {
        padding-bottom: 50px;
    }
    .subscribe3 .subscribe_image_area {
        padding-top: 75px;
    }
    .subscribe3 .subscribe_box {
        margin-bottom: 70px;
    }
    .banner8 {
        height: 500px;
    }
    .banner8 .banner_inner_content h1 {
        font-size: 36px;
        line-height: 39px;
    }
    .banner8 .banner_inner_area {
        height: calc(539px - 100px);
    }
    .banner11 .slider_inner_area {
        height: 485px;
    }
    .features_area.features6{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .block7 .row.ptb_90_80 {
        padding-bottom: 7px;
        padding-top: 70px;
    }
    .fair_tab1.ptb_100_90 {
        padding-bottom: 90px;
        padding-top: 12px;
    }
    .fair_tab1 .carousel6{
        padding-top: 40px;
    }
    .testimonial4_slider.white_bg h4 {
        line-height: 34px;
    }
    .toolbar_content.align_left span {
        line-height: 17px;
        padding-top: 15px;
        text-align: center;
    }
    .error_inner_content h3 {
        padding-bottom: 35px;
    }
    .error_content  img{
        width: 100%;
    }
    .features2 .features_body h5 {
        padding-bottom: 4px;
        padding-top: 24px;
    }
    .marketing.banner_area2 .banner_content {
        height: calc(557px + 45px);
    }
    .service7 .service_container{
        margin-bottom: 50px;
    }
	.facts1{
		padding-top: 50px;
	}
	.testimonial9{
		padding-top: 40px;
	}
    section.service_area {
        padding-bottom: 70px;
    }

	/*------Rtl Style----------*/
	.float .sl_service:first-child {
		margin-left: 0;
		margin-right: 0;
	}
	.float .our_speciality_inner_area > ul > li:first-child {
		left: 0;
		margin-left: 0;
		margin-right: 0;
		position: relative;
	}
	.float .our_speciality_inner_area > ul > li:last-child {
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.float .speciality_image {
		margin-left: 44px;
		margin-right: 42px;
	}
	.rtl div[class^="col-"] {
		direction: rtl;
		float: none;
	}
	.rtl .quote2_top_fild ul li:last-child {
		margin-right: 0px;
	}
	.rtl .team4 .member_info_container {
		padding-left: 0;
		padding-right: 0px;
	}
	.rtl .team4 .single_team_member_container:nth-child(2n) .team_member_image {
		left: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.rtl .team4 .single_team_member_container:nth-child(2n) .member_info_container {
		left: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

/* ==============================================
=============Medium Mobile Screen==============*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
        width: 450px;
    }
	.container.type1 {
		width: 450px;
	}
	.process_left_container {
		width: 100%;
	}
    .banner10 .banner_inner_area {
        height: calc(500px - 75px);
    }
    .service1 .single_service_container {
        padding-bottom: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .service_area.type6 ul li:nth-child(3) {
        border-bottom-color: #ddd;
    }
}
/* ==============================================
============Small Mobile Display==============*/
@media only screen and (min-width: 300px) and (max-width: 479px) {
/*
	.container,.container.special1 {
        width: 300px;
    }
*/
	.container.type1 {
		width: 300px;
	}
    .banner9 .banner_inner_area {
      height: calc(500px - 50px);
    }
    .fbtn.btn-round-1 {
      line-height: 45px;
      width: 150px;
    }
	.single_service_container {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.single_service_container i {
		font-size: 48px;
		line-height: 51px;
	}
	.single_service_container h4 {
		padding-bottom: 19px;
		padding-top: 24px;
	}
	.single_service_container > p {
		font-size: 18px;
		padding-left: 15px;
		padding-right: 15px;
	}
    .block1 .content_block_inner_area p, .block2 .content_block_inner_area p {
        padding-bottom: 30px;
    }
	.row.padding1 {
		padding-bottom: 59px;
		padding-top: 44px;
	}
	.callt_action_inner_area h3 {
		font-size: 25px;
	}
	.callt_action_inner_area h6 {
		font-size: 17px;
	}
	.section_title h2 {
		font-size: 24px;
		line-height: 35px;
	}
	.single_service_container h4 {
		font-size: 26px;
	}
	.rtl footer div[class^="col-"] {
		float: none !important;
		direction: rtl;
	}
	.code_box_area {
		background: #fff none repeat scroll 0 0;
		border: 1px solid #ddd;
		padding: 29px 18px;
	}
	.banner_area.finance .camera_next {
		right: 9%;
	}
	.title2 {
		font-size: 18px;
		line-height: 26px;
	}
	h2 {
		font-size: 28px;
		font-weight: 300;
	}
	.under_construction_content {
		padding-left: 10px;
		padding-right: 10px;
	}
	.title3 {
		font-size: 20px;
	}
	.padding3 {
		padding-bottom: 60px;
		padding-top: 50px;
	}
	.case_study_hoverable_content {
		padding-bottom: 6px;
		padding-right: 9px;
	}

	.footer_links {
		text-align: left;
	}
	.useful_address {
		text-align: left;
	}
	.social_icon ul li {
		padding-right: 23px;
	}
	.social_icon ul li a i {
		color: #ffffff;
		font-size: 22px;
	}
	.error_content img{
		width: 100%;
	}
	.footer_type2 .copyright > p {
		line-height: 34px;
		padding-top: 34px;
	}
	.about_us_content_area2 {
		padding-left: 0px;
		padding-right: 0px;
	}
	.quote2_inner_area {
		padding-left: 0px;
		padding-right: 0px;
	}
	.accordion_heading {
		padding-bottom: 18px;
		padding-right: 0px;
	}
	.accordion_body {
		padding-right: 0px;
		padding-top: 17px;
	}
	.accordion1 h5 {
		font-size: 16px;
	}
	.camera_next {
		right: 7%;
	}
	.camera_next span, .camera_prev span {
		height: 50px;
		width: 50px;
	}
	.camera_next span::before,.camera_prev span::before {
		font-size: 24px;
		line-height: 50px;
	}
	.toolbar_content {
		text-align: left;
	}
	h4 {
		font-size: 25px;
	}
	.alert_area{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.banner_area5 .slider_inner_content > p {
		padding-right: 0px;
	}
	.slider_inner_area h1 {
		font-size: 19px;
	}
	.banner_area5 .slider_inner_content > p {
		padding-right: 0px;
		font-size: 14px;
	}
	.btn_type1 {
		font-size: 16px;
		line-height: 52px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.section_tilte.type2 > p {
	    padding-bottom: 7px;
	    padding-top: 30px;
	}
    .fair_tab .fair_tab_panel li a {
        line-height: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .fair_tab_list .tab-content {
        width: 100%;
        vertical-align: top;
        padding-left: 45px;
    }
    .fair_tab_list.fair_tab .fair_tab_panel li {
        float: left;
    }
    .fair_tab_list.fair_tab4 .fair_tab_panel li a {
        font-size: 12px;
        color: #222222;
        width: 87px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .fair_tab_list.fair_tab .fair_tab_panel li:last-child a {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left-color: transparent;
        border-top-color: #ddd;
        border-bottom-left-radius: 0px;
    }
    .fair_tab.fair_tab4 .fair_tab_panel li.active:last-child a {
        border-left: 1px solid #0482f8;
        border-top-color: #0482f8;
    }
    .fair_tab_list.fair_tab .fair_tab_panel li:first-child a {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right-color: transparent;
        border-top-right-radius: 0px;
        border-bottom-color: #ddd;
    }
    .fair_tab_list.fair_tab4 .fair_tab_panel li.active a {
        border-bottom-color: #0482f8;
        border-right-color: #0482f8;
    }
    .fair_tab4.fair_tab_list .tab-content {
        width: 100%;
    }
    .breadCrumb2 h6 {
        padding-right: 17px;
    }
    .fair_tab1.content .fair_tab_panel li a{
        padding-left: 0;
        padding-right: 0;
        line-height: 30px;
        font-size: 12px;
    }
    .fair_tab1.content .fair_tab_panel li a i{
        transform: none !important;
        top: 0px;
        line-height: 15px;
    }
	.service9 .service_image_container {
		height: 300px !important;
		padding-right: 0;
	}
    .fair_tab1 .fair_tab_panel li{
        margin-right: 7px;
    }
    .fair_tab1 .fair_tab_panel li a i {
        font-size: 24px;
        color: #fff;
    }
    .fair_tab1 .fair_tab_panel li a {
        width: 75px;
        height: 75px;
    }
	.service4_content {
	    padding-left: 11px;
	    width: calc(100% - 60px);
	}
	.service4_icon i {
	    font-size: 35px;
	}
	.service_title2 {
	    font-size: 20px;
	}
	.intro1 .intro_image img{
		width: 100%;
	}
	.section_tilte.type2 {
		padding-bottom: 30px;
	}
	.call_to_action2_inner_area_left, .call_to_action2_inner_right {
		height: initial;
		padding-bottom: 30px;
	}
	.call_action_text {
		font-size: 21px;
		line-height: 34px;
	}
	.work_process_content {
		padding-right: 0px;
		width: calc(100% - 53px);
		padding-left: 12px;
	}
	.work_process_icon i {
		font-size: 34px;
	}
	.work_process_content > h5 {
		font-size: 19px;
		padding-bottom: 14px;
	}
	.process_left_container {
		margin-right: 0px;
		width: 100%;
	}
	.banner_field ul {
		display: inline-block;
	}
	.banner_field ul li {
		margin-right: 0;
		width: 100%;
	}
	.about_us3_left_container svg {
		height: 300px;
		width: 270px;
	}
	.section_title.type5 h2 {
		line-height: 34px;
		padding-right: 40px;
	}
	.service_area.type6 ul li {
		padding: 39px 13px;
		width: 100%;
	}
	h1{
		font-size: 35px;
		line-height: 40px;
	}
    .features3 .features_body {
        text-align: left;
        width: 100%;
        padding-left: 0px;
    }
	h2{
		font-size: 26px;
        line-height: 35px;
	}
	h3{
		font-size: 24px;
	}
	h4{
		font-size: 20px;
	}
	h5{
		font-size: 16px;
	}
    .ptb_100 {
        padding-bottom: 70px;
        padding-top: 40px;
    }
    .pricing_table3 {
        padding-top: 70px;
        padding-bottom: 40px;
    }
	.clients_area .fd_5 {
		width: 100%;
		padding-bottom: 30px;
		text-align: center;
	}
	.clients_area a {
		display: inline-block;
	}
	.single_job_post_container_bottom {
		display: inline-block;
	}
	.single_job_post_container_bottom span{
		display: inline-block;
		padding-bottom: 20px;
	}
	.callt_action_inner_area {
		height: 440px;
	}
	.form3 {
		margin-left: 0;
		margin-right: 0;
		padding: 55px 20px 53px;
	}
	.social_icon2 a {
		padding-right: 25px;
	}
	.form4 {
		box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
		margin-left: 0;
		margin-right: 0;
		padding: 55px 25px 53px;
	}
	.banner11 h1 {
		line-height: 36px;
		font-size: 26px;
	}
	.form5 {
		margin-left: 0;
		margin-right: 0;
		padding: 55px 30px 53px;
	}
	.banner7 h1 {
		font-size: 48px;
		line-height: 50px;
	}
    .banner8 .fz_60 {
        font-size: 30px;
    }
    .banner8 .banner_inner_area {
        height: calc(500px - 100px);
    }
    .banner8 {
        height: 500px;
    }
    .banner8 .nvaigation_area.type3 {
        padding-left: 16px;
    }
    .banner9 .nvaigation_area.type3 {
        padding-left: 8px;
    }
    .banner9 .banner_inner_area {
        height: calc(500px - 50px);
    }
    .banner9 {
        height: 500px;
    }
	.service9 article.service_features .service_features_inner_content h3 {
		padding-bottom: 20px;
		padding-right: 0;
	}
	.service9 article.service_features .service_features_content_area {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
    .quote2_top_fild > ul > li {
		margin-right: 0px;
		width: 100%;
	}
    .comming_soon_inner_content_bottom {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 42px;
    }
    #countdownTimer ul li{
        margin-right: -5px;
        font-size: 24px;
    }
    #countdownTimer ul li span{
        font-size: 13px;
    }
    .comming_soon_inner_content_bottom {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 42px;
    }
    .social_bar3 ul li {
        margin-right: 22px;
    }
    .comming_soon_inner_content h1 {
        font-size: 20px;
    }
    .carousel6 .owl-next {
        right: -17px;
    }
    .carousel6 .owl-prev {
        right: 96%;
        top: calc(50% - 15px);
    }
    .footer5 .footer_info_bar {
        padding-top: 30px;
        text-align: center;
    }
    .menuzord-menu > li > .megamenu .megamenu-row .col5,.menuzord-menu > li > .megamenu .megamenu-row .col4 {
        display: none !important;
    }
    .callt_action9 h2 {
        line-height: 36px;
    }
    .callt_action9 .callt_action_inner_area {
        padding-left: 20px;
        padding-right: 20px;
    }
    .callt_action7 .image_bg{
        margin-bottom: 30px;
    }
    .fair_tab9 h4 {
        font-size: 18px;
        line-height: 30px;
        padding: 25px 20px 19px 30px;
    }
    .accordion2 .accordion_heading a h5 {
        padding-left: 40px;
        padding-right: 20px;
    }
    .accordion2 .accordion_heading a.collapsed::before {
        left: 18px;
    }
    .accordion2 .accordion_heading a::before {
        left: 16px;
    }
    .breadCrumb4 .bread_crumb_inner_area {
        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;
    }
    .callt_action_inner_area h2 {
        line-height: 34px;
    }
    .callt_action_inner_area P {
        line-height: 26px;
        padding-bottom: 10px;
    }
    .callt_action_inner_area h2 {
        padding-bottom: 30px;
        padding-top: 8px;
    }
    .callt_action10 h5 {
        line-height: 25px;
        padding-top: 5px;
    }
    .call_action_text {
        font-size: 20px;
        line-height: 28px;
    }
    .subscribe_field > input {
        line-height: 39px;
    }
    .subscritbe_btn1 {
        height: 41px;
        line-height: 43px;
        top: 32px;
    }
    .subscribe_inner_area {
        padding-bottom: 55px;
    }
    .footer_bottom2 .pt_80{
        padding-top: 50px;
    }
    .footer_type2 .copyright > p {
      line-height: 28px;
    }
    .footer_links ul li a {
      display: block;
      line-height: 30px;
    }
    .footer4 .footer_top ul li {
        margin-right: 22px;
    }
    .footer_top2 .pb_70{
        padding-bottom: 50px;
    }
    .footer_bottom2 .pt_70{
        padding-top: 50px;
    }
    .testimonial3 .client_speech::before {
        top: 137px;
    }
    .testimonial3 .client_speech::after {
        top: 138px;
    }
    .banner_area2 {
        height: 500px;
    }
    .banner_area2 .banner_content {
        height: calc(500px + 29px);
    }
    .faq_container.pb_50{
        padding-bottom: 15px;
    }
    .case_study_area.ptb_90_100 {
        padding-bottom: 40px;
        padding-top: 60px;
    }
    .footer_links ul li::after {
        top: 10px;
    }
    .footer_type2.ptb_90 {
        padding-bottom: 70px;
        padding-top: 70px;
    }
    .speciality_container_area .speciality_icon {
        margin-bottom: 20px;
    }
    .our_speciality ul li {
        text-align: center;
    }
    .speciality_container_area .speciality_text {
        width: 100%;
        padding-left: 0;
    }
    .our_speciality_inner_area > ul > li:last-child {
        padding-left: 0;
        padding-right: 0;
    }
    .speciality_image {
        margin-left: 0px;
    }
    .banner_area4 .slider_inner_area h1 {
        line-height: 35px;
    }
    .owner_signature.pb_80{
        padding-bottom: 50px;
    }
    .section_title.type3 h6 {
        padding-bottom: 1px;
        padding-top: 25px;
    }

    .error_inner_content .fbtn2 {
        border-radius: 5px;
        line-height: 50px;
        width: 173px;
    }
    .callt_action4 {
        display: flex;
        flex-flow: column nowrap;
        height: 335px;
    }
    .features_bottom_image.pt_80{
        padding-top: 20px;
    }
    section.service_area {
        padding-bottom: 40px;
    }
    .testimonial5_1 {
        padding-bottom: 40px;
    }
    .service_area.service1 {
        padding-bottom: 0;
    }
    .testimonial4 {
    	padding-top: 80px;
    	padding-bottom: 30px;
    }
    .agency.service_area {
        padding: 10px 0 50px;
    }
}

@media (max-width: 768px){
	/*-------------------------------
			==Start menuzord css
	-------------------------------*/
	.nvaigation_area .menuzord-menu li a {
		padding: 13px 14px;
	}
	.menuzord-responsive .menuzord-menu.scrollable{
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		position: absolute;
		top: 100%;
	}
	.nvaigation_area.type2 {
		padding-left: 30px;
		padding-right: 30px;
	}
	.nvaigation_area.type2 .menuzord{
		padding-left: 0;
		padding-right: 0;
	}
	.nvaigation_area.type3 .menuzord {
		background: transparent none repeat scroll 0 0 !important;
		float: left;
		padding: 0 0px;
		position: relative;
		width: 100%;
	}
	.nvaigation_area.type3 {
		position: relative;
		background: #fff;
		padding-left: 30px;
		padding-right: 30px;
	}
	.nvaigation_area.type3 .menuzord-menu li a {
		color: #333333;
		padding: 13px 14px;
	}
	.breadCrumb2 .nvaigation_area.type3 .menuzord-menu > li > a {
		color: #333;
	}
	.menuzord-menu{
		background: #fff;
	}
	.menuzord-responsive .menuzord-menu > li:last-child{
		display: none !important;
	}
	.nvaigation_area.type3.transparent .menuzord-menu > li > a {
		color: #333;
	}
    .banner10 .banner_inner_area {
        height: calc(500px - 75px);
    }
    .container_style.nvaigation_area.type3{
        padding-left: 7px;
    }
    .offcanvas.in_menubar{
        display: none;
    }
    .no_canvas_xs{
        display: none;
    }
    .search5 {
        display: none;
    }
	.megamenu-row.eqh{
		display: inline-block;
	}
	.mega_menu_contnet_container{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.ddt2 svg {
		display: none;
	}
	.ddt2 li:last-child{
		padding-bottom: 0;
	}
	.mega_menu_contnet_container {
		display: none;
	}
	/*---------------------------
			==Mixed Css==
	----------------------------*/
    .banner10 .overlay{
        display: inherit;
    }
    .banner10 .banner_inner_content h1 {
        color: #fff;
        font-size: 30px;
        line-height: 40px;
    }
    .banner10 .banner_inner_content h5 {
        color: #aaa;
        font-size: 18px;
        line-height: 30px;
    }
    .service_area.type5 {
        padding-bottom: 40px;
        padding-top: 70px;
    }
    .about_us_area {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .faq_container {
        padding-bottom: 20px;
    }
    .case_study_area {
        padding-bottom: 50px;
    }
    .service1 {
        padding-top: 70px;
    }
    .service_area
     .section_title {
        padding-bottom: 040px;
    }
    .callt_action_inner_area {
        height: 350px;
    }
    .about_us_area.type_99 {
    	padding-top: 0;
    	padding-bottom: 0;
    }
    .seo.promo_container {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .seo.pricing_area.pricing_table1 {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .seo .section_title {
    	padding-bottom: 50px;
    }
    .seo.service_area.type6 {
        padding: 0;
    }
    .agency.service_area {
        padding: 10px 0 80px;
    }
    .agency.features_area.features2 {
        padding-top: 80px;
    }
    .agency .features_bottom_image {
        padding-top: 0;
    }
    .digital_agency.fair_tab {
        padding-top: 60px;
    }
    .block7 .content_block_inner_content {
        padding-bottom: 0;
    }
    .about_author_inner_content {
        padding-bottom: 0;
        padding-top: 0;
    }
    .about_author_inner_content img {
        position: absolute;
        right: calc(100% + 132px);
        bottom: calc(100% + -520px);
    }
    .footer_99 .footer_top{
        padding-top: 0;
    }
    .footer.footer_99 {
        padding-top: 60px;
    }
    .consult.service_area{
        padding-top: 0;
    }
}
