.rtl div[class^="col-"] {
    float: right;
    direction: rtl;
}
.rtl .col_exception{
	float: left !important;
	direction: rtl !important;
}
.rtl .col_none{
	float: left !important;
	direction: ltr !important;
}

/*------------------------
		Service Area
-----------------------*/
.rtl .sl_service:first-child{
	margin-left: 16.66%;
	margin-right: 8.33%;
}
.rtl .sl_service:last-child {
	margin-left: -8.66%;
}
.rtl .sl_service::after{
	right: 486px;
}
.rtl .service_area::after {
	position: absolute;
	left: inherit;
	right: 50%;
	width: 50%;
	border-radius: 10px;
	background-position: left;
}
.rtl .service_area.type6 ul li {
	float: right;
}
/*---------------------------
	==Team==
---------------------------*/
.rtl .team4 .member_info_container {
	padding-left: 0;
	padding-right: 96px;
}
.rtl .team4 .single_team_member_container:nth-child(2n) .team_member_image {
	left: -50%;
	padding-left: 0;
	padding-right: 96px;
}
.rtl .team4 .single_team_member_container:nth-child(2n) .member_info_container {
	left: 50%;
	padding-left: 0;
	padding-right: 0;
}
/*------------------------------
		==Subscribe area==
------------------------------*/
.rtl .subscritbe_btn1 {
	right: 68%;
}
.rtl .subscribe_field > input {
	padding-left: 0;
	padding-right: 20px;
}
/*------Promo Area-----------*/
.rtl .section_title.type5 h2 {
	padding-left: 100px;
	padding-right: 0;
}
.rtl .promo_area_body {
	padding-left: 80px;
	padding-right: 0;
}
.rtl  .section_title.type5 {
	text-align: right;
}
/*---------Input Field----------*/
.rtl .field_type1 {
	padding-right: 15px;
	padding-left: 0;
}
/*------Why Choose-------------*/
.rtl .custom_grid2_inContainer {
	margin-left: 0px;
	margin-right: 30px;
}
.rtl .service4_content {
	padding-left: 100px;
	padding-right: 25px;
	padding-left: 0;
}
/*-----Marketting----*/
.rtl .case_study_front_content{
	padding-right: 20px;
	padding-left: 0;
}
/*------Speciality---------*/
.rtl .our_speciality_inner_area > ul > li:first-child {
	left: 39%;
	margin-left: 28px;
	margin-right: 0;
	position: relative;
}
.rtl .speciality_text {
	padding-left: 0;
	padding-right: 30px;
}
.rtl .our_speciality_inner_area > ul > li:last-child {
	margin-left: -62%;
	padding-left: 0;
	position: relative;
}
.rtlrtl .speciality_image {
	margin-left: 0;
	margin-right: 30px;
}
/*---------------------------
	==Menu Area==
---------------------------*/
.rtl  .nvaigation_area .menuzord-brand{
	float: right;
}
.rtl .cta_type1 {
	float: left;
}
/*------Testimonial---------*/
.rtl .client_speech {
	padding-left: 0;
	padding-right: 30px;
}
/*---------Navigation----------*/
.rtl .menuzord-menu.menuzord-right {
    float: left;
    direction: rtl;
}
.rtl .nvaigation_area.fair_sticky .cta_type1 {
    float: left;
}
.rtl .nvaigation_area.fair_sticky .menuzord-brand {
    float: right;
}
.rtl .menuzord-menu > li {
	direction: rtl;
	display: inline-block;
	float: right;
}
/*-------------------------------
		==Quote Area==
-------------------------------*/
.rtl .single_input_field input,.rtl .single_input_field textarea{
	padding-right: 20px;
	padding-left: 0;
}
.rtl .quote2_top_fild ul li:first-child {
  margin-right: 0;
}
.rtl .nice-select {
	text-align: right !important;
}
.rtl .nice-select::after {
	right: 90%;
}
.rtl .quote2_top_fild ul li:first-child {
	margin-right: 0;
}
.rtl .quote2_top_fild ul li input {
	padding-left: 0px;
	padding-right: 20px;
}
.rtl .quote2_top_fild ul li:last-child {
	margin-right: 30px;
}
.rtl .quote2_bottom_fild > textarea {
	padding-left: 0px;
	padding-right: 20px;
}
/*----------------------------------
		==Start faq==
----------------------------------*/
.rtl .accordion_heading a::before {
	left: calc(100% + 25px);
}
/*------------------------------
		==Start footer==
------------------------------*/
.rtl .social_icon.align_right li:first-child {
	padding-right: 0;
}