body{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Slab', serif;
    font-weight: 300;
	font-size: 16px;
	color: #888;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto Slab', serif;
}
a{
    font-family: 'Roboto', sans-serif;
}
p {
    color: #888888;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
}