@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Sharp Unity';
    src: url('SharpUnity-Semibold.eot');
    src: url('SharpUnity-Semibold.eot') format('embedded-opentype'), url('SharpUnity-Semibold.ttf') format('truetype'), url('SharpUnity-Semibold.woff') format('woff'), url('SharpUnity-Semibold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Unity';
    src: url('SharpUnity-Extrabold.eot');
    src: url('SharpUnity-Extrabold.eot') format('embedded-opentype'), url('SharpUnity-Extrabold.ttf') format('truetype'), url('SharpUnity-Extrabold.woff') format('woff'), url('SharpUnity-Extrabold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Ginger';
    src: url('ginger-regular-webfont.eot');
    src: url('ginger-regular-webfont.eot') format('embedded-opentype'), url('ginger-regular-webfont.ttf') format('truetype'), url('ginger-regular-webfont.woff') format('woff'), url('ginger-regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'geomanist';
    src: url('geomanist-regular-webfont.eot');
    src: url('geomanist-regular-webfont.eot') format('embedded-opentype'), url('geomanist-regular-webfont.ttf') format('truetype'), url('geomanist-regular-webfont.woff') format('woff'), url('geomanist-regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal
}